openapi: 3.0.3
info:
  title: Embedded Banking API
  version: 0.9.44
  description: Embedded Banking services from J.P. Morgan
  contact:
    name: JPMC Technical Services Support
servers:
  - url: https://apigateway.jpmorgan.com/tsapi/v1/eb
    description: Production API Server
  - url: https://apigatewaycat.jpmorgan.com/tsapi/v1/eb
    description: CTE API Testing Server
security:
  - IDAnywhere: []
tags:
  - name: Clients
    description: Onboard and manage Embedded Banking clients.
  - name: Accounts
    description: Create, organize and manage Embedded Banking accounts.
  - name: Debit Cards
    description: Request and manage Embedded Banking debit cards.
  - name: Recipients
    description: Set up and manage who can be paid through Embedded Banking transactions.
  - name: Check Deposit
    description: Remotely deposit checks.
  - name: Reconciliation
    description: APIs to retrieve reconciled transactions as part End of Day(EOD) batch.
  - name: Transactions
    description: Initiate and track the movement of funds, including payments.
  - name: Cases
    description: Create and manage support request cases for Embedded Banking users.
  - name: Legal Documents
    description: Manage and access legal documents related to Embedded Banking.
  - name: Reference Data
    description: Access reference data to populate Embedded Banking experiences, such as onboarding.
  - name: Documents
    description: Manage document upload and retrieval.
  - name: Users
    description: Manage users of an Embedded Banking profile.
  - name: Statements
    description: Access monthly statements for Embedded Banking accounts.
  - name: Faq
    description: Retrieve general FAQ content and FAQ content unique to your platform.
  - name: BillingsConfig
    description: Generate client and associated pay-as-you-go configurations.
  - name: Webhooks
    description: Create and manage webhook subscriptions for your platform.
  - name: User-Controller
    description: Manage users of an Embedded Banking profile.
  - name: Role-Controller
    description: Manage roles of Users.
  - name: User-Ops-Controller
    description: Internal APIs to manage users of an Embedded Banking profile.
paths:
  /clients:
    get:
      tags:
        - Clients
      summary: List clients
      description: Retrieves a list of Embedded Banking clients associated with your platform.
      operationId: getAllClients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClientInformationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Clients
      summary: Create client
      description: Creates a new client.
      operationId: postClients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
            examples:
              CreateClientSolePropReq:
                $ref: "#/components/examples/CreateClientSolePropReq"
              CreateClientSolePropItinReq:
                $ref: "#/components/examples/CreateClientSolePropItinReq"
              CreateClientLlcReq:
                $ref: "#/components/examples/CreateClientLlcReq"
              CreateClientLlcItinReq:
                $ref: "#/components/examples/CreateClientLlcItinReq"
              CreateClientCorpReq:
                $ref: "#/components/examples/CreateClientCorpReq"
              CreateClientCorporationItinReq:
                $ref: "#/components/examples/CreateClientCorporationItinReq"
              CreateClientLpSsnReq:
                $ref: "#/components/examples/CreateClientLpSsnReq"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
              examples:
                CreateClientSolePropRes:
                  $ref: "#/components/examples/CreateClientSolePropRes"
                CreateClientSolePropItinRes:
                  $ref: "#/components/examples/CreateClientSolePropItinRes"
                CreateClientLlcRes:
                  $ref: "#/components/examples/CreateClientLlcRes"
                CreateClientLlcItinRes:
                  $ref: "#/components/examples/CreateClientLlcItinRes"
                CreateClientCorpRes:
                  $ref: "#/components/examples/CreateClientCorpRes"
                CreateClientCorporationItinRes:
                  $ref: "#/components/examples/CreateClientCorporationItinRes"
                CreateClientLpSsnRes:
                  $ref: "#/components/examples/CreateClientLpSsnRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/clients/{id}":
    get:
      tags:
        - Clients
      summary: Get client
      description: Returns details for a specific client using their unique identifier.
      operationId: getClientDetails
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
          example: "1000011675"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
              examples:
                SkeletonClientClientShouldRetrieveItsOwnInformationRes:
                  $ref: "#/components/examples/SkeletonClientClientShouldRetrieveItsOwnInformationRes"
                IncompleteOnboardingClientShouldRetrieveItsOwnInformationRes:
                  $ref: "#/components/examples/IncompleteOnboardingClientShouldRetrieveItsOwnInformationRes"
                FullyOnboardedClientClientShouldRetrieveItsOwnInformationRes:
                  $ref: "#/components/examples/FullyOnboardedClientClientShouldRetrieveItsOwnInformationRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Clients
      summary: Update client
      description: Updates information about a specified client.
      operationId: updateClients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateClientResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/clients/{id}/verifications":
    get:
      summary: Get client verifications
      description: Get current and outstanding verifications for a given client. These tell clients what is required to complete onboarding.
      tags:
        - Clients
      operationId: getClientVerification
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Unique identifier for a client.
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientVerificationsInformationResponse"
              examples:
                ClientSubmittedVerificationsSuccessfully:
                  $ref: "#/components/examples/ClientSubmittedVerificationsSuccessfully"
                ClientVerificationResponseWhenIdentityVerificationFailedForClient:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationFailedForClient"
                ClientVerificationResponseWhenIdentityVerificationPrimaryDocumentsUploadedSuccessfullyForClient:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationPrimaryDocumentsUploadedSuccessfullyForClient"
                ClientVerificationResponseWhenIdentityVerificationSecondaryDocumentsUploadedSuccessfullyForClient:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationSecondaryDocumentsUploadedSuccessfullyForClient"
                ClientVerificationResponseWhenIdentityVerificationFailedForRelatedParty:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationFailedForRelatedParty"
                ClientVerificationResponseWhenIdentityVerificationPrimaryDocumentUploadedSuccessfullyForRelatedParty:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationPrimaryDocumentUploadedSuccessfullyForRelatedParty"
                ClientVerificationResponseWhenIdentityVerificationFailedForBothClientAndRelatedParty:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationFailedForBothClientAndRelatedParty"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Add client verifications
      description: Adds verification information provided by the client to continue onboarding.
      operationId: addClientVerification
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - in: path
          name: id
          description: Unique identifier for a client.
          schema:
            type: string
          required: true
          example: "1000011659"
      requestBody:
        description: Client verification to add to the system.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientVerificationsInformationRequest"
            examples:
              ClientShouldSuccessfullyPostVerificationAnswersReq:
                $ref: "#/components/examples/ClientShouldSuccessfullyPostVerificationAnswersReq"
        required: true
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientVerificationsInformationResponse"
              examples:
                ClientShouldSuccessfullyPostVerificationAnswersRes:
                  $ref: "#/components/examples/ClientShouldSuccessfullyPostVerificationAnswersRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /documents:
    get:
      summary: Get details for all documents based on DocumentType provided
      description: Retrieves the metadata of the documents with their ids based on the product and jurisdiction for a particular client.
      operationId: documentsDetails
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/documentType"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsDetailsResponse"
              examples:
                LatestClientDocumentDetailResponseByDocumentType:
                  $ref: "#/components/examples/LatestClientDocumentDetailResponseByDocumentType"
        "400":
          $ref: "#/components/responses/400_documents"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Upload document
      description: |
        - This end point allows the end user to upload document.
        - File types allowed are : heic, jpeg, jpg, pdf, png.
        - The maximum size allowed for the document through this API is 5MB.
      operationId: uploadDocument
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
      requestBody:
        description: |
          This section allows the user to attach the binary file upload  and meta-data associated with the document.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                documentData:
                  $ref: "#/components/schemas/DocumentUploadData"
              required:
                - file
                - documentData
            encoding:
              file:
                contentType: application/pdf, image/heic, image/jpeg, image/png
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/documents/{id}":
    get:
      summary: Retrieve details of a document
      description: Retrieve details of a document using the document unique identifier.
      operationId: getDocumentDetails
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - in: path
          name: id
          description: Document unique identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddef
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDetails"
              examples:
                GetDocumentDetailsByDocumentIdExampleForTermsAndConditions:
                  $ref: "#/components/examples/GetDocumentDetailsByDocumentIdExampleForTermsAndConditions"
                GetDocumentDetailsByDocumentIdExampleForCIPDocument:
                  $ref: "#/components/examples/GetDocumentDetailsByDocumentIdExampleForCIPDocument"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/documents/{id}/file":
    get:
      summary: Download a document
      description: Download a document using the document unique identifier.
      operationId: downloadDocument
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - in: path
          name: id
          description: Document unique identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddba
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
            image/png:
              schema:
                type: string
                format: byte
            image/jpeg:
              schema:
                type: string
                format: byte
            image/heic:
              schema:
                type: string
                format: byte
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /payables:
    post:
      summary: Create payable
      description: Creates a new payable.
      operationId: createPayable
      tags:
        - Payables
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
      requestBody:
        description: Contains the required information to create a payable.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayableRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayableResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: List payables
      description: Lists payables for a specific client.
      operationId: listPayables
      tags:
        - Payables
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPayableResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/payables/{id}":
    get:
      summary: Get payable
      description: Retrieves details for a specific payable using its unique identifier.
      operationId: getPayable
      tags:
        - Payables
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - name: id
          in: path
          description: Unique identifier for a payable.
          required: true
          example: 73bd1c1d-6635-43ff-a8e5-b252926bdd9e
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayableResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /transactions:
    post:
      summary: Create transaction
      description: Creates a new transaction, such as a payment via ACH, Wire or Real Time Payments (RTP).
      operationId: createTransaction
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
      requestBody:
        description: Contains the required information to create a payment transaction.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostTransactionRequest"
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: List and filter transactions
      description: Lists transactions for a specific client, which can be filtered using optional parameters.
      operationId: listTransactions
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - in: header
          name: client_id
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
        - in: query
          name: transactionType
          schema:
            $ref: "#/components/schemas/RequestTransactionType"
          description: Filters by type of transaction.
          required: false
        - in: query
          name: status
          schema:
            $ref: "#/components/schemas/RequestTransactionStatus"
          description: Filters by transaction status.
          required: false
        - in: query
          name: accountNumber
          example: "200293631511"
          schema:
            type: string
          description: Filters by the Embedded Banking client account number connected to the transaction.
          required: false
        - in: query
          name: amountEquals
          example: "100"
          schema:
            type: string
          description: Filters by an exact amount.
          required: false
        - in: query
          name: amountGreaterThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts greater than a specified value.
          required: false
        - in: query
          name: amountLessThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts less than a specified value.
          required: false
        - in: query
          name: dateEquals
          example: 01-01-2022
          schema:
            type: string
          description: Filters transactions by an exact date.
          required: false
        - in: query
          name: dateGreaterThan
          example: 01-01-2022
          schema:
            type: string
          description: Filters for transactions made after this date.
          required: false
        - in: query
          name: dateLessThan
          example: 01-01-2022
          schema:
            type: string
          description: Filters for transactions made before this date.
          required: false
        - in: query
          name: dateTimeGreaterThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions made after this date and time.
          required: false
        - in: query
          name: dateTimeLessThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions made before this date and time.
        - in: query
          name: recipientAccount
          example: "200293631511"
          schema:
            type: string
          description: Filters by the recipient's account number.
          required: false
        - in: query
          name: transactionId
          example: 2451821d-e6f9-450d-b041-a20ae9d08f14
          schema:
            type: string
          description: Filters for a transaction that matches a specific transaction ID. The transaction ID is generated by Embedded Banking when a transaction is created or received.
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsSearchResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /old-transactions:
    get:
      summary: Get all transactions
      description: Lists transactions for a specific client, filtered by the parameters given.
      operationId: listTransactionsOld
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - in: header
          name: client_id
          description: Unique Client Identifier
          required: true
          style: simple
          schema:
            type: string
        - in: query
          name: transactionType
          schema:
            $ref: "#/components/schemas/RequestTransactionType"
          description: Filter on the type of transactions retrieved.
          required: false
        - in: query
          name: status
          schema:
            $ref: "#/components/schemas/RequestTransactionStatus"
          description: Filter on the status of transactions retrieved.
          required: false
        - in: query
          name: accountNumber
          example: "200293631511"
          schema:
            type: string
          description: Filter on number of the client account
          required: false
        - in: query
          name: amountEquals
          example: "100"
          schema:
            type: string
          description: Filter on amount of transaction equals this.
          required: false
        - in: query
          name: amountGreaterThan
          example: "100"
          schema:
            type: string
          description: Filter on amount of transaction is greater than this.
          required: false
        - in: query
          name: amountLessThan
          example: "100"
          schema:
            type: string
          description: Filter on amount of transaction is less than this.
          required: false
        - in: query
          name: dateEquals
          example: 01-01-2022
          schema:
            type: string
          description: Filter transactions made on this date.
          required: false
        - in: query
          name: dateGreaterThan
          example: 01-01-2022
          schema:
            type: string
          description: Filter transactions made after this date.
          required: false
        - in: query
          name: dateLessThan
          example: 01-01-2022
          schema:
            type: string
          description: Filter transactions made before this date.
        - in: query
          name: recipientAccount
          example: "200293631511"
          schema:
            type: string
          description: Filter on number of the recipient account.
          required: false
        - in: query
          name: transactionId
          example: 2451821d-e6f9-450d-b041-a20ae9d08f14
          schema:
            type: string
          description: Filter on the ID of the transaction.
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TransactionsSearchResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/transactions/{id}":
    get:
      summary: Get transaction
      description: Retrieves details for a specific transaction using its unique identifier.
      operationId: getTransaction
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
          examples:
            TransactionCompleted:
              value: 1000000001
            TransactionInProgress:
              value: 1000000002
            TransactionRejected:
              value: 1000000003
        - name: id
          in: path
          description: Unique identifier for a transaction.
          required: true
          schema:
            type: string
          examples:
            TransactionCompleted:
              value: pRLY9bJqiqG1SGqe
            TransactionInProgress:
              value: pRLY9bJqiqG1SGqe
            TransactionRejected:
              value: pRLY9bJqiqG1SGqe
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionGetResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /transactions/search:
    post:
      summary: Search transactions
      description: Retrieves a list of transactions based on search criteria.
      operationId: searchTransactions
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionsSearchRequest"
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsSearchResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /old-transactions/search:
    post:
      summary: Search Transactions
      description: Retrieves a list of transactions based on search criteria
      operationId: searchTransactionsOld
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique Client Identifier
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionsSearchRequest"
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TransactionsSearchResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /check-deposits:
    post:
      summary: Deposit a check.
      description: Submit check for processing.
      operationId: depositCheck
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        description: Check information required to process the deposit.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/checkDepositRequest"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkDepositResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Check Deposit
  "/check-deposits/{id}":
    get:
      summary: Get check details.
      description: Returns information on a check deposit.
      operationId: getCheckDepositInfo
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/checkDepositID"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkDepositResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Check Deposit
  "/check-deposits/{id}/front":
    post:
      summary: Submit an image of the front side of the check.
      description: Sends an image of front side of the check for processing. The front of the check is where the account number, amount and signature are written.
      operationId: submitFrontImageOfCheck
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/checkDepositID"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                contentType: image/jpeg, image/png
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkDepositResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Check Deposit
  "/check-deposits/{id}/back":
    post:
      summary: Submit an image of the back of the check.
      description: Sends an image of back of the check for processing.
      operationId: submitBackImageOfCheck
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/checkDepositID"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                contentType: image/jpeg, image/png
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkDepositResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Check Deposit
  "/check-deposits/{id}/images":
    get:
      summary: Get check images.
      description: Returns a pdf file containing front and back image of check by id.
      operationId: getCheckImages
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/checkDepositID"
      responses:
        "200":
          description: Check downloaded successfully.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Check Deposit
  /debit-cards:
    get:
      summary: List Cards
      description: Retrieves a list of debit cards for a specific client.
      operationId: getDebitCards
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
          examples:
            Default:
              value: 1000000001
        - in: query
          name: page
          description: Current page number.
          schema:
            type: integer
            default: 0
          required: false
          examples:
            Default:
              value: 0
        - in: query
          name: limit
          description: Number of records per page.
          schema:
            type: integer
            default: 25
          required: false
          examples:
            Default:
              value: 25
      responses:
        "200":
          description: List of debit cards for a specific client.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DebitCardsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          description: ERROR.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailsErrorResponse"
        "503":
          description: ERROR.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailsErrorResponse"
      tags:
        - Debit Cards
    post:
      summary: Create Debit Card
      description: Creates a new debit card.
      operationId: createDebitCard
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
      requestBody:
        description: Customer account details required to create a new debit card.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDebitCardRequest"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDebitCardResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
  "/debit-cards/{id}":
    get:
      summary: Get Card
      description: Returns card ID and iFrame link for virtual card details for a specific card.
      operationId: getDebitCard
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
          examples:
            ActiveCard:
              value: 1000000001
            InactiveCard:
              value: 1000000002
        - name: id
          in: path
          description: Card Identifier
          required: true
          style: simple
          schema:
            type: string
          examples:
            ActiveCard:
              value: "100000983036"
            InactiveCard:
              value: "100000983037"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
    post:
      summary: Update Card
      description: Updates card details, such as PIN reset or to lock a lost card.
      operationId: updateCard
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - name: id
          example: "100000158367"
          in: path
          description: Unique identifier for the debit card.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: Card update info required to either set/reset PIN, lock/unlock card set card as replaced, or set card as cancelled.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardUpdateRequest"
            examples:
              setPinPayload:
                $ref: "#/components/examples/setPinPayload"
              setCardLockedPayload:
                $ref: "#/components/examples/setCardLockedPayload"
              setCardReplacedPayload:
                $ref: "#/components/examples/setCardReplacedPayload"
              setCardCancelledPayload:
                $ref: "#/components/examples/setCardCancelledPayload"
              setMaxSpendLimit:
                $ref: "#/components/examples/setMaxSpendLimit"
              setMaxCashWithdrawalLimit:
                $ref: "#/components/examples/setMaxCashWithdrawalLimit"
              clearCashWithdrawalAndDailySpendLimit:
                $ref: "#/components/examples/clearCashWithdrawalAndDailySpendLimit"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardUpdateResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
  /recipients:
    get:
      summary: List Recipients
      description: Retrieves a list of all recipients for a given client profile.
      operationId: getAllRecipients
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: recipient_type
          in: header
          description: Recipient type to return
          required: false
          example: RECIPIENT
          schema:
            default: RECIPIENT
            $ref: "#/components/schemas/RecipientType"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRecipientsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create Recipient
      description: Creates a new recipient.
      operationId: createRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecipientRequest"
      responses:
        "201":
          description: The recipient was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/recipients/{id}":
    get:
      summary: Get Recipient
      description: Retrieves information about a specific recipient.
      operationId: getRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Amend recipient
      description: Updates details of a recipient, such as adding values for attributes related to payment types. All attributes must be provided in the same format as when creating a recipient. The value partyDetails.type cannot be amended after creation.
      operationId: amendRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecipientRequest"
      responses:
        "200":
          description: The recipient was amended successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    delete:
      summary: Delete recipient
      description: Deletes information about a recipient.
      operationId: deleteRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          examples:
            AcmePaperSupplies:
              value: 2e04375b-da4e-4855-b534-dcdb6186822e
      responses:
        "204":
          description: The recipient was deleted successfully.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /cases:
    get:
      tags:
        - Cases
      summary: Returns all cases for client profile.
      description: Get cases for client profile
      operationId: getCases
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/parameters-pageSize"
        - $ref: "#/components/parameters/parameters-pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CasesPaginationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Cases
      summary: Create a new case
      description: Raises a case for support with Embedded Banking.
      operationId: createCase
      requestBody:
        required: true
        description: Information needed to create a new case.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseCreateRequest"
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseCreateResponse"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /old-cases:
    get:
      tags:
        - Cases
      summary: List all the cases for a specific Client Profile
      description: Get cases for client profile
      operationId: getCasesOld
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CasesPaginationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/cases/{id}":
    get:
      tags:
        - Cases
      summary: Returns details of a case using the unique case ID.
      description: Get case details
      operationId: getCase
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - name: id
          in: path
          description: Case identifier
          required: true
          schema:
            type: string
          style: simple
    post:
      tags:
        - Cases
      summary: Update information on a specific case.
      description: Update case
      operationId: updateCase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseUpdateRequest"
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      parameters:
        - name: id
          in: path
          description: Case ID. The unique identifier for a case.
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
  /faqs:
    get:
      tags:
        - Faq
      summary: API to retrieve general FAQ content as well as C1 specific FAQ content
      description: Retrieve FAQs
      operationId: getFaq
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FAQResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      parameters:
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/token"
        - name: tags
          in: query
          description: Comma seperated tag values
          required: false
          example:
            - Payments
            - Banking
          schema:
            type: array
            items:
              type: string
  /webhooks:
    post:
      summary: Create a webhook subscription based on event type.
      description: Create a webhook
      operationId: createWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
      requestBody:
        required: true
        description: Create a new webhook subscription.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRequest"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: Get your webhook subscriptions.
      description: List all webhooks you subscribe to.
      operationId: listWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhooksResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/webhooks/{id}":
    post:
      summary: Update a webhook subscription by ID.
      description: Update your subscription to a webhook.
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          example: uuid
          schema:
            type: string
          description: Unique identifier of the webhook
          required: true
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
      requestBody:
        required: true
        description: Update (Enable/Disable) an existing webhook subscription.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: Get a webhook subscription by ID.
      description: Get details of your subscription to a specific webhook.
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
        - name: id
          in: path
          description: Unique identifier for webhook subscription
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /legal-documents:
    get:
      summary: Get latest legal documents by type
      description: Returns the latest legal document.
      operationId: getLegalDocuments
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/documentType"
        - $ref: "#/components/parameters/product"
        - name: platformId
          in: query
          description: Unique Platform Identifier
          schema:
            type: string
          required: false
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Legal Documents
  "/legal-documents/{id}":
    get:
      summary: Get legal document by ID.
      description: Returns a legal document specified by its unique identifier.
      operationId: getLegalDocument
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier of a legal document.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bdd9e
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Legal Documents
  /countries:
    get:
      tags:
        - Reference Data
      summary: API to retrieve list of countries
      description: Retrieves a list of Countries
      operationId: getAllCountries
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfCountries:
                  $ref: "#/components/examples/ListOfCountries"
              schema:
                $ref: "#/components/schemas/CountriesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /country-subdivision:
    get:
      summary: Get the list of Country Subdivision for the Client
      description: Get the list of Country Subdivision for the client.
      operationId: getCountrySubdivision
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/countryCode"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfCountrySubdivision:
                  $ref: "#/components/examples/ListOfCountrySubdivision"
              schema:
                $ref: "#/components/schemas/CountrySubdivisionResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /legal-structures:
    get:
      summary: List legal structures
      description: Gets the accepted list of legal structures to be used in .
      operationId: getLegalStructures
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                LegalStructures:
                  $ref: "#/components/examples/LegalStructures"
              schema:
                $ref: "#/components/schemas/LegalStructureResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /document-types:
    get:
      summary: Get the list of supporting document-types
      description: Get the list of supporting document-types
      operationId: getDocumentTypes
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/countryCode"
        - $ref: "#/components/parameters/documentCategory"
        - $ref: "#/components/parameters/legalStructure"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAllSupportingDocumentTypes:
                  $ref: "#/components/examples/ListOfAllSupportingDocumentTypes"
                ListOfSupportingDocumentTypesByLegalStructureAsSoleProprietorship:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsSoleProprietorship"
                ListOfSupportingDocumentTypesByLegalStructureAsCorporation:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsCorporation"
                ListOfSupportingDocumentTypesByLegalStructureAsLimitedPartnership:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsLimitedPartnership"
                ListOfSupportingDocumentTypesWhenDocumentCategoryNotIdentityVerification:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesWhenDocumentCategoryNotIdentityVerification"
              schema:
                $ref: "#/components/schemas/DocumentTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /id-types:
    get:
      summary: Get the list of id types for the Client
      description: Get the list of id types for the Client.
      operationId: getIdTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfIdTypes:
                  $ref: "#/components/examples/ListOfIdTypes"
              schema:
                $ref: "#/components/schemas/IdentificationTypeResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /industry-categories:
    get:
      summary: Get the list of industry-categories and industryTypes.
      description: Get the list of industry-categories and industryTypes.
      operationId: getClientIndustryCategories
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                IndustryCategoriesAndIndustryTypes:
                  $ref: "#/components/examples/IndustryCategoriesAndIndustryTypes"
              schema:
                $ref: "#/components/schemas/IndustryCategoriesReponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /products:
    get:
      summary: Get the list of products for the Client
      description: Get the list of products for the client.
      operationId: getRefProducts
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfProducts:
                  $ref: "#/components/examples/ListOfProducts"
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /business-types:
    get:
      summary: List business types
      description: Returns a list of business types that can be used for client onboarding processes.
      operationId: getRefBusinessTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfBusinessTypes:
                  $ref: "#/components/examples/ListOfBusinessTypes"
              schema:
                $ref: "#/components/schemas/BusinessTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /job-titles:
    get:
      summary: List job titles
      description: Returns a list of job titles that can be used for client onboarding.
      operationId: getRefJobTitles
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfJobTitles:
                  $ref: "#/components/examples/ListOfJobTitles"
              schema:
                $ref: "#/components/schemas/JobTitlesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /party-roles:
    get:
      summary: List party roles
      description: Returns a list of accepted party roles.
      operationId: getRefPartyRoles
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfPartyRoles:
                  $ref: "#/components/examples/ListOfPartyRoles"
              schema:
                $ref: "#/components/schemas/PartyRolesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /address-types:
    get:
      summary: List address types
      description: Returns a list of accepted address types.
      operationId: getRefAddressTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAddressTypes:
                  $ref: "#/components/examples/ListOfAddressTypes"
              schema:
                $ref: "#/components/schemas/AddressTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /nature-of-ownerships:
    get:
      summary: List Nature Of Ownership values
      description: Returns a list of accepted Nature Of Ownership values.
      operationId: getRefNatureOfOwnerships
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAcceptedNatureOfOwnershipValues:
                  $ref: "#/components/examples/ListOfAcceptedNatureOfOwnershipValues"
              schema:
                $ref: "#/components/schemas/NatureOfOwnershipsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /party-types:
    get:
      summary: List party types
      description: Returns a list of accepted party types.
      operationId: getRefPartyTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAcceptedPartyTypes:
                  $ref: "#/components/examples/ListOfAcceptedPartyTypes"
              schema:
                $ref: "#/components/schemas/PartyTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  "/statements/{id}":
    get:
      summary: Get a statement
      description: Get a statement document using its identifier
      operationId: getStatement
      parameters:
        - $ref: "#/components/parameters/token"
        - in: header
          name: client_id
          description: Unique client identifier.
          required: true
          example: "0030000131"
          schema:
            type: string
            pattern: ^\d{10}$
            minLength: 10
            maxLength: 10
        - in: path
          name: id
          required: true
          description: Statement identifier used to find the document.
          example: ZjNjMTJjOTctZTQyNy00MWI5LWJmNDAtMDMzYzZiNjliNWJl
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Statements
  /statements/search:
    get:
      summary: Search statements
      description: Returns statements filtered by search criteria.
      operationId: searchStatements
      parameters:
        - $ref: "#/components/parameters/token"
        - in: header
          name: client_id
          description: Unique client identifier.
          required: true
          example: "0030000131"
          schema:
            type: string
            pattern: ^\d{10}$
            minLength: 10
            maxLength: 10
        - in: query
          name: accountIds
          description: |
            Account identifiers used to represent client accounts.
          required: false
          example:
            - dc2eda9084bf40b7a1d8baa8c5e0ea0ax
          schema:
            type: array
            items:
              type: string
        - in: query
          name: dateFrom
          description: Earliest date in search range. Must be set at least one day earlier than dateTo.
          required: true
          example: 2022-12-31
          schema:
            type: string
        - in: query
          name: dateTo
          description: Latest date in search range. Must be set at least one day later than dateFrom.
          required: true
          example: 2022-12-31
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatementsResponse"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Statements
  /accounts:
    get:
      summary: List accounts
      description: Retrieves a list of accounts for a specific client.
      operationId: getAccounts
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdHeader"
      tags:
        - Accounts
      responses:
        "200":
          description: List of accounts for a specific client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
    post:
      summary: Create Account
      description: Create an account for a specific client
      operationId: postAccounts
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/token"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
      tags:
        - Accounts
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  /old-accounts:
    get:
      summary: List accounts
      description: Retrieves a list of accounts for a specific client
      operationId: getAccountsOld
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdHeader"
      tags:
        - Accounts
      responses:
        "200":
          description: List of accounts for a specific client
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  "/accounts/{id}":
    get:
      summary: Get account by ID
      description: Look up a single account by account ID
      operationId: getAccountById
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "404":
          $ref: "#/components/responses/4041"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  "/accounts/{id}/balances":
    get:
      summary: Get account balance
      description: Get balance details for a specific account
      operationId: getAccountBalance
      tags:
        - Account Balances
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          description: Account balance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "404":
          $ref: "#/components/responses/4041"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  /users:
    get:
      tags:
        - User-Controller
      summary: List users
      description: Retrieves list of users for a client. The API by default retrieves a lighter version of data. If one wants to retrieve full payload then one should use the fetch=ALL in the request parameter.
      operationId: getAllUsers1
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userPageSize"
        - $ref: "#/components/parameters/userPageNo"
        - $ref: "#/components/parameters/userClientId"
        - $ref: "#/components/parameters/userFetch"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-ListUserResponse"
              examples:
                ListUsersLightVersion:
                  $ref: "#/components/examples/ListUsersLightVersion"
                ListUsersFullPayload:
                  $ref: "#/components/examples/ListUsersWithResources"
        "400":
          $ref: "#/components/responses/user400ClientId"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
      security:
        - IDAnywhere: []
    post:
      tags:
        - User-Controller
      summary: Create user
      description: Creates a new user. This API is developed to enable clients to create a user for accessing and managing resources for that client. The payload has a property partyId. This partyId is used to add an existing party as a user. Phone field is optional when partyId is provided. When partyId is not provided, then phone field should be populated.
      operationId: postUsers1
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userClientId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/schemas-CreateUserRequest"
            examples:
              CreateUserNewParty:
                $ref: "#/components/examples/CreateUserNewParty"
              CreateUserExistingParty:
                $ref: "#/components/examples/CreateUserExistingParty"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-UserResponse"
        "400":
          $ref: "#/components/responses/user400"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
      security:
        - IDAnywhere: []
  "/users/{id}":
    get:
      tags:
        - User-Controller
      summary: Get user
      description: Retrieves details for a specific user.
      operationId: getUserDetails1
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userClientId"
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/userFetch"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-UserResponse"
              examples:
                GetUser:
                  $ref: "#/components/examples/GetUser"
                GetUserAll:
                  $ref: "#/components/examples/GetUserFetchAll"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "404":
          $ref: "#/components/responses/user404"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
      security:
        - IDAnywhere: []
    post:
      tags:
        - User-Controller
      summary: Update user
      description: Updates information about user. At the moment the user only roles can be added or removed.
      operationId: updateUser1
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userClientId"
        - $ref: "#/components/parameters/userId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/schemas-UpdateUserRequest"
            examples:
              UpdateUserExternalAddRole:
                $ref: "#/components/examples/UpdateUserExternalAddRole"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-UserResponse"
              examples:
                UpdateUserExternalAddRole:
                  $ref: "#/components/examples/UpdateUserExternalAddRoleResponse"
        "400":
          $ref: "#/components/responses/user400"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
      security:
        - IDAnywhere: []
  /roles:
    get:
      tags:
        - Role-Controller
      summary: List all roles
      description: Retrieves a list of roles
      operationId: getAllRoles
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userPageSize"
        - $ref: "#/components/parameters/userPageNo"
        - $ref: "#/components/parameters/userClientId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRoleResponse"
              examples:
                ListAllRolesAndEntitlements:
                  $ref: "#/components/examples/ListAllRolesAndEntitlements"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/components-schemas-ApiError"
              example:
                error: BAD_REQUEST
                message: Error in Request Formatting
                reasons:
                  - reason: INVALID_HEADER_CLIENT_ID
                    field: client_id
                    rejectedValue: "003000013"
                    message: clientId must be an integer, min and max length of 10 and must not start with 000
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
      security:
        - IDAnywhere: []
  "/roles/{id}":
    get:
      tags:
        - Role-Controller
      summary: Get role details
      description: Retrieves the details of the specified role
      operationId: getRole
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userClientId"
        - $ref: "#/components/parameters/roleId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
              examples:
                GetRoleById:
                  $ref: "#/components/examples/GetRoleById"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/components-schemas-ApiError"
              example:
                error: BAD_REQUEST
                message: Error in Request Formatting
                reasons:
                  - reason: INVALID_HEADER_CLIENT_ID
                    field: client_id
                    rejectedValue: "003000013"
                    message: clientId must be an integer, min and max length of 10 and must not start with 000
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "404":
          $ref: "#/components/responses/user404"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
      security:
        - IDAnywhere: []
components:
  schemas:
    DocumentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
    ApiError:
      type: object
      required:
        - error
        - message
      discriminator:
        propertyName: error
      properties:
        error:
          type: string
          pattern: ^[A-Z0-9_]+$
          description: Readable code returned to indicate an error occurred
          example: BAD_REQUEST
        message:
          type: string
          description: Message describing the error. This message can typically be displayed to your platform's users, except in cases specified otherwise
          example: Error in Request Formatting
        reasons:
          type: array
          items:
            $ref: "#/components/schemas/ApiErrorReason"
    ApiErrorReason:
      type: object
      required:
        - reason
        - message
      properties:
        reason:
          type: string
          pattern: ^[A-Z0-9_]+$
          description: Readable reason returned to indicate a reason behind the error occurred
          example: INVALID_INPUT_VALUE_LENGTH
        field:
          type: string
          description: Part of the request which is responsible for the reason
        rejectedValue:
          type: string
          description: Rejected value from the request which is responsible for the reason
        message:
          type: string
          description: Message describing the reason. This message can typically be displayed to your platform's users, except in cases specified otherwise
    ReportType:
      type: string
      enum:
        - CARDS
    ReportMetaData:
      type: object
      properties:
        clientId:
          description: Report requested client id
          type: string
          example: "0030000131"
        createdTimestamp:
          description: Report created timestamp
          type: string
          format: date-time
          example: 2021-12-04T10:47:10.947692Z
        requestedUserSID:
          description: SID of the user who requested report
          type: string
          example: E123456
        reportType:
          $ref: "#/components/schemas/ReportType"
    Card:
      type: object
      required:
        - id
        - clientId
        - clientName
        - accountId
        - firstName
        - middleName
        - lastName
        - last4
        - expirationDate
        - status
      properties:
        clientId:
          type: string
          example: "0030000131"
          description: Client identifier.
        clientName:
          type: string
          example: Mendys Kitchen
          description: Client name.
        id:
          type: string
          example: "100000158367"
          description: Unique identifier for the card.
        accountId:
          type: string
          example: "12345678912345"
          description: Account identifier or payment routing number.
        firstName:
          type: string
          example: John
          description: First name of the client.
        middleName:
          type: string
          example: Daniel
          description: Middle name of the client.
        lastName:
          type: string
          example: Doe
          description: Last name of the client.
        last4:
          type: string
          example: "4444"
          description: Last Four digits of the card number.
        expirationDate:
          type: string
          example: 30-Sep-2024
          description: Card expiration date.
        status:
          type: string
          enum:
            - ACTIVE
            - INACTIVE
            - SUSPEND
            - DAMAGED
            - DEACTIVE
            - DEFECTIVE
            - LOST
            - STOLEN
            - UNDELIVER
          example: ACTIVE
          description: The current status of the card.
    CardsReportResponse:
      type: object
      required:
        - cards
        - reportMetaData
      properties:
        metaData:
          $ref: "#/components/schemas/ReportMetaData"
        cards:
          type: array
          nullable: false
          description: List of C2's associated cards for a specific C1 client
          items:
            $ref: "#/components/schemas/Card"
    PageMetaData:
      type: object
      properties:
        page:
          type: integer
          example: 2
          description: |
            Page Number.
        limit:
          type: integer
          example: 30
          description: |
            Number of records per page.
        total_items:
          type: integer
          example: 340
          description: |
            Total number of items.
    AddressDto:
      type: object
      required:
        - addressLine1
[...]
