openapi: 3.0.3
info:
  title: Embedded Finance API
  version: 0.1.1
  description: Embedded Finance services from J.P. Morgan
  contact:
    name: JPMC Technical Services Support
servers:
  - url: https://apigateway.jpmorgan.com/tsapi/v1/eb
    description: Production API Server
tags:
  - name: Clients
    description: Onboard and manage Embedded Finance clients.
  - name: Accounts
    description: Create, organize and manage Embedded Finance accounts.
  - name: Recipients
    description: Set up and manage who can be paid through Embedded Finance transactions.
  - name: Transactions
    description: Initiate and track the movement of funds, including payments.
  - name: Documents
    description: Manage document upload and retrieval.
  - name: Webhooks
    description: Create and manage webhook subscriptions for your platform.
  - name: Reference Data
    description: Access reference data to populate Embedded Finance experiences, such as onboarding.
paths:
  /clients:
    get:
      tags:
        - Clients
      summary: List clients
      description: Returns a list of Embedded Finance clients associated with your platform.
      operationId: getAllClients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClientInformationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Clients
      summary: Create client
      description: Creates a new client.
      operationId: postClients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
            examples:
              CreateClientSolePropReq:
                $ref: "#/components/examples/CreateClientSolePropReq"
              CreateClientSolePropItinReq:
                $ref: "#/components/examples/CreateClientSolePropItinReq"
              CreateClientLlcReq:
                $ref: "#/components/examples/CreateClientLlcReq"
              CreateClientLlcItinReq:
                $ref: "#/components/examples/CreateClientLlcItinReq"
              CreateClientCorpReq:
                $ref: "#/components/examples/CreateClientCorpReq"
              CreateClientCorporationItinReq:
                $ref: "#/components/examples/CreateClientCorporationItinReq"
              CreateClientLpSsnReq:
                $ref: "#/components/examples/CreateClientLpSsnReq"
              CreateClientEp:
                $ref: "#/components/examples/CreateClientEp"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
              examples:
                CreateClientSolePropRes:
                  $ref: "#/components/examples/CreateClientSolePropRes"
                CreateClientSolePropItinRes:
                  $ref: "#/components/examples/CreateClientSolePropItinRes"
                CreateClientLlcRes:
                  $ref: "#/components/examples/CreateClientLlcRes"
                CreateClientLlcItinRes:
                  $ref: "#/components/examples/CreateClientLlcItinRes"
                CreateClientCorpRes:
                  $ref: "#/components/examples/CreateClientCorpRes"
                CreateClientCorporationItinRes:
                  $ref: "#/components/examples/CreateClientCorporationItinRes"
                CreateClientLpSsnRes:
                  $ref: "#/components/examples/CreateClientLpSsnRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/clients/{id}":
    get:
      tags:
        - Clients
      summary: Get client
      description: Returns details for a specific client using their unique identifier.
      operationId: getClientDetails
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
          example: "1000011675"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
              examples:
                SkeletonClientClientShouldRetrieveItsOwnInformationRes:
                  $ref: "#/components/examples/SkeletonClientClientShouldRetrieveItsOwnInformationRes"
                IncompleteOnboardingClientShouldRetrieveItsOwnInformationRes:
                  $ref: "#/components/examples/IncompleteOnboardingClientShouldRetrieveItsOwnInformationRes"
                FullyOnboardedClientClientShouldRetrieveItsOwnInformationRes:
                  $ref: "#/components/examples/FullyOnboardedClientClientShouldRetrieveItsOwnInformationRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Clients
      summary: Update client
      description: Updates information about a specified client.
      operationId: updateClients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateClientResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/clients/{id}/verifications":
    get:
      summary: Get client verifications
      description: Get current and outstanding verifications for a given client. These tell clients what is required to complete onboarding.
      tags:
        - Clients
      operationId: getClientVerification
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Unique identifier for a client.
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientVerificationsInformationResponse"
              examples:
                ClientSubmittedVerificationsSuccessfully:
                  $ref: "#/components/examples/ClientSubmittedVerificationsSuccessfully"
                ClientVerificationResponseWhenIdentityVerificationFailedForClient:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationFailedForClient"
                ClientVerificationResponseWhenIdentityVerificationPrimaryDocumentsUploadedSuccessfullyForClient:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationPrimaryDocumentsUploadedSuccessfullyForClient"
                ClientVerificationResponseWhenIdentityVerificationSecondaryDocumentsUploadedSuccessfullyForClient:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationSecondaryDocumentsUploadedSuccessfullyForClient"
                ClientVerificationResponseWhenIdentityVerificationFailedForRelatedParty:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationFailedForRelatedParty"
                ClientVerificationResponseWhenIdentityVerificationPrimaryDocumentUploadedSuccessfullyForRelatedParty:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationPrimaryDocumentUploadedSuccessfullyForRelatedParty"
                ClientVerificationResponseWhenIdentityVerificationFailedForBothClientAndRelatedParty:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationFailedForBothClientAndRelatedParty"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Add client verifications
      description: Adds verification information provided by the client to continue onboarding.
      operationId: addClientVerification
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - in: path
          name: id
          description: Unique identifier for a client.
          schema:
            type: string
          required: true
          example: "1000011659"
      requestBody:
        description: Client verification to add to the system.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientVerificationsInformationRequest"
            examples:
              ClientShouldSuccessfullyPostVerificationAnswersReq:
                $ref: "#/components/examples/ClientShouldSuccessfullyPostVerificationAnswersReq"
        required: true
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientVerificationsInformationResponse"
              examples:
                ClientShouldSuccessfullyPostVerificationAnswersRes:
                  $ref: "#/components/examples/ClientShouldSuccessfullyPostVerificationAnswersRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/clients/{id}/customer-identification":
    post:
      summary: Perform customer identification
      description: Validate information provided by the client to complete customer identification
      operationId: performCustomerIdentification
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - in: path
          name: id
          description: Unique identifier for a client.
          schema:
            type: string
          required: true
          example: "1000011659"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerIdentificationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/clients/{id}/submit-kyc":
    post:
      summary: Submit client and verification information
      description: Submit client and verification information provided by the client to complete onboarding.
      operationId: submitClientAndVerificationInformation
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - in: path
          name: id
          description: Unique identifier for a client.
          schema:
            type: string
          required: true
          example: "1000011659"
      responses:
        "200":
          description: Ok.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /documents:
    get:
      summary: Get details of documents of a specified type
      description: Returns details of documents and their ids based on the product and jurisdiction for a client.
      operationId: documentsDetails
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/documentType"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsDetailsResponse"
              examples:
                LatestClientDocumentDetailResponseByDocumentType:
                  $ref: "#/components/examples/LatestClientDocumentDetailResponseByDocumentType"
        "400":
          $ref: "#/components/responses/400_documents"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Upload document
      description: |
        - This end point allows the end user to upload document.
        - File types allowed are : heic, jpeg, jpg, pdf, png.
        - The maximum size allowed for the document through this API is 5MB.
      operationId: uploadDocument
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
      requestBody:
        description: |
          This section allows the user to attach the binary file upload  and meta-data associated with the document.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                documentData:
                  $ref: "#/components/schemas/DocumentUploadData"
              required:
                - file
                - documentData
            encoding:
              file:
                contentType: application/pdf, image/heic, image/jpeg, image/png
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/documents/{id}":
    get:
      summary: Retrieve details of a document
      description: Retrieves details of a document using the document unique identifier.
      operationId: getDocumentDetails
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - in: path
          name: id
          description: Document unique identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddef
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDetails"
              examples:
                GetDocumentDetailsByDocumentIdExampleForTermsAndConditions:
                  $ref: "#/components/examples/GetDocumentDetailsByDocumentIdExampleForTermsAndConditions"
                GetDocumentDetailsByDocumentIdExampleForCIPDocument:
                  $ref: "#/components/examples/GetDocumentDetailsByDocumentIdExampleForCIPDocument"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/documents/{id}/file":
    get:
      summary: Download a document
      description: Download a document using the document unique identifier.
      operationId: downloadDocument
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - in: path
          name: id
          description: Document unique identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddba
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
            image/png:
              schema:
                type: string
                format: byte
            image/jpeg:
              schema:
                type: string
                format: byte
            image/heic:
              schema:
                type: string
                format: byte
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /transactions:
    post:
      summary: Create transaction
      description: Creates a new transaction, such as a payment via ACH, Wire or Real Time Payments (RTP).
      operationId: createTransaction
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/platformId"
      requestBody:
        description: Contains the required information to create a payment transaction.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostTransactionRequest"
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          $ref: "#/components/responses/400V2"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: List transactions
      description: Lists transactions for a specific client, which can be filtered using optional parameters.
      operationId: listTransactions
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/platformId"
        - in: query
          name: transactionType
          schema:
            $ref: "#/components/schemas/RequestTransactionType"
          description: Filters by type of transaction.
          required: false
        - in: query
          name: status
          schema:
            $ref: "#/components/schemas/RequestTransactionStatus"
          description: Filters by transaction status.
          required: false
        - in: query
          name: accountNumber
          example: "200293631511"
          schema:
            type: string
          description: Filters by the Embedded Finance client account number connected to the transaction.
          required: false
        - in: query
          name: amountEquals
          example: "100"
          schema:
            type: string
          description: Filters by an exact amount.
          required: false
        - in: query
          name: amountGreaterThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts greater than a specified value.
          required: false
        - in: query
          name: amountLessThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts less than a specified value.
          required: false
        - in: query
          name: dateEquals
          example: 01-01-2022
          schema:
            type: string
          description: Filters transactions by an exact date.
          required: false
        - in: query
          name: dateGreaterThan
          example: 01-01-2022
          schema:
            type: string
          description: Filters for transactions made after this date.
          required: false
        - in: query
          name: dateLessThan
          example: 01-01-2022
          schema:
            type: string
          description: Filters for transactions made before this date.
          required: false
        - in: query
          name: dateTimeGreaterThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions made after this date and time.
          required: false
        - in: query
          name: dateTimeLessThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions made before this date and time.
        - in: query
          name: recipientAccount
          example: "200293631511"
          schema:
            type: string
          description: Filters by the recipient's account number.
          required: false
        - in: query
          name: transactionId
          example: 2451821d-e6f9-450d-b041-a20ae9d08f14
          schema:
            type: string
          description: Filters for a transaction that matches a specific transaction ID. The transaction ID is generated by Embedded Finance when a transaction is created or received.
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsSearchResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/transactions/{id}":
    get:
      summary: Get transaction
      description: Returns details for a specific transaction using its unique identifier.
      operationId: getTransaction
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/platformId"
        - name: id
          in: path
          description: Unique identifier for a transaction.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionGetResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /recipients:
    get:
      summary: List recipients
      description: Returns a list of all recipients for a given client profile.
      operationId: getAllRecipients
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: recipient_type
          in: header
          description: Recipient type to return
          required: false
          example: RECIPIENT
          schema:
            default: RECIPIENT
            $ref: "#/components/schemas/RecipientType"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRecipientsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create recipient
      description: Creates a new recipient.
      operationId: createRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecipientRequest"
      responses:
        "201":
          description: The recipient was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/400_recipients"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/recipients/{id}":
    get:
      summary: Get recipient
      description: Returns information about a specific recipient.
      operationId: getRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Amend recipient
      description: Updates details of a recipient, such as adding values for attributes related to payment types. All attributes must be provided in the same format as when creating a recipient. The value partyDetails.type cannot be amended after creation.
      operationId: amendRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecipientRequest"
      responses:
        "200":
          description: The recipient was amended successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /webhooks:
    post:
      summary: Create a webhook subscription.
      description: Create a webhook
      operationId: createWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
      requestBody:
        required: true
        description: Create a new webhook subscription.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRequest"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: List webhooks
      description: List your webhook subscriptions
      operationId: listWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhooksResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/webhooks/{id}":
    post:
      summary: Update a webhook subscription by ID.
      description: Update your subscription to a webhook.
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          example: uuid
          schema:
            type: string
          description: Unique identifier of the webhook
          required: true
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
      requestBody:
        required: true
        description: Update (Enable/Disable) an existing webhook subscription.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: Get a webhook subscription by ID.
      description: Get details of your subscription to a specific webhook.
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/platformId"
        - name: id
          in: path
          description: Unique identifier for webhook subscription
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /countries:
    get:
      tags:
        - Reference Data
      summary: List available countries and country codes
      description: Retrieves a list of countries with their ISO 2-character codes.
      operationId: getAllCountries
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfCountries:
                  $ref: "#/components/examples/ListOfCountries"
              schema:
                $ref: "#/components/schemas/CountriesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /country-subdivision:
    get:
      summary: List available country subdivisions
      description: Retrieves a list of subdivisions within a country. For example, the states of the USA.
      operationId: getCountrySubdivision
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/countryCode"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfCountrySubdivision:
                  $ref: "#/components/examples/ListOfCountrySubdivision"
              schema:
                $ref: "#/components/schemas/CountrySubdivisionResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /legal-structures:
    get:
      summary: List legal structures
      description: Returns a list of legal structures of a business. To be used when onboarding business clients.
      operationId: getLegalStructures
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                LegalStructures:
                  $ref: "#/components/examples/LegalStructures"
              schema:
                $ref: "#/components/schemas/LegalStructureResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /document-types:
    get:
      summary: List supporting document-types
      description: Returns a list of supporting documents that may be required during onboarding and ongoing checks.
      operationId: getDocumentTypes
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/countryCode"
        - $ref: "#/components/parameters/documentCategory"
        - $ref: "#/components/parameters/legalStructure"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAllSupportingDocumentTypes:
                  $ref: "#/components/examples/ListOfAllSupportingDocumentTypes"
                ListOfSupportingDocumentTypesByLegalStructureAsSoleProprietorship:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsSoleProprietorship"
                ListOfSupportingDocumentTypesByLegalStructureAsCorporation:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsCorporation"
                ListOfSupportingDocumentTypesByLegalStructureAsLimitedPartnership:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsLimitedPartnership"
                ListOfSupportingDocumentTypesWhenDocumentCategoryNotIdentityVerification:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesWhenDocumentCategoryNotIdentityVerification"
              schema:
                $ref: "#/components/schemas/DocumentTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /id-types:
    get:
      summary: List acceptable ID types
      description: Returns a list of acceptable types of ID that can be submitted for onboarding or other client checks.
      operationId: getIdTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfIdTypes:
                  $ref: "#/components/examples/ListOfIdTypes"
              schema:
                $ref: "#/components/schemas/IdentificationTypeResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /industry-categories:
    get:
      summary: List industry categories and industry types.
      description: Returns a list of all industry categories and industry types for business clients. To be used in onboarding and other client checks.
      operationId: getClientIndustryCategories
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                IndustryCategoriesAndIndustryTypes:
                  $ref: "#/components/examples/IndustryCategoriesAndIndustryTypes"
              schema:
                $ref: "#/components/schemas/IndustryCategoriesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /products:
    get:
      summary: List Embedded Finance products
      description: Returns a list of all available Embedded Finance products.
      operationId: getRefProducts
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfProducts:
                  $ref: "#/components/examples/ListOfProducts"
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /business-types:
    get:
      summary: List business types
      description: Returns a list of business types that can be used for client onboarding processes.
      operationId: getRefBusinessTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfBusinessTypes:
                  $ref: "#/components/examples/ListOfBusinessTypes"
              schema:
                $ref: "#/components/schemas/BusinessTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /job-titles:
    get:
      summary: List job titles
      description: Returns a list of job titles that can be used for client onboarding.
      operationId: getRefJobTitles
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfJobTitles:
                  $ref: "#/components/examples/ListOfJobTitles"
              schema:
                $ref: "#/components/schemas/JobTitlesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /party-roles:
    get:
      summary: List party roles
      description: Returns a list of accepted party roles.
      operationId: getRefPartyRoles
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfPartyRoles:
                  $ref: "#/components/examples/ListOfPartyRoles"
              schema:
                $ref: "#/components/schemas/PartyRolesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /address-types:
    get:
      summary: List address types
      description: Returns a list of accepted address types.
      operationId: getRefAddressTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAddressTypes:
                  $ref: "#/components/examples/ListOfAddressTypes"
              schema:
                $ref: "#/components/schemas/AddressTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /nature-of-ownerships:
    get:
      summary: List Nature Of Ownership values
      description: Returns a list of accepted Nature Of Ownership values.
      operationId: getRefNatureOfOwnerships
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAcceptedNatureOfOwnershipValues:
                  $ref: "#/components/examples/ListOfAcceptedNatureOfOwnershipValues"
              schema:
                $ref: "#/components/schemas/NatureOfOwnershipsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /party-types:
    get:
      summary: List party types
      description: Returns a list of accepted party types.
      operationId: getRefPartyTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAcceptedPartyTypes:
                  $ref: "#/components/examples/ListOfAcceptedPartyTypes"
              schema:
                $ref: "#/components/schemas/PartyTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /accounts:
    get:
      summary: List accounts
      description: Returns a list of accounts for a specific client.
      operationId: getAccounts
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/platformId"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo1"
      tags:
        - Accounts
      responses:
        "200":
          description: List of accounts for a specific client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
    post:
      summary: Create Account
      description: Create an account for a specific client
      operationId: postAccounts
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/token"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
      tags:
        - Accounts
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  "/accounts/{id}":
    get:
      summary: Get account by ID
      description: Look up a single account by account ID
      operationId: getAccountById
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "404":
          $ref: "#/components/responses/4041"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  "/accounts/{id}/balances":
    get:
      summary: Get account balance
      description: Get balance details for a specific account
      operationId: getAccountBalance
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          description: Account balance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "404":
          $ref: "#/components/responses/4041"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
components:
  schemas:
    DocumentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
    ApiError:
      type: object
      required:
        - error
        - message
      discriminator:
        propertyName: error
      properties:
        error:
          type: string
          pattern: ^[A-Z0-9_]+$
          description: Readable code returned to indicate an error occurred.
          example: BAD_REQUEST
        message:
          type: string
          description: Message describing the error. This message can typically be displayed to your platform's users, except in cases specified otherwise
          example: Error in Request Formatting
        reasons:
          type: array
          items:
            $ref: "#/components/schemas/ApiErrorReason"
    ApiErrorReason:
      type: object
      required:
        - reason
        - message
      properties:
        reason:
          type: string
          pattern: ^[A-Z0-9_]+$
          description: Readable reason returned to indicate a reason behind the error occurred
          example: INVALID_INPUT_VALUE_LENGTH
        field:
          type: string
          description: Part of the request which is responsible for the reason
        rejectedValue:
          type: string
          description: Rejected value from the request which is responsible for the reason
        message:
          type: string
          description: Message describing the reason. This message can typically be displayed to your platform's users, except in cases specified otherwise
    ApiErrorV2:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: Short humanly-readable title of the error
          example: BAD_REQUEST
        httpStatus:
          type: integer
          description: HTTP status code
          example: 422
        traceId:
          type: string
          description: Internal assigned traced identifier
        requestId:
          type: string
          description: Client provided request identifier
        context:
          type: array
          items:
            $ref: "#/components/schemas/ApiErrorReasonV2"
          description: Provides additional context and detail on the validation errors
    ApiErrorReasonV2:
      type: object
      required:
        - message
      properties:
        code:
          type: string
          description: Short code that identifies the error - publicly cataloged and documented
          example: 11000
        location:
          type: string
          enum:
            - BODY
            - QUERY
            - PATH
          example: BODY
          description: Part of the request which is responsible for the reason
        field:
          type: string
          description: The location of the property or parameter in error
        message:
          type: string
          example: Client with ID 0031234567 does not exist.
          description: Message describing the reason. This message can typically be displayed to your platform's users, except in cases specified otherwise
    PageMetaData:
      type: object
      properties:
        page:
          type: integer
          example: 2
          description: |
            Page Number.
        limit:
          type: integer
          example: 30
          description: |
            Number of records per page.
        total_items:
          type: integer
          example: 340
          description: |
            Total number of items.
    AddressDto:
      type: object
      required:
        - addressLine1
        - city
        - countryCode
        - postalCode
      properties:
        addressType:
          type: string
          example: Principle Place Of Business
          description: Type of address e.g. 'Primary Residence' | 'Principle Place Of Business'.
        addressLine1:
          type: string
          maxLength: 34
          example: 689 Main St
          description: addressLine1 must not be a PO Box and must begin with a number.addressLine1 has a maximum of 60 characters.
        addressLine2:
          type: string
          maxLength: 34
          example: Opposite St. Andrews Church
          description: addressLine2 has a maximum of 60 characters.
        addressLine3:
          type: string
          maxLength: 34
          example: Mini York
          description: addressLine3 has a maximum of 60 characters.
        city:
          type: string
          maxLength: 34
          example: Anchorage
          description: city has a maximum of 30 characters.
        state:
          type: string
          maxLength: 30
          example: AZ
          description: State code in alpha-2 format. State is mandatory for countries like United States.
        postalCode:
          type: string
          maxLength: 10
          example: "99501"
          description: Postal/ZIP code.
        countryCode:
          type: string
          example: US
          description: Country code in alpha-2 format.
    Phone:
      type: object
      required:
        - countryCode
        - phoneNumber
      properties:
        countryCode:
          type: string
          example: "+1"
        phoneNumber:
          type: string
          example: "7785462944"
      description: |
        Phone Number Information of the account
    IdentityDTO:
      type: object
      required:
        - idType
        - idValue
        - idIssuer
      properties:
        idType:
          type: string
          example: EIN
          description: |
            IdType denotes the type of taxpayer identification numbers e.g. SSN/EIN. EIN is acceptable idType for Privately Owned Business. Sole Proprietorship can have EIN/SSN as idType. For individuals like Owners, Controllers and Decision Makers SSN is accepted as idType.
        idDescription:
          type: string
          example: Employee Identification Number
          description: Description of identification type e.g. Social Security Number
        idIssuer:
          type: string
          example: US
          description: Identification issuer country name e.g. US
        idValue:
          type: string
          example: "999999999"
          description: Value of the identification type. EIN/SSN must be of 9 digits.
    PartyDetailCommon:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/AddressDto"
        phone:
          $ref: "#/components/schemas/Phone"
        identities:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/IdentityDTO"
    PartyDetailBusiness:
      allOf:
        - $ref: "#/components/schemas/PartyDetailCommon"
        - type: object
          properties:
            businessType:
              type: string
              example: Privately Owned Business
              description: |
                The type of business connected to the client. You can use the Reference Data resource to get a list of acceptable values. Examples include: Privately Owned Business. Sole Proprietorship.
            legalStructure:
              type: string
              example: LLC
              description: |
                The legal structure of the business connected to the client. Always required for Privately Owned Business and Sole Proprietorship. You can use the Reference Data resource to get a list of acceptable values.
            industryCategory:
              type: string
              example: Accommodation and Food Services
              description: |
                The industry category of the business connected to the client. For example, Accommodation and Food Services. You can use the Reference Data resource to get a list of acceptable values.
            industryType:
              type: string
              example: Bed And Breakfast Inns
              description: |
                The industry type of the business connected to the client. You can use the Reference Data resource to get a list of acceptable values.
            significantOwnership:
              type: boolean
              example: true
              description: |
                Significant ownership means there individuals who own 25% or more of the client's business. Always required for a Privately Owned Business. If Significant Ownership is selected as True, At least one related party should have the role of owner.
            entitiesInOwnership:
              type: boolean
              example: true
              description: |
                Entities in ownership means that one or more businesses own part of the business conected to the client. Always required for a Privately Owned Business.
            businessName:
              type: string
              example: Feltz Printing Service
              description: |
                The business’s legal name. It is the official name of the person or entity that owns a company. Must be the name used on the client's government forms and business paperwork
            businessAliasName:
              type: string
              example: Feltz Printing Service of New York
              description: |
                Any alias names for the business connected to the client.
            businessDescription:
              type: string
              example: Printing Service of New York
              description: |
                The business’s description.
            websiteAvailable:
              type: boolean
              example: true
              description: |
                Whether or not the business connected to the client has a website.
            website:
              type: string
              example: https://www.company.com
              description: |
                Website of the business connected to the client. Always required if websiteAvailable is true.
            email:
              type: string
              maxLength: 50
              example: client@company.com
              description: |
                Email of the client.
            countryOfFormation:
              type: string
              example: US
              description: Country code in alpha-2 format
            yearOfFormation:
              type: string
              example: "2020"
              description: |
                Year of company formation. Max and Min length is 4.
            parentClientId:
              type: string
              description: The parent (platform) relationship owner's ID.
    ProfileConfiguration:
      type: object
      properties:
        parentClientId:
          type: string
          example: "0006739851"
          description: |
            Client ID of the platform entity the client is onboarded to.
        enablePayouts:
          type: boolean
          example: true
          description: |
            Once KYC has completed and approved, clients will be able to make payments out of their Embedded Bank Account.
            This flag will be set to FALSE until this process completes. Only present for clients.
        createdAt:
          type: string
          example: 2021-11-17T10:04:37Z
          description: |
            Date the profile was created.
        profileStatus:
          type: string
          description: active | deleted
        onboardingStatus:
          type: string
          example: In Progress, Completed, Failed
          description: The Client Onboarding Status
        onboardingStatuses:
          type: array
          items:
            type: object
            properties:
              product:
                type: string
              status:
                type: string
                example: In Progress, Completed, Failed
                description: The Client Onboarding Status
    RelatedParty:
      allOf:
        - $ref: "#/components/schemas/PartyDetailCommon"
        - type: object
          properties:
            businessName:
              type: string
              example: Feltz Printing Service
              description: |
                The business’s legal name. It is the official name of the person or entity that owns a company. And, it’s the name used on your government forms and business paperwork. This field is only required when party type is NON-IND
            firstName:
              type: string
              minLength: 2
              maxLength: 30
              example: Lenna
              description: |
                First name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
            middleName:
              type: string
              maxLength: 30
              example: More
              description: |
                Middle name of the individual in case of party type being an individual.
            lastName:
              type: string
              minLength: 2
              maxLength: 30
              example: Paprocki
              description: |
                Last name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
            jobTitle:
              type: string
              example: CEO
              description: |
                Job title in case of party type being an individual. JobTitle is required field for Controllers. Also, If Privately Owned Business is selected as the business type, Job Title should be a required field for Decision Makers. e.g. CEO|CFO|COO|President|Chairman|Senior Branch Manager|Other
            jobTitleDescription:
              type: string
              example: Acting CEO
              maxLength: 50
              description: |
                In case on jobTitle is Other then Job title description is required.
            birthDate:
              type: string
              example: 1983-02-08
              description: |
                The date of birth (yyyy-MM-dd) of the individual in case of party type being an individual. This field is not required for the party type Organization.
            email:
              type: string
              maxLength: 50
              example: client@company.com
              description: |
                Email of the individual.
            natureOfOwnership:
              type: string
              example: Direct
              description: |
                Nature of ownership e.g. Direct|Indirect
            soleOwner:
              type: boolean
            partyType:
              type: string
              example: Individual
              description: |
                A Party type which could have one of the following distinct values: Organization, Individual, NonIndividual
            partyRole:
              type: array
              items:
                type: string
              example:
                - CONTROLLER
                - OWNER
              description: |
                A Party role which could have one or more of the following values: CLIENT, CONTROLLER, MARKETPLACE_OPERATOR, OWNER, PAYEE, DECISION_MAKER
                If a SMB controller and owner is the same person - you have to send two parties with the distinct partyRoles e.g. [ CLIENT, CONTROLLER, MARKETPLACE_OPERATOR, OWNER, DECISION_MAKER ]
    RelatedPartyResponse:
      allOf:
        - $ref: "#/components/schemas/RelatedParty"
        - type: object
          required:
            - id
            - partyType
            - partyRole
            - email
          properties:
            id:
              type: string
              example: b98355d9-d193-4f50-9957-c699266b1530
              description: |
                Individual/NonIndividual client id, as UUID, that uniquely identifies the resource.
            status:
              type: string
              description: Status of the request. Can be active or deleted.
              example: active
    ClientInformationResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/PartyDetailBusiness"
        - $ref: "#/components/schemas/ProfileConfiguration"
        - type: object
          required:
            - id
          properties:
            id:
              type: string
              example: 1bd824ef-355d-496d-9272-900cfe4b95f9
              description: |
                Client ID. The unique identifier for a client.
            status:
              type: string
              description: active | deleted
              example: active
            relatedParties:
              type: array
              items:
                allOf:
                  - $ref: "#/components/schemas/RelatedPartyResponse"
            products:
              type: array
              items:
                type: string
              example:
                - EP
              description: |
                The products available for clients.
    ListClientInformationResponse:
      type: object
      properties:
        metadata:
          $ref: "#/components/schemas/PageMetaData"
        items:
          type: array
          items:
            $ref: "#/components/schemas/ClientInformationResponse"
    PartyDetailBusinessRequest:
      allOf:
        - $ref: "#/components/schemas/PartyDetailBusiness"
        - type: object
          required:
            - businessName
    EntityDetailBusinessRequest:
      allOf:
        - $ref: "#/components/schemas/PartyDetailBusinessRequest"
    RelatedPartyRequest:
      allOf:
        - $ref: "#/components/schemas/RelatedParty"
        - type: object
          required:
            - firstName
            - lastName
            - partyType
            - partyRole
            - email
    RelatedPartiesRequest:
      allOf:
        - $ref: "#/components/schemas/RelatedPartyRequest"
    CreateClientRequest:
      type: object
      allOf:
        - $ref: "#/components/schemas/EntityDetailBusinessRequest"
        - type: object
          required:
            - relatedParties
            - products
          properties:
            relatedParties:
              type: array
              items:
                $ref: "#/components/schemas/RelatedPartiesRequest"
            products:
              type: array
              items:
                type: string
              example:
                - EP
              description: |
                The products available for clients.
    UpdateAddressDto:
      type: object
      properties:
        addressType:
          type: string
          example: Principle Place Of Business
          description: Type of address e.g. 'Primary Residence' | 'Principle Place Of Business'.
        addressLine1:
          type: string
          maxLength: 34
          example: 689 Main St
          description: addressLine1 must not be a PO Box and must begin with a number.addressLine1 has a maximum of 60 characters.
        addressLine2:
          type: string
          maxLength: 34
          example: Opposite St. Andrews Church
          description: addressLine2 has a maximum of 60 characters.
        addressLine3:
          type: string
          maxLength: 34
          example: Mini York
          description: addressLine3 has a maximum of 60 characters.
        city:
          type: string
          maxLength: 34
          example: Anchorage
          description: city has a maximum of 30 characters.
        state:
          type: string
          maxLength: 30
          example: AZ
          description: State code in alpha-2 format. State is mandatory for countries like United States.
        postalCode:
          type: string
          maxLength: 10
          example: "99501"
          description: Postal/ZIP code.
        countryCode:
          type: string
          example: US
          description: Country code in alpha-2 format.
    UpdatePhone:
      type: object
      properties:
        countryCode:
          type: string
          example: "+1"
        phoneNumber:
          type: string
          example: "7785462944"
      description: |
        Phone Number Information of the account
    UpdateIdentityDTO:
      type: object
      required:
        - action
        - idType
        - idIssuer
        - idValue
      properties:
        idType:
          type: string
          example: EIN
          description: |
            IdType denotes the type of taxpayer identification numbers e.g. SSN/EIN. EIN is acceptable idType for Privately Owned Business. Sole Proprietorship can have EIN/SSN as idType. For individuals like Owners, Controllers and Decision Makers SSN is accepted as idType.
        idDescription:
          type: string
          example: Employee Identification Number
          description: Description of identification type e.g. Social Security Number
        idIssuer:
          type: string
          example: US
          description: Identification issuer country name e.g. US
        idValue:
          type: string
          example: "999999999"
          description: Value of the identification type. EIN/SSN must be of 9 digits.
        action:
          type: string
          example: ADD
          description: |
            The action like ADD, UPDATE, REMOVE
    UpdatePartyDetailCommon:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/UpdateAddressDto"
        phone:
          $ref: "#/components/schemas/UpdatePhone"
        identities:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/UpdateIdentityDTO"
    UpdatePartyDetailBusiness:
      allOf:
        - $ref: "#/components/schemas/UpdatePartyDetailCommon"
        - type: object
          properties:
            businessType:
              type: string
              example: Privately Owned Business
              description: |
                The different business entity types that can be selected e.g. Privately Owned Business | Sole Proprietorship
            legalStructure:
              type: string
              example: LLC
              description: |
                Legal Structure of the business entity. Legal structure is required for Privately Owned Business and Sole Proprietorship.
            industryCategory:
              type: string
              example: Accommodation and Food Services
              description: |
                Distinct industry category. e.g. - Accommodation and Food Services - Administrative and Support and Waste Management and Remediation Services - Agriculture, Forestry, Fishing and Hunting (not covered in economic census) - Arts, Entertainment, and Recreation - Construction - Educational Services - Finance and Insurance - Health Care and Social Assistance - Individuals - Information - Management of Companies and Enterprises - Manufacturing - Mining, Quarrying, and Oil and Gas Extraction - Other Services (except Public Administration) - Professional, Scientific, and Technical Services - Public Administration (not covered in economic census) - Real Estate and Rental and Leasing - Retail Trade - Transportation and Warehousing - Utilities - Wholesale Trade
            industryType:
              type: string
              example: Bed And Breakfast Inns
              description: |
                Industry type.
            significantOwnership:
              type: boolean
              example: true
              description: |
                Are there any individuals who own 25% or more of your business? e.g. true|false. significantOwnership is required for Privately Owned Business. If Significant Ownership is selected as True, At least one related party should have a role of owner.
            entitiesInOwnership:
              type: boolean
              example: true
              description: |
                If entitiesInOwnership is true, are there any businesses included in your ownership hierarchy? e.g. true|false. entitiesInOwnership is required for Privately Owned Business.
            businessName:
              type: string
              example: Feltz Printing Service
              description: |
                The business’s legal name. It is the official name of the person or entity that owns a company.
                And, it’s the name used on your government forms and business paperwork
            businessAliasName:
              type: string
              example: Feltz Printing Service of New York
              description: |
                The business’s alias name. It is the other alias name of the  entity that owns a company.
            businessDescription:
              type: string
              example: Printing Service of New York
              description: |
                The business’s description.
            websiteAvailable:
              type: boolean
              example: true
              description: |
                Does your business have a website? e.g. true|false
            website:
              type: string
              example: https://www.company.com
              description: |
                Website of the client. website is required if websiteAvailable is true.
            email:
              type: string
              maxLength: 50
              example: client@company.com
              description: |
                Email of the client.
            countryOfFormation:
              type: string
              example: US
              description: Country code in alpha-2 format
            yearOfFormation:
              type: string
              example: "2020"
              description: |
                Year of formation. Max and Min length is 4.
    UpdateEntityDetailBusinessRequest:
      type: object
      allOf:
        - $ref: "#/components/schemas/UpdatePartyDetailBusiness"
        - type: object
          required:
            - id
          properties:
            id:
              type: string
              example: "1234567891"
              description: |
                Client id, that uniquely identifies the client.
    UpdateRelatedPartyRequest:
      allOf:
        - $ref: "#/components/schemas/UpdatePartyDetailCommon"
        - type: object
          properties:
            id:
              type: string
              example: f773b9c1-13e5-4e5a-b055-def345eb85d0
              description: |
                Unique identifier for this party. It is only required for UPDATE and REMOVE actions
            businessName:
              type: string
              example: Feltz Printing Service
              description: |
                The business’s legal name. It is the official name of the person or entity that owns a company. And, it’s the name used on your government forms and business paperwork. This field is only required when party type is NON-IND
            firstName:
              type: string
              minLength: 2
              maxLength: 30
              example: Lenna
              description: |
                First name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
            middleName:
              type: string
              maxLength: 30
              example: More
              description: |
                Middle name of the individual in case of party type being an individual.
            lastName:
              type: string
              minLength: 2
              maxLength: 30
              example: Paprocki
              description: |
                Last name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
            jobTitle:
              type: string
              example: CEO
              description: |
                Job title in case of party type being an individual. JobTitle is required field for Controllers. Also, If Privately Owned Business is selected as the business type, Job Title should be a required field for Decision Makers. e.g. CEO|CFO|COO|President|Chairman|Senior Branch Manager|Other
            jobTitleDescription:
              type: string
              example: Acting CEO
              maxLength: 50
              description: |
                In case on jobTitle is Other then Job title description is required.
            birthDate:
              type: string
              example: 1983-02-08
              description: |
                The date of birth (yyyy-MM-dd) of the individual in case of party type being an individual. This field is not required for the party type Organization.
            email:
              type: string
              example: client@company.com
              description: |
                Email of the individual.
            natureOfOwnership:
              type: string
              example: Direct
              description: |
                Nature of ownership e.g. Direct|Indirect
            soleOwner:
              type: boolean
            partyType:
              type: string
              example: Individual
              description: |
                A Party type which could have one of the following distinct values: Organization, Individual, NonIndividual
            partyRole:
              type: array
              items:
                type: string
              example:
                - CONTROLLER
                - OWNER
              description: |
                A Party role which could have one or more of the following values: CLIENT, CONTROLLER, MARKETPLACE_OPERATOR, OWNER, PAYEE, DECISION_MAKER
                If a SMB controller and owner is the same person - you have to send two parties with the distinct partyRoles e.g. [ CLIENT, CONTROLLER, MARKETPLACE_OPERATOR, OWNER, DECISION_MAKER ]
    UpdateRelatedPartiesRequest:
      allOf:
        - $ref: "#/components/schemas/UpdateRelatedPartyRequest"
        - type: object
          required:
            - action
          properties:
            action:
              type: string
              example: ADD
              description: |
                The action like ADD, UPDATE, REMOVE
    UpdateClientRequest:
      type: object
      allOf:
        - $ref: "#/components/schemas/UpdateEntityDetailBusinessRequest"
        - type: object
          properties:
            relatedParties:
              type: array
              items:
                $ref: "#/components/schemas/UpdateRelatedPartiesRequest"
    UpdateRelatedPartiesResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/UpdateRelatedPartyRequest"
        - type: object
          required:
            - id
          properties:
            id:
              type: string
              example: "1234567891"
              description: |
                Client id, that uniquely identifies the client.
    UpdateClientResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/UpdateEntityDetailBusinessRequest"
        - type: object
          properties:
            relatedParties:
              type: array
              items:
                $ref: "#/components/schemas/UpdateRelatedPartiesResponse"
            products:
              type: array
              items:
                type: string
              example:
                - EP
              description: |
                The products available for clients.
    VerificationIdResponse:
      type: object
      properties:
        id:
          type: string
          example: A01148
          description: The unique identifier for a personal identification verification.
        label:
          type: string
          example: "Total annual revenue/income: Fiscal Year End Date"
          description: verification question.
    AnswerOption:
      type: object
      properties:
        id:
          type: string
          example: CUB
          description: Internal id value, not to be shared with user
        label:
          type: string
          example: Cuba
          description: External readable value to be presented to the user.
    AnswerResponse:
      type: object
      properties:
        values:
          type: array
          items:
            type: string
          example:
            - CUB
            - SYR
          description: |
            The answer/s of a question. Can contain one or more elements.
        updatedDateTime:
          type: string
          example: 2022-05-17T12:24:09
          description: date time of submission in ISO format yyyy-MM-ddTHH:mm:ss
        format:
          type: string
          example: list
          description: Can be single for one item in the values or list in case of more than one values. The other options are word, freeText, alphaNumeric and there will be only one element allowed
        maxLength:
          type: number
          format: int64
          example: 255
          description: max length allowed in values field. In case of freeText, the maximum length is 2000
        parentId:
          type: string
          example: A00033
          description: Id of parent Question
        answerOptions:
          type: array
          items:
            $ref: "#/components/schemas/AnswerOption"
    VerificationResponse:
      type: object
      properties:
        verification:
          $ref: "#/components/schemas/VerificationIdResponse"
        response:
          $ref: "#/components/schemas/AnswerResponse"
          type: array
    VerificationsResponse:
      allOf:
        - $ref: "#/components/schemas/VerificationResponse"
    AttestationResponse:
      type: object
      properties:
        fullName:
          type: string
          example: Rob Allen
          description: " First and last name of the attester."
        ipAddress:
          type: string
          example: 192.168.0.1
          description: " Attested IP address"
        attestationDateTime:
          type: string
          example: 2022-05-17T12:24:09
          description: date time of submission in ISO format yyyy-MM-ddTHH:mm:ss
        documentType:
          type: string
          example: DISCLOSURE_AND_CONSENT OR TERMS_CONDITION
          description: The type of document. Can be terms and conditions or disclosure and consent documents.
        documentId:
          type: string
          example: 122b4c2e-4442-408e-a29f-8568bf59099e
          description: Unique identifier of the legal document that must be attested by the user. For example, terms & conditions or disclosure & consent documents.
        documentVersion:
          type: string
          example: v1.0
          description: Document version
        documentName:
          type: string
          example: terms_condition-eb-petsy-1.pdf
          description: Name of the document
    AttestationsResponse:
      allOf:
        - $ref: "#/components/schemas/AttestationResponse"
    AdditionalDocument:
      type: object
      properties:
        partyId:
          type: string
          example: 122b4c2e-4442-408e-a29f-8568bf59099e
          description: Releated Party id
        status:
          type: string
          example: REQUESTED
          description: Status of the document. REQUESTED means the document needs to be provided
        documentLevel:
          type: string
          example: Primary
          description: Identity documents level - The category of document which is predefined. Primary is one of the categories and has some limited set of applicable documents.
        documentId:
          type: string
          example: 122b4c2e-4442-408e-a29f-8568bf59099e
          description: Unique identifier of the document which user uploaded
        partyType:
          type: string
          example: Organization
          description: Specifies the party type, for Legal Entity it is Organization and for Related party e.g. Owner/Controller etc. it is Individual
        numberOfDaysRemainingToUpload:
          type: string
          example: "30"
          description: "Specifies number of days remaining to upload documents "
        documentType:
          type: string
          example: Social Security Card
          description: Specifies type of the document uploaded
        supportedDocuments:
          type: array
          items:
            type: string
            description: List of supported documents which client can choose to upload
    AdditionalDocuments:
      allOf:
        - $ref: "#/components/schemas/AdditionalDocument"
    ClientVerificationsInformationResponse:
      type: object
      properties:
        status:
          type: string
          example: PENDING_VALIDATION
          description: If the status is present in the response, verifications are submitted for the client
        verifications:
          type: array
          items:
            $ref: "#/components/schemas/VerificationsResponse"
        attestations:
          type: array
          items:
            $ref: "#/components/schemas/AttestationsResponse"
        additionalDocuments:
          type: array
          items:
            $ref: "#/components/schemas/AdditionalDocuments"
    VerificationIdRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          example: A01148
          description: The unique identifier for a personal identification verification.
    AnswerRequest:
      type: object
      required:
        - values
      properties:
        values:
          type: array
          items:
            type: string
          example:
            - CUB
            - SYR
          description: |
            The answer/s of a question. Can contain one or more elements. In case where response options are provided, it has to be the id/s depending on single or list format. In case of other formats e.g. freeText, there can be only one element.
    VerificationRequest:
      type: object
      required:
        - verification
        - response
      properties:
        verification:
          $ref: "#/components/schemas/VerificationIdRequest"
        response:
          $ref: "#/components/schemas/AnswerRequest"
          type: object
    VerificationsRequest:
      allOf:
        - $ref: "#/components/schemas/VerificationRequest"
    AttestationRequest:
      type: object
      required:
        - fullName
        - ipAddress
        - documentId
      properties:
        fullName:
          type: string
          example: Rob Allen
          description: " First and last name of the attester."
        ipAddress:
          type: string
          example: 192.168.0.1
          description: " Attested IP address"
        documentId:
          type: string
          example: 122b4c2e-4442-408e-a29f-8568bf59099e
          description: Unique identifier of the legal document that must be attested by the user. For example, terms & conditions or disclosure & consent documents.
    AttestationsRequest:
      allOf:
        - $ref: "#/components/schemas/AttestationRequest"
    ClientVerificationsInformationRequest:
      type: object
      properties:
        verifications:
          type: array
          items:
            $ref: "#/components/schemas/VerificationsRequest"
        attestations:
          type: array
          items:
            $ref: "#/components/schemas/AttestationsRequest"
    CustomerIdentificationResponse:
      type: object
      required:
        - customerIdentificationStatus
      properties:
        customerIdentificationStatus:
          type: string
          enum:
            - CIP_PASSED
            - CIP_FAILED
            - CIP_PENDING_VERIFICATION
          example: CIP_PASSED
          description: If the status is present in the response, CIP has been performed
    OnboardingStatus:
      type: string
      enum:
        - REQUEST_RECEIVED
        - SUBMITTED_FOR_PROCESSING
        - CIP_COMPLETE
        - KYC_REVIEW
        - KYC_COMPLETE
        - ONBOARDING_COMPLETE
        - ISSUE_ADDITIONAL_INFO_REQUESTED
        - ISSUE_INFO_RETURNED_TO_CDD
        - PENDING_ONBOARDING_TERMINATION
        - ONBOARDING_TERMINATED
        - OFFBOARDING_PENDING
        - OFFBOARDING_COMPLETE
    Action:
      type: string
      enum:
        - ADD
        - UPDATE
        - REMOVE
    ProductType:
      description: Product type identifies which domain the document is being uploaded to.
      type: string
      enum:
        - EB
        - EP
    ProductTypesArray:
      type: array
      items:
        type: object
        $ref: "#/components/schemas/ProductType"
    DocumentMetadata:
      description: |
        - Additional information about the document in a key-value pair array.
        - The processing domain should only support the specific keys for thier relevant workflows.
        - The productType and documentType combination will determine the 
          list of allowed meta-data keys and the format of their values.
            - For productype = EB and documentType = ( PASSPORT | SSN_CARD | DRIVERS_LICENSE | GOV_ISSUED_ID_CARD ),

              Mandatory meta-data key list = ["partyId"] and allowed meta-data value format = ["uuid"].

              Example - {"key": "partyId", "value": "73bd1c1d-6635-43ff-a8e5-b252926bdd9e"} .
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          enum:
            - PARTY_ID
            - COUNTRY_CODE
          description: Key value can be PARTY_ID or COUNTRY_CODE
          example: PARTY_ID
        value:
          type: string
          minLength: 1
          maxLength: 50
          description: value can be UUID which represents a partyId or a ISO two characters country code e.g. US
          example: 73bd1c1d-6635-43ff-a8e5-b252926bdd9e
    DocumentsDetails:
      type: object
      properties:
        id:
          type: string
          example: 73bd1c1d-6635-43ff-a8e5-b252926bdd9e
        documentType:
          type: string
          example: TERMS_CONDITION
        productTypes:
          $ref: "#/components/schemas/ProductTypesArray"
        metadata:
          type: array
          items:
            $ref: "#/components/schemas/DocumentMetadata"
    DocumentsDetailsArray:
      type: array
      items:
        type: object
        $ref: "#/components/schemas/DocumentsDetails"
    ListDocumentsDetailsResponse:
      type: object
      properties:
        metadata:
          $ref: "#/components/schemas/PageMetaData"
        items:
          $ref: "#/components/schemas/DocumentsDetailsArray"
    DocumentType:
      description: Supported document types.
      type: string
      enum:
        - IRS_DOCUMENT_TIN
        - ARTICLES_OF_INCORPORATION
        - MOA
        - MAA
        - CONSTITUTIONAL_DOCUMENT
        - TRUST_DEED
        - PARTNERSHIP_AGREEMENT
        - LLC_AGREEMENT
        - OPERATING_AGREEMENT
        - OFFERING_MEMO
        - BANKING_LICENSE
        - BUSINESS_LICENSE
        - BUSINESS_REGISTRATION_CERT
        - OTHER_GOV_REGISTRATION_DOCS
        - SEC_FILINGS_10K
        - PASSPORT
        - SSN_CARD
        - DRIVERS_LICENSE
        - GOV_ISSUED_ID_CARD
        - TERMS_CONDITION
        - DISCLOSURE_AND_CONSENT
    DocumentUploadData:
      type: object
      properties:
        documentType:
          $ref: "#/components/schemas/DocumentType"
        productType:
          $ref: "#/components/schemas/ProductType"
        metadata:
          type: array
          items:
            $ref: "#/components/schemas/DocumentMetadata"
          minItems: 0
          maxItems: 2
      required:
        - documentType
        - productType
    DocumentDetails:
      type: object
      properties:
        id:
          description: |
            The unique id generated by the system for the uploaded document,  which can be used for future retrieval.
          type: string
          format: uuid
          example: abcd1c1d-6635-43ff-a8e5-b252926bddef
        documentType:
          $ref: "#/components/schemas/DocumentType"
        productType:
          $ref: "#/components/schemas/ProductType"
        metadata:
          type: array
          items:
            $ref: "#/components/schemas/DocumentMetadata"
          minItems: 0
          maxItems: 2
    RequestTransactionType:
      description: The types of transaction that the client is allowed to search by.
      type: string
      enum:
        - PAYIN
        - PAYOUT
        - TRANSFER
        - REVERSAL
        - UNDEFINED
        - RETURN
        - CARD
        - HOLD
        - FEE
      example: PAYIN
    RequestTransactionStatus:
      description: The statuses of the transaction that the client is allowed to search by.
      type: string
      enum:
        - PENDING
        - CANCELED
        - COMPLETED
        - COMPLETED_WITH_EXCEPTIONS
        - REJECTED
        - RETURNED
        - PARTIALLY_COMPLETED
        - UNDEFINED
      example: PENDING
    TransactionStatus:
      description: |
        The current status of the transaction as it is processed:
         * `PENDING` - The transaction is still being processed.
         * `CANCELED` - The transaction has been canceled.
         * `COMPLETED` - The transaction has been completed.
         * `COMPLETED_WITH_EXCEPTIONS` - The transaction has completed, but not all of the requested criteria has been fulfilled.
         * `REJECTED` - The transaction has been rejected and will not be completed.
         * `RETURNED` - The payment rail has been unable to complete the payment specified recipient. The payment has been returned to the originator. 
         * `PARTIALLY_COMPLETED` - Not all transactions in the batch have been completed. 
         * `UNDEFINED` - The status of this transaction cannot be found.
      type: string
      enum:
        - PENDING
        - CANCELED
        - COMPLETED
        - COMPLETED_WITH_EXCEPTIONS
        - COMPLETED_NOT_IN_TARGET_WALLET
        - REJECTED
        - RETURNED
        - PARTIALLY_COMPLETED
        - UNDEFINED
      example: PENDING
    TransactionType:
      description: Defines the transaction according to specific types. For example, whether money has been paid into or out of the account.
      type: string
      enum:
        - PAYIN
        - PAYTO
        - PAYINTO
        - TRANSFER
        - PAYOUT
        - PAYIN_REVERSAL
        - PAYOUT_REVERSAL
        - MISC_CREDIT
        - MISC_DEBIT
        - UNDEFINED
        - PAYINTORECEIPT
        - PAYOUTCOLLECTION
        - PAYINTOCOLLECTION
        - PAYINTO_RETURN
        - PAYOUTCOLLECTION_RETURN
        - PAYINTOCOLLECTION_RETURN
        - RETURN
        - CARD
        - FEE
      example: PAYIN
    AccountingType:
      description: Accounting type (Credit (CR) / Debit (DR)) for transaction
      type: string
      nullable: false
      enum:
        - DR
[...]
