openapi: 3.0.3
info:
  title: Embedded Finance API
  version: 0.1.1
  description: Embedded Finance services from J.P. Morgan
  contact:
    name: JPMC Technical Services Support
servers:
  - url: https://apigateway.jpmorgan.com/tsapi
    description: Production API Server
  - url: https://apigatewaycat.jpmorgan.com/tsapi
    description: CTE API Testing Server
security:
  - Certs: []
    Token: []
  - Certs: []
tags:
  - name: Clients
    description: Onboard and manage Embedded Finance clients.
  - name: Accounts
    description: Create, organize and manage Embedded Finance accounts.
  - name: Parties
    description: Create and manage legal parties.
    x-ep-only: true
  - name: Questions
    description: Information on KYC questions.
    x-ep-only: true
  - name: Recipients
    description: Set up and manage who can be paid through Embedded Finance transactions.
  - name: Transactions
    description: Initiate and track the movement of funds, including payments.
  - name: Documents
    description: Manage document upload and retrieval.
  - name: Document requests
    description: View details of requests for documents.
    x-ep-only: true
  - name: Webhooks
    description: Create and manage webhook subscriptions for your platform.
paths:
  /ef/v1/recipients:
    get:
      summary: List recipients
      description: Returns a list of all recipients for a given client profile.
      operationId: getAllRecipients
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRecipientsResponse"
              examples:
                ListRecipientRes:
                  $ref: "#/components/examples/ListRecipientRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create recipient
      description: Creates a new recipient.
      operationId: createRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecipientRequest"
            examples:
              CreateRecipientReq:
                $ref: "#/components/examples/CreateRecipientReq"
      responses:
        "201":
          description: The recipient was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
              examples:
                CreateRecipientRes:
                  $ref: "#/components/examples/CreateRecipientRes"
        "400":
          $ref: "#/components/responses/400_recipients"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/recipients/{id}/verify-microdeposit":
    post:
      summary: Creates a microdeposits verification process.
      description: Creates a microdeposits verification process.
      operationId: recipientsVerification
      tags:
        - Recipients
      parameters:
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MicrodepositAmounts"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MicrodepositVerificationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/recipients/{id}":
    get:
      summary: Get recipient
      description: Returns information about a specific recipient.
      operationId: getRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
              examples:
                GetRecipientRes:
                  $ref: "#/components/examples/GetRecipientRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Update recipient
      description: Updates details of a recipient, such as adding values for attributes related to payment types. All attributes must be provided in the same format as when creating a recipient. The value partyDetails.type cannot be amended after creation.
      operationId: amendRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: client_id
          in: header
          description: Unique identifier for a client.
          required: true
          example: "0030000131"
          schema:
            type: string
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecipientRequest"
            examples:
              UpdateRecipientReq:
                $ref: "#/components/examples/UpdateRecipientReq"
      responses:
        "200":
          description: The recipient was amended successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/webhooks:
    post:
      summary: Create a webhook subscription.
      description: Create a webhook subscription
      operationId: createWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        required: true
        description: Create a new webhook subscription.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookSubscriptionRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSubscriptionResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: List webhooks
      description: List your webhook subscriptions
      operationId: listWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageNo"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhookSubscriptionResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/webhooks/{id}":
    patch:
      summary: Update a webhook subscription by ID.
      description: Update your subscription to a webhook.
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          example: 944803b0-f1c2-4b28-91ce-8985b1f317a7
          schema:
            type: string
          description: Unique identifier of the webhook to be updated
          required: true
      requestBody:
        required: true
        description: Update an existing webhook subscription.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookSubscriptionUpdateRequest"
            examples:
              AddEventsToAWebhookSubscription:
                $ref: "#/components/examples/AddEventsToAWebhookSubscription"
              RemoveEventsToAWebhookSubscription:
                $ref: "#/components/examples/RemoveEventsFromAWebhookSubscription"
              ReplaceStatusOfAWebhookSubscription:
                $ref: "#/components/examples/UpdateStatusOfAWebhookSubscription"
      responses:
        "204":
          description: The webhook subscription resource was updated successfully.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: Get a webhook subscription by ID.
      description: Get details of your subscription to a specific webhook.
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for webhook subscription
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSubscriptionResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/transactions:
    post:
      summary: Create transaction
      description: Creates a new transaction, such as a payment via ACH, Wire or Real Time Payments (RTP).
      operationId: createTransactionV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/token"
      requestBody:
        description: Contains the required information to create a payment transaction.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostTransactionRequestV2"
            examples:
              CreateTransactionReq:
                $ref: "#/components/examples/CreateTransactionReq"
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponseV2"
              examples:
                CreateTransactionRes:
                  $ref: "#/components/examples/CreateTransactionRes"
        "400":
          $ref: "#/components/responses/400V2"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: List transactions
      description: Lists transactions for a specific client, which can be filtered using optional parameters.
      operationId: listTransactionsV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/token"
        - in: query
          name: transactionType
          schema:
            $ref: "#/components/schemas/RequestTransactionType"
          description: Filters by type of transaction.
          required: false
        - in: query
          name: status
          schema:
            $ref: "#/components/schemas/RequestTransactionStatus"
          description: Filters by transaction status.
          required: false
        - in: query
          name: accountId
          example: ae86b765e14741c5a44acc570af517ab
          schema:
            type: string
          description: Filters by the Embedded Finance account id connected to the transaction.
          required: false
        - in: query
          name: accountNumber
          example: "200293631511"
          schema:
            type: string
          description: Filters by the Embedded Finance client account number connected to the transaction.
          required: false
        - in: query
          name: amountEquals
          example: "100"
          schema:
            type: string
          description: Filters by an exact amount.
          required: false
        - in: query
          name: amountGreaterThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts greater than a specified value.
          required: false
        - in: query
          name: amountLessThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts less than a specified value.
          required: false
        - in: query
          name: dateEquals
          example: 01-01-2022
          schema:
            type: string
          description: Filters transactions by an exact date.
          required: false
        - in: query
          name: dateGreaterThan
          example: 01-01-2022
          schema:
            type: string
          description: Filters for transactions made after this date.
          required: false
        - in: query
          name: dateLessThan
          example: 01-01-2022
          schema:
            type: string
          description: Filters for transactions made before this date.
          required: false
        - in: query
          name: dateTimeGreaterThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions made after this date and time.
          required: false
        - in: query
          name: dateTimeLessThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions made before this date and time.
          required: false
        - in: query
          name: transactionId
          example: 2451821d-e6f9-450d-b041-a20ae9d08f14
          schema:
            type: string
          description: Filters for a transaction that matches a specific transaction ID. The transaction ID is generated by Embedded Finance when a transaction is created or received.
        - in: query
          name: transactionReferenceId
          example: inv-pay-1234
          schema:
            type: string
          description: Filters for a transaction that matches a specific transaction reference ID provided by the client.
          required: false
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsSearchResponseV2"
              examples:
                GetTransactionsRes:
                  $ref: "#/components/examples/GetTransactionsRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/transactions/{id}":
    get:
      summary: Get transaction
      description: Returns details for a specific transaction using its unique identifier.
      operationId: getTransactionV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/clientId"
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a transaction.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionGetResponseV2"
              examples:
                GetTransactionByIdRes:
                  $ref: "#/components/examples/GetTransactionByIdRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/accounts:
    get:
      summary: List accounts
      description: Returns a list of accounts for a specific client.
      operationId: getAccounts
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo1"
      tags:
        - Accounts
      responses:
        "200":
          description: List of accounts for a specific client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
              examples:
                ListAccountsResponse:
                  $ref: "#/components/examples/ListAccountsResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
    post:
      summary: Create account
      description: Create an account for a specific client
      operationId: postAccounts
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/token"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
            examples:
              CreateAccountRequest:
                $ref: "#/components/examples/CreateAccountRequest"
      tags:
        - Accounts
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
              examples:
                CreateAccountResponse:
                  $ref: "#/components/examples/CreateAccountResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  "/ef/v1/accounts/{id}":
    get:
      summary: Get account by ID
      description: Look up a single account by account ID
      operationId: getAccountById
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
              examples:
                GetLimitedDdaAccountResponse:
                  $ref: "#/components/examples/GetLimitedDdaAccountResponse"
                GetEmbeddedDdaAccountResponse:
                  $ref: "#/components/examples/GetEmbeddedDdaAccountResponse"
                GetDdaAccountResponse:
                  $ref: "#/components/examples/GetDdaAccountResponse"
                GetProcessingAccountResponse:
                  $ref: "#/components/examples/GetProcessingAccountResponse"
                GetManagementAccountResponse:
                  $ref: "#/components/examples/GetManagementAccountResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "404":
          $ref: "#/components/responses/4041"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  "/ef/v1/accounts/{id}/balances":
    get:
      summary: Get an account balance
      description: Get the balance details for an account
      operationId: getAccountBalance
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/clientIdHeader"
        - $ref: "#/components/parameters/accountId"
      responses:
        "200":
          description: Account balance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceResponse"
              examples:
                GetAccountBalanceResponse:
                  $ref: "#/components/examples/GetAccountBalanceResponse"
        "400":
          $ref: "#/components/responses/4001"
        "401":
          $ref: "#/components/responses/4011"
        "403":
          $ref: "#/components/responses/4031"
        "404":
          $ref: "#/components/responses/4041"
        "500":
          $ref: "#/components/responses/5001"
        "503":
          $ref: "#/components/responses/5031"
  /ef/do/v1/clients:
    x-ep-only: true
    get:
      summary: List clients
      description: Returns a list of Embedded Finance clients associated with your platform.
      operationId: smbdo-listClients
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientListResponse"
              examples:
                ClientListResponse:
                  $ref: "#/components/examples/ClientListResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
    post:
      summary: Create client
      description: Creates a client.
      operationId: smbdo-postClients
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequestSmbdo"
            examples:
              CreateClient:
                $ref: "#/components/examples/CreateClient"
              CreateClientInline:
                $ref: "#/components/examples/CreateClientInline"
              CreateClientInlineSoleProprietorship:
                $ref: "#/components/examples/CreateClientInlineSoleProprietorship"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                ClientOutstandingResponse:
                  $ref: "#/components/examples/ClientOutstandingResponse"
                ClientCompletedResponse:
                  $ref: "#/components/examples/ClientCompletedResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/clients/{id}":
    x-ep-only: true
    get:
      summary: Get client
      description: Retrieve client details by its ID.
      operationId: smbdo-getClient
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                ClientOutstandingResponse:
                  $ref: "#/components/examples/ClientOutstandingResponse"
                ClientCompletedResponse:
                  $ref: "#/components/examples/ClientCompletedResponse"
                ClientCompletedResponse1:
                  $ref: "#/components/examples/ClientCompletedResponse1"
                ClientCompletedResponse2:
                  $ref: "#/components/examples/ClientCompletedResponse2"
                ClientInProgressResponse1:
                  $ref: "#/components/examples/ClientInProgressResponse1"
                ClientInProgressResponse2:
                  $ref: "#/components/examples/ClientInProgressResponse2"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
    post:
      summary: Update client
      description: Updates a client.
      operationId: smbdo-updateClient
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequestSmbdo"
            examples:
              UpdateClient:
                $ref: "#/components/examples/UpdateClient"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                ClientOutstandingResponse:
                  $ref: "#/components/examples/ClientOutstandingResponse"
                ClientCompletedResponse:
                  $ref: "#/components/examples/ClientCompletedResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/clients/{id}/verifications":
    x-ep-only: true
    post:
      summary: Perform client verifications
      description: Performs client verifications
      operationId: smbdo-postClientVerifications
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      responses:
        "202":
          description: Accepted.
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "422":
          $ref: "#/components/responses/422"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  /ef/do/v1/parties:
    x-ep-only: true
    get:
      summary: List parties
      description: Retrieves a list of parties.
      operationId: smbdo-listParties
      tags:
        - Parties
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
        - $ref: "#/components/parameters/parentPartyId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyListResponse"
              examples:
                PartyListResponse:
                  $ref: "#/components/examples/PartyListResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
    post:
      summary: Create party
      description: Creates a new party.
      operationId: smbdo-postParties
      tags:
        - Parties
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePartyRequest"
            examples:
              CreateOrganizationParty:
                $ref: "#/components/examples/CreateOrganizationParty"
              CreateIndividualParty:
                $ref: "#/components/examples/CreateIndividualParty"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                OrganizationLLCPartyResponse:
                  $ref: "#/components/examples/OrganizationLLCPartyResponse"
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                IndividualPartyBeneficialOwnerResponse:
                  $ref: "#/components/examples/IndividualPartyBeneficialOwnerResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/parties/{id}":
    x-ep-only: true
    get:
      tags:
        - Parties
      summary: Get party
      description: Details a party by its unique identifier.
      operationId: smbdo-getParty
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a party.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "2000011675"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                OrganizationLLCPartyResponse:
                  $ref: "#/components/examples/OrganizationLLCPartyResponse"
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                IndividualPartyBeneficialOwnerResponse:
                  $ref: "#/components/examples/IndividualPartyBeneficialOwnerResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
    post:
      tags:
        - Parties
      summary: Update party
      description: Updates a party.
      operationId: smbdo-updateParty
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a party.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "2000011675"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePartyRequest"
            examples:
              UpdateOrganizationParty:
                $ref: "#/components/examples/UpdateOrganizationParty"
              UpdateIndividualParty:
                $ref: "#/components/examples/UpdateIndividualParty"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                OrganizationLLCPartyResponse:
                  $ref: "#/components/examples/OrganizationLLCPartyResponse"
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                IndividualPartyBeneficialOwnerResponse:
                  $ref: "#/components/examples/IndividualPartyBeneficialOwnerResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  /ef/do/v1/questions:
    x-ep-only: true
    get:
      tags:
        - Questions
      summary: List questions
      description: |
        Lists customer due diligence questions.
      operationId: smbdo-listQuestions
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/questionIdListInQuery"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestionListResponse"
              examples:
                QuestionListResponse:
                  $ref: "#/components/examples/QuestionListResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/questions/{id}":
    x-ep-only: true
    get:
      tags:
        - Questions
      summary: Get question
      description: |
        Get a customer due diligence question.
      operationId: smbdo-getQuestion
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique Question identifier.
          required: true
          schema:
            type: string
            maxLength: 10
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-QuestionResponse"
              examples:
                QuestionResponse:
                  $ref: "#/components/examples/QuestionResponse"
                DependentQuestionResponse:
                  $ref: "#/components/examples/DependentQuestionResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  /ef/do/v1/document-requests:
    x-ep-only: true
    get:
      tags:
        - Document requests
      summary: List document requests
      description: |
        Get a list of document requests.
      operationId: smbdo-listDocumentRequests
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdQuery"
        - $ref: "#/components/parameters/partyIdQuery"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRequestListResponse"
              examples:
                DocumentRequestListResponse:
                  $ref: "#/components/examples/DocumentRequestListResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/document-requests/{id}":
    x-ep-only: true
    get:
      tags:
        - Document requests
      summary: Get document request
      description: Returns details for a document request using its unique identifier.
      operationId: smbdo-getDocumentRequest
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a document request.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "3000011675"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRequestResponse"
              examples:
                DocumentRequestDriversLicenseUs:
                  $ref: "#/components/examples/DocumentRequestDriversLicenseUs"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  /ef/do/v1/documents:
    x-ep-only: true
    get:
      tags:
        - Documents
      summary: List document details
      description: |
        Retrieves a list of document details.
      operationId: smbdo-getAllDocumentDetails
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdInQuery"
        - $ref: "#/components/parameters/partyIdQuery"
        - $ref: "#/components/parameters/platformIdInQuery"
        - $ref: "#/components/parameters/pageNo"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/documents/{id}":
    x-ep-only: true
    get:
      tags:
        - Documents
      summary: Get document details
      description: |
        Retrieve details of a document.
      operationId: smbdo-getDocumentDetail
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Unique document identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddef
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/documents/{id}/file":
    x-ep-only: true
    get:
      tags:
        - Documents
      summary: Download a document
      description: Download a document using its unique identifier.
      operationId: smbdo-downloadDocument
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Unique Document identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddef
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
x-webhooks:
  events:
    post:
      summary: Embedded Finance Event posted
      tags:
        - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/TransactionsCallbackEvent"
                - $ref: "#/components/schemas/AccountsCallbackEvent"
                - $ref: "#/components/schemas/ClientsCallbackEvent"
            examples:
              ClosedCreditorAccountTransactionEvent:
                $ref: "#/components/examples/ClosedCreditorAccountTransactionEvent"
              InsufficientFundsTransactionEvent:
                $ref: "#/components/examples/InsufficientFundsTransactionEvent"
              InconsistentRecipientTransactionEvent:
                $ref: "#/components/examples/InconsistentRecipientTransactionEvent"
              CompletedTransactionEvent:
                $ref: "#/components/examples/CompletedTransactionEvent"
              CompletedOnboardingClientEvent:
                $ref: "#/components/examples/CompletedOnboardingClientEvent"
              CustomerIdentityVerifiedOnboardingClientEvent:
                $ref: "#/components/examples/CustomerIdentityVerifiedOnboardingClientEvent"
              CustomerIdentityNotVerifiedOnboardingClientEvent:
                $ref: "#/components/examples/CustomerIdentityNotVerifiedOnboardingClientEvent"
              LimitedDdaAccountCreatedEvent:
                $ref: "#/components/examples/LimitedDdaAccountCreatedEvent"
      responses:
        "200":
          description: Your server returns this code if it accepts the callback
components:
  schemas:
    DocumentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
    ApiError:
      type: object
      required:
        - error
        - message
      discriminator:
        propertyName: error
      properties:
        error:
          type: string
          pattern: ^[A-Z0-9_]+$
          description: Readable code returned to indicate an error occurred.
          example: BAD_REQUEST
        message:
          type: string
          description: Message describing the error. This message can typically be displayed to your platform's users, except in cases specified otherwise
          example: Error in Request Formatting
        reasons:
          type: array
          items:
            $ref: "#/components/schemas/ApiErrorReason"
          minItems: 1
          maxItems: 100
    ApiErrorReason:
      type: object
      required:
        - reason
        - message
      properties:
        reason:
          type: string
          pattern: ^[A-Z0-9_]+$
          description: Readable reason returned to indicate a reason behind the error occurred
          example: INVALID_INPUT_VALUE_LENGTH
        field:
          type: string
          description: Part of the request which is responsible for the reason
        rejectedValue:
          type: string
          description: Rejected value from the request which is responsible for the reason
        message:
          type: string
          description: Message describing the reason. This message can typically be displayed to your platform's users, except in cases specified otherwise
    ApiErrorV2:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: Short humanly-readable title of the error
          example: BAD_REQUEST
        httpStatus:
          type: integer
          description: HTTP status code
          example: 422
        traceId:
          type: string
          description: Internal assigned traced identifier
        requestId:
          type: string
          description: Client provided request identifier
        context:
          type: array
          items:
            $ref: "#/components/schemas/ApiErrorReasonV2"
          description: Provides additional context and detail on the validation errors
    ApiErrorReasonV2:
      type: object
      required:
        - message
      properties:
        code:
          type: string
          description: Short code that identifies the error - publicly cataloged and documented
          example: "11000"
        location:
          type: string
          enum:
            - BODY
            - QUERY
            - PATH
          example: BODY
          description: Part of the request which is responsible for the reason
        field:
          type: string
          description: The location of the property or parameter in error
        message:
          type: string
          example: Client with ID 0031234567 does not exist.
          description: Message describing the reason. This message can typically be displayed to your platform's users, except in cases specified otherwise
    PageMetaData:
      type: object
      properties:
        page:
          type: integer
          example: 2
          description: |
            Page Number.
        limit:
          type: integer
          example: 30
          description: |
            Number of records per page.
        total_items:
          type: integer
          example: 340
          description: |
            Total number of items.
    AddressDto:
      type: object
      required:
        - addressLine1
        - city
        - countryCode
        - postalCode
      properties:
        addressType:
          type: string
          example: Principal place of business
          description: Type of address e.g. 'Primary Residence' | 'Principal place of business'.
        addressLine1:
          type: string
          maxLength: 34
          example: 689 Main St
          description: addressLine1 must not be a PO Box and must begin with a number.addressLine1 has a maximum of 60 characters.
        addressLine2:
          type: string
          maxLength: 34
          example: Opposite St. Andrews Church
          description: addressLine2 has a maximum of 60 characters.
        addressLine3:
          type: string
          maxLength: 34
          example: Mini York
          description: addressLine3 has a maximum of 60 characters.
        city:
          type: string
          maxLength: 34
          example: Anchorage
          description: city has a maximum of 30 characters.
        state:
          type: string
          maxLength: 30
          example: AZ
          description: State code in alpha-2 format. State is mandatory for countries like United States.
        postalCode:
          type: string
          maxLength: 10
          example: "99501"
          description: Postal/ZIP code.
        countryCode:
          type: string
          example: US
          description: Country code in alpha-2 format.
    Phone:
      type: object
      required:
        - countryCode
        - phoneNumber
      properties:
        countryCode:
          type: string
          example: "+1"
        phoneNumber:
          type: string
          example: "7785462944"
      description: |
        Phone Number Information of the account
    IdentityDTO:
      type: object
      required:
        - idType
        - idValue
        - idIssuer
      properties:
        idType:
          type: string
          example: EIN
          description: |
            IdType denotes the type of taxpayer identification numbers e.g. SSN/EIN/ITIN. EIN is acceptable idType for Privately Owned Business. Sole Proprietorship can have EIN/SSN/ITIN as idType. For individuals like Owners and Controllers SSN/ITIN is accepted as idType. Decision Makers do not require any tax identifier.
        idDescription:
          type: string
          example: Employee Identification Number
          description: Description of identification type e.g. Social Security Number
        idIssuer:
          type: string
          example: US
          description: Identification issuer country code e.g. US
        idValue:
          type: string
          example: "999999999"
          description: Value of the identification type. EIN/SSN/ITIN must be of 9 digits.
    PartyDetailCommon:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/AddressDto"
        phone:
          $ref: "#/components/schemas/Phone"
        identities:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/IdentityDTO"
    PartyDetailBusiness:
      allOf:
        - $ref: "#/components/schemas/PartyDetailCommon"
        - type: object
          properties:
            businessType:
              type: string
              example: Privately Owned Business
              description: |
                The type of business connected to the client. You can use the Reference Data resource to get a list of acceptable values. Examples include: Privately Owned Business. Sole Proprietorship.
            legalStructure:
              type: string
              example: Limited Liability Company
              description: |
                Legal Structure of the business entity. Legal structure is required for Privately Owned Business and Sole Proprietorship. Distinct legal structure. e.g. - Limited Liability Company - Corporation - Limited Partnership - Sole Proprietorship
            industryCategory:
              type: string
              example: Accommodation and Food Services
              description: |
                The industry category of the business connected to the client. For example, Accommodation and Food Services. You can use the Reference Data resource to get a list of acceptable values.
            industryType:
              type: string
              example: Bed And Breakfast Inns
              description: |
                The industry type of the business connected to the client. You can use the Reference Data resource to get a list of acceptable values.
            significantOwnership:
              type: boolean
              example: true
              description: |
                Significant ownership means there individuals who own 25% or more of the client's business. Always required for a Privately Owned Business. If Significant Ownership is selected as True, At least one related party should have the role of owner.
            entitiesInOwnership:
              type: boolean
              example: true
              description: |
                Entities in ownership means that one or more businesses own part of the business conected to the client. Always required for a Privately Owned Business.
            businessName:
              type: string
              example: Feltz Printing Service
              description: |
                The business’s legal name. It is the official name of the person or entity that owns a company. Must be the name used on the client's government forms and business paperwork
            businessAliasName:
              type: string
              example: Feltz Printing Service of New York
              description: |
                Any alias names for the business connected to the client.
            businessDescription:
              type: string
              example: Printing Service of New York
              description: |
                The business’s description.
            websiteAvailable:
              type: boolean
              example: true
              description: |
                Whether or not the business connected to the client has a website.
            website:
              type: string
              example: https://www.company.com
              description: |
                Website of the business connected to the client. Always required if websiteAvailable is true.
            email:
              type: string
              maxLength: 50
              example: client@company.com
              description: |
                Email of the client.
            countryOfFormation:
              type: string
              example: US
              description: Country code in alpha-2 format
            yearOfFormation:
              type: string
              example: "2020"
              description: |
                Year of company formation. Max and Min length is 4.
            parentClientId:
              type: string
              description: The parent (platform) relationship owner's ID.
    OnboardingStatus:
      type: string
      enum:
        - REQUEST_RECEIVED
        - SUBMITTED_FOR_PROCESSING
        - CIP_COMPLETE
        - KYC_REVIEW
        - KYC_COMPLETE
        - ONBOARDING_COMPLETE
        - ISSUE_ADDITIONAL_INFO_REQUESTED
        - ISSUE_INFO_RETURNED_TO_CDD
        - PENDING_ONBOARDING_TERMINATION
        - ONBOARDING_TERMINATED
        - OFFBOARDING_PENDING
        - OFFBOARDING_COMPLETE
    ProfileConfiguration:
      type: object
      properties:
        parentClientId:
          type: string
          example: "0006739851"
          description: |
            Client ID of the platform entity the client is onboarded to.
        enablePayouts:
          type: boolean
          example: true
          description: |
            Once KYC has completed and approved, clients will be able to make payments out of their Embedded Bank Account.
            This flag will be set to FALSE until this process completes. Only present for clients.
        createdAt:
          type: string
          example: 2021-11-17T10:04:37Z
          description: |
            Date the profile was created.
        profileStatus:
          type: string
          description: active | deleted
        onboardingStatus:
          type: string
          example: In Progress, Completed, Failed
          description: The client onboarding status
        onboardedProducts:
          type: array
          items:
            type: object
            properties:
              product:
                type: string
                description: Name of product
              onboardingStatus:
                $ref: "#/components/schemas/OnboardingStatus"
                description: The product onboarding status
    RelatedParty:
      allOf:
        - $ref: "#/components/schemas/PartyDetailCommon"
        - type: object
          properties:
            businessName:
              type: string
              example: Feltz Printing Service
              description: |
                The business’s legal name. It is the official name of the person or entity that owns a company. And, it’s the name used on your government forms and business paperwork. This field is only required when party type is NonIndividual
            firstName:
              type: string
              minLength: 2
              maxLength: 30
              example: Lenna
              description: |
                First name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
            middleName:
              type: string
              maxLength: 30
              example: More
              description: |
                Middle name of the individual in case of party type being an individual.
            lastName:
              type: string
              minLength: 2
              maxLength: 30
              example: Paprocki
              description: |
                Last name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
            jobTitle:
              type: string
              example: CEO
              description: |
                Job title in case of party type being an individual. JobTitle is required field for Controllers. Also, If Privately Owned Business is selected as the business type, Job Title should be a required field for Decision Makers. e.g. CEO|CFO|COO|President|Chairman|Senior Branch Manager|Other
            jobTitleDescription:
              type: string
              example: Acting CEO
              maxLength: 50
              description: |
                In case on jobTitle is Other then Job title description is required.
            birthDate:
              type: string
              example: 1983-02-08
              description: |
                The date of birth (yyyy-MM-dd) of the individual in case of party type being an individual. This field is not required for the party type Organization.
            email:
              type: string
              maxLength: 50
              example: client@company.com
              description: |
                Email of the individual.
            natureOfOwnership:
              type: string
              example: Direct
              description: |
                Nature of ownership e.g. Direct|Indirect
            soleOwner:
              type: boolean
            partyType:
              type: string
              example: Individual
              description: |
                A Party type which could have one of the following distinct values: Organization, Individual, NonIndividual
            partyRole:
              type: array
              items:
                type: string
              example:
                - CONTROLLER
                - OWNER
              description: |
                A Party role which could have one or more of the following values: CLIENT, CONTROLLER, MARKETPLACE_OPERATOR, OWNER, PAYEE, DECISION_MAKER
                If a SMB controller and owner is the same person - you have to send two parties with the distinct partyRoles e.g. [ CLIENT, CONTROLLER, MARKETPLACE_OPERATOR, OWNER, DECISION_MAKER ]
    RelatedPartyResponse:
      allOf:
        - $ref: "#/components/schemas/RelatedParty"
        - type: object
          required:
            - id
            - partyType
            - partyRole
            - email
          properties:
            id:
              type: string
              example: b98355d9-d193-4f50-9957-c699266b1530
              description: |
                Individual/NonIndividual client id, as UUID, that uniquely identifies the resource.
            status:
              type: string
              description: Status of the request. Can be active or deleted.
              example: active
    ClientInformationResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/PartyDetailBusiness"
        - $ref: "#/components/schemas/ProfileConfiguration"
        - type: object
          required:
            - id
          properties:
            id:
              type: string
              example: 1bd824ef-355d-496d-9272-900cfe4b95f9
              description: |
                Client ID. The unique identifier for a client.
            status:
              type: string
              description: active | deleted
              example: active
            relatedParties:
              type: array
              items:
                allOf:
                  - $ref: "#/components/schemas/RelatedPartyResponse"
            products:
              type: array
              items:
                type: string
              example:
                - EP
              description: |
                The products available for clients in a jurisdiction.
            jurisdiction:
              type: string
              example: US
              description: |
                The jurisdiction where the client would be onboarding.
    ListClientInformationResponse:
      type: object
      properties:
        metadata:
          $ref: "#/components/schemas/PageMetaData"
        items:
          type: array
          items:
            $ref: "#/components/schemas/ClientInformationResponse"
    PartyDetailBusinessRequest:
      allOf:
        - $ref: "#/components/schemas/PartyDetailBusiness"
        - type: object
          required:
            - businessName
    EntityDetailBusinessRequest:
      allOf:
        - $ref: "#/components/schemas/PartyDetailBusinessRequest"
    RelatedPartyRequest:
      allOf:
        - $ref: "#/components/schemas/RelatedParty"
        - type: object
          required:
            - firstName
            - lastName
            - partyType
            - partyRole
            - email
    RelatedPartiesRequest:
      allOf:
        - $ref: "#/components/schemas/RelatedPartyRequest"
    CreateClientRequest:
      type: object
      allOf:
        - $ref: "#/components/schemas/EntityDetailBusinessRequest"
        - type: object
          required:
            - relatedParties
            - products
          properties:
            relatedParties:
              type: array
              items:
                $ref: "#/components/schemas/RelatedPartiesRequest"
            products:
              type: array
              items:
                type: string
              example:
                - EP
              description: |
                The products available for clients in a jurisdiction.
            jurisdiction:
              type: string
              example: US
              description: |
                The jurisdiction where the client would be onboarding.
    UpdateAddressDto:
      type: object
      properties:
        addressType:
          type: string
          example: Principle Place Of Business
          description: Type of address e.g. 'Primary Residence' | 'Principle Place Of Business'.
        addressLine1:
          type: string
          maxLength: 34
          example: 689 Main St
          description: addressLine1 must not be a PO Box and must begin with a number.addressLine1 has a maximum of 60 characters.
        addressLine2:
          type: string
          maxLength: 34
          example: Opposite St. Andrews Church
          description: addressLine2 has a maximum of 60 characters.This field can be set to empty by passing field value as ("") in request.
        addressLine3:
          type: string
          maxLength: 34
          example: Mini York
          description: addressLine3 has a maximum of 60 characters.This field can be set to empty by passing field value as ("") in request.
        city:
          type: string
          maxLength: 34
          example: Anchorage
          description: city has a maximum of 30 characters.
        state:
          type: string
          maxLength: 30
          example: AZ
          description: State code in alpha-2 format. State is mandatory for countries like United States.
        postalCode:
          type: string
          maxLength: 10
          example: "99501"
          description: Postal/ZIP code.
        countryCode:
          type: string
          example: US
          description: Country code in alpha-2 format.
    UpdatePhone:
      type: object
      properties:
        countryCode:
          type: string
          example: "+1"
        phoneNumber:
          type: string
          example: "7785462944"
      description: |
        Phone Number Information of the account
    UpdateIdentityDTO:
      type: object
      required:
        - action
        - idType
        - idIssuer
        - idValue
      properties:
        idType:
          type: string
          example: EIN
          description: |
            IdType denotes the type of taxpayer identification numbers e.g. SSN/EIN. EIN is acceptable idType for Privately Owned Business. Sole Proprietorship can have EIN/SSN as idType. For individuals like Owners and Controllers SSN is accepted as idType.
        idDescription:
          type: string
          example: Employee Identification Number
          description: Description of identification type e.g. Social Security Number
        idIssuer:
          type: string
          example: US
          description: Identification issuer country name e.g. US
        idValue:
          type: string
          example: "999999999"
          description: Value of the identification type. EIN/SSN must be of 9 digits.
        action:
          type: string
          example: ADD
          description: |
            The action like ADD, UPDATE, REMOVE
    UpdatePartyDetailCommon:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/UpdateAddressDto"
        phone:
          $ref: "#/components/schemas/UpdatePhone"
        identities:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/UpdateIdentityDTO"
    UpdatePartyDetailBusiness:
      allOf:
        - $ref: "#/components/schemas/UpdatePartyDetailCommon"
        - type: object
          properties:
            businessType:
              type: string
              example: Privately Owned Business
              description: |
                The different business entity types that can be selected e.g. Privately Owned Business | Sole Proprietorship
            legalStructure:
              type: string
              example: LLC
              description: |
                Legal Structure of the business entity. Legal structure is required for Privately Owned Business and Sole Proprietorship.
            industryCategory:
              type: string
              example: Accommodation and Food Services
              description: |
                Distinct industry category. e.g. - Accommodation and Food Services - Administrative and Support and Waste Management and Remediation Services - Agriculture, Forestry, Fishing and Hunting (not covered in economic census) - Arts, Entertainment, and Recreation - Construction - Educational Services - Finance and Insurance - Health Care and Social Assistance - Individuals - Information - Management of Companies and Enterprises - Manufacturing - Mining, Quarrying, and Oil and Gas Extraction - Other Services (except Public Administration) - Professional, Scientific, and Technical Services - Public Administration (not covered in economic census) - Real Estate and Rental and Leasing - Retail Trade - Transportation and Warehousing - Utilities - Wholesale Trade
            industryType:
              type: string
              example: Bed And Breakfast Inns
              description: |
                Industry type.
            significantOwnership:
              type: boolean
              example: true
              description: |
                Are there any individuals who own 25% or more of your business? e.g. true|false. significantOwnership is required for Privately Owned Business. If Significant Ownership is selected as True, At least one related party should have a role of owner.
            entitiesInOwnership:
              type: boolean
              example: true
              description: |
                If entitiesInOwnership is true, are there any businesses included in your ownership hierarchy? e.g. true|false. entitiesInOwnership is required for Privately Owned Business.
            businessName:
              type: string
              example: Feltz Printing Service
              description: |
                The business’s legal name. It is the official name of the person or entity that owns a company.
                And, it’s the name used on your government forms and business paperwork
            businessAliasName:
              type: string
              example: Feltz Printing Service of New York
              description: |
                The business’s alias name. It is the other alias name of the  entity that owns a company.This field can be set to empty by passing field value as ("") in request.
            businessDescription:
              type: string
              example: Printing Service of New York
              description: |
                The business’s description.
            websiteAvailable:
              type: boolean
              example: true
              description: |
                Does your business have a website? e.g. true|false
            website:
              type: string
              example: https://www.company.com
              description: |
                Website of the client. website is required if websiteAvailable is true.This field can be set to empty by passing field value as ("") in request.
            email:
              type: string
              maxLength: 50
              example: client@company.com
              description: |
                Email of the client.
            countryOfFormation:
              type: string
              example: US
              description: Country code in alpha-2 format
            yearOfFormation:
              type: string
              example: "2020"
              description: |
                Year of formation. Max and Min length is 4.
    UpdateEntityDetailBusinessRequest:
      type: object
      allOf:
        - $ref: "#/components/schemas/UpdatePartyDetailBusiness"
        - type: object
          properties:
            id:
              type: string
              example: "1234567891"
              description: |
                Client id, that uniquely identifies the client.
    UpdateRelatedPartyRequest:
      allOf:
        - $ref: "#/components/schemas/UpdatePartyDetailCommon"
        - type: object
          properties:
            id:
              type: string
              example: f773b9c1-13e5-4e5a-b055-def345eb85d0
              description: |
                Unique identifier for this party. It is only required for UPDATE and REMOVE actions
            businessName:
              type: string
              example: Feltz Printing Service
              description: |
                The business’s legal name. It is the official name of the person or entity that owns a company. And, it’s the name used on your government forms and business paperwork. This field is only required when party type is NON-IND
            firstName:
              type: string
              minLength: 2
              maxLength: 30
              example: Lenna
              description: |
                First name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
            middleName:
              type: string
              maxLength: 30
              example: More
              description: |
                Middle name of the individual in case of party type being an individual.This field can be set to empty by passing field value as ("") in request.
            lastName:
              type: string
              minLength: 2
              maxLength: 30
              example: Paprocki
              description: |
                Last name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
            jobTitle:
              type: string
              example: CEO
              description: |
                Job title in case of party type being an individual. JobTitle is required field for Controllers. Also, If Privately Owned Business is selected as the business type, Job Title should be a required field for Decision Makers. e.g. CEO|CFO|COO|President|Chairman|Senior Branch Manager|Other
            jobTitleDescription:
              type: string
              example: Acting CEO
              maxLength: 50
              description: |
                In case on jobTitle is Other then Job title description is required.This field can be set to empty by passing field value as ("") in request.
            birthDate:
              type: string
              example: 1983-02-08
              description: |
                The date of birth (yyyy-MM-dd) of the individual in case of party type being an individual. This field is not required for the party type Organization.
            email:
              type: string
              example: client@company.com
              description: |
                Email of the individual.
            natureOfOwnership:
              type: string
              example: Direct
              description: |
                Nature of ownership e.g. Direct|Indirect.This field can be set to empty by passing field value as ("") in request.
            soleOwner:
              type: boolean
            partyType:
              type: string
              example: Individual
              description: |
                A Party type which could have one of the following distinct values: Organization, Individual, NonIndividual
            partyRole:
              type: array
              items:
                type: string
              example:
                - CONTROLLER
                - OWNER
              description: |
                A Party role which could have one or more of the following values: CLIENT, CONTROLLER, MARKETPLACE_OPERATOR, OWNER, PAYEE, DECISION_MAKER
                If a SMB controller and owner is the same person - you have to send two parties with the distinct partyRoles e.g. [ CLIENT, CONTROLLER, MARKETPLACE_OPERATOR, OWNER, DECISION_MAKER ]
    UpdateRelatedPartiesRequest:
      allOf:
        - $ref: "#/components/schemas/UpdateRelatedPartyRequest"
        - type: object
          required:
            - action
          properties:
            action:
              type: string
              example: ADD
              description: |
                The action like ADD, UPDATE, REMOVE
    UpdateClientRequest:
      type: object
      allOf:
        - $ref: "#/components/schemas/UpdateEntityDetailBusinessRequest"
        - type: object
          properties:
            relatedParties:
              type: array
              items:
                $ref: "#/components/schemas/UpdateRelatedPartiesRequest"
    UpdateRelatedPartiesResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/UpdateRelatedPartyRequest"
        - type: object
          required:
            - id
          properties:
            id:
              type: string
              example: "1234567891"
              description: |
                Client id, that uniquely identifies the client.
    UpdateClientResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/UpdateEntityDetailBusinessRequest"
        - type: object
          properties:
            relatedParties:
              type: array
              items:
                $ref: "#/components/schemas/UpdateRelatedPartiesResponse"
            products:
              type: array
              items:
                type: string
              example:
                - EP
              description: |
                The products available for clients.
    VerificationIdResponse:
      type: object
      properties:
        id:
          type: string
          example: A01148
          description: The unique identifier for a personal identification verification.
        label:
          type: string
          example: "Total annual revenue/income: Fiscal Year End Date"
          description: verification question.
    AnswerOption:
      type: object
      properties:
        id:
          type: string
          example: CUB
          description: Internal id value, not to be shared with user
        label:
          type: string
          example: Cuba
          description: External readable value to be presented to the user.
    AnswerResponse:
      type: object
      properties:
        values:
          type: array
          items:
            type: string
          example:
            - CUB
            - SYR
          description: |
            The answer/s of a question. Can contain one or more elements.
        updatedDateTime:
          type: string
          example: 2022-05-17T12:24:09
          description: date time of submission in ISO format yyyy-MM-ddTHH:mm:ss
        format:
          type: string
          example: list
          description: Can be single for one item in the values or list in case of more than one values. The other options are word, freeText, alphaNumeric and there will be only one element allowed
        maxLength:
          type: number
          format: int64
          example: 255
          description: max length allowed in values field. In case of freeText, the maximum length is 2000
        parentId:
          type: string
          example: A00033
          description: Id of parent Question
        answerOptions:
          type: array
          items:
            $ref: "#/components/schemas/AnswerOption"
    VerificationResponse:
      type: object
      properties:
        verification:
          $ref: "#/components/schemas/VerificationIdResponse"
        response:
          $ref: "#/components/schemas/AnswerResponse"
    VerificationsResponse:
      allOf:
        - $ref: "#/components/schemas/VerificationResponse"
    AttestationResponse:
      type: object
      properties:
        fullName:
          type: string
          example: Rob Allen
          description: " First and last name of the attester."
        ipAddress:
          type: string
          example: 192.168.0.1
          description: " Attested IP address"
        attestationDateTime:
          type: string
          example: 2022-05-17T12:24:09
          description: date time of submission in ISO format yyyy-MM-ddTHH:mm:ss
        documentType:
          type: string
          example: DISCLOSURE_AND_CONSENT OR TERMS_CONDITION
          description: The type of document. Can be terms and conditions or disclosure and consent documents.
        documentId:
          type: string
          example: 122b4c2e-4442-408e-a29f-8568bf59099e
          description: Unique identifier of the legal document that must be attested by the user. For example, terms & conditions or disclosure & consent documents.
        documentVersion:
          type: string
          example: v1.0
          description: Document version
        documentName:
          type: string
          example: terms_condition-eb-petsy-1.pdf
          description: Name of the document
    AttestationsResponse:
      allOf:
        - $ref: "#/components/schemas/AttestationResponse"
    AdditionalDocument:
      type: object
      properties:
        partyId:
          type: string
          example: 122b4c2e-4442-408e-a29f-8568bf59099e
          description: Related Party id
        status:
          type: string
          example: REQUESTED
          description: Status of the document. REQUESTED means the document needs to be provided
        documentLevel:
          type: string
          example: Primary
          description: Identity documents level - The category of document which is predefined. Primary is one of the categories and has some limited set of applicable documents.
        documentId:
          type: string
          example: 122b4c2e-4442-408e-a29f-8568bf59099e
          description: Unique identifier of the document which user uploaded
        partyType:
          type: string
          example: Organization
          description: Specifies the party type, for Legal Entity it is Organization and for Related party e.g. Owner/Controller etc. it is Individual
        numberOfDaysRemainingToUpload:
          type: string
          example: "30"
          description: "Specifies number of days remaining to upload documents "
        documentType:
          type: string
          example: Social Security Card
          description: Specifies type of the document uploaded
        supportedDocuments:
          type: array
          items:
            type: string
            description: List of supported documents which client can choose to upload
    AdditionalDocuments:
      allOf:
        - $ref: "#/components/schemas/AdditionalDocument"
    ClientVerificationsInformationResponse:
      type: object
      properties:
        status:
          type: string
          example: PENDING_VALIDATION
          description: If the status is present in the response, verifications are submitted for the client
        verifications:
          type: array
          items:
            $ref: "#/components/schemas/VerificationsResponse"
        attestations:
          type: array
          items:
            $ref: "#/components/schemas/AttestationsResponse"
        additionalDocuments:
          type: array
          items:
            $ref: "#/components/schemas/AdditionalDocuments"
    VerificationIdRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          example: A01148
          description: The unique identifier for a personal identification verification.
    AnswerRequest:
      type: object
      required:
        - values
      properties:
        values:
          type: array
          items:
            type: string
          example:
            - CUB
            - SYR
          description: |
            The answer/s of a question. Can contain one or more elements. In case where response options are provided, it has to be the id/s depending on single or list format. In case of other formats e.g. freeText, there can be only one element.
    VerificationRequest:
      type: object
      required:
        - verification
        - response
      properties:
        verification:
          $ref: "#/components/schemas/VerificationIdRequest"
        response:
          $ref: "#/components/schemas/AnswerRequest"
          type: object
    VerificationsRequest:
      allOf:
        - $ref: "#/components/schemas/VerificationRequest"
    AttestationRequest:
      type: object
      required:
        - fullName
        - ipAddress
        - documentId
      properties:
        fullName:
          type: string
          example: Rob Allen
          description: " First and last name of the attester."
        ipAddress:
          type: string
          example: 192.168.0.1
          description: " Attested IP address"
        documentId:
          type: string
          example: 122b4c2e-4442-408e-a29f-8568bf59099e
          description: Unique identifier of the legal document that must be attested by the user. For example, terms & conditions or disclosure & consent documents.
    AttestationsRequest:
      allOf:
        - $ref: "#/components/schemas/AttestationRequest"
    ClientVerificationsInformationRequest:
      type: object
      properties:
        verifications:
          type: array
          items:
            $ref: "#/components/schemas/VerificationsRequest"
        attestations:
          type: array
          items:
            $ref: "#/components/schemas/AttestationsRequest"
    CustomerIdentificationResponse:
      type: object
      required:
        - customerIdentificationStatus
      properties:
        customerIdentificationStatus:
          type: string
          enum:
            - CIP_PASSED
            - CIP_FAILED
            - CIP_PENDING_VERIFICATION
          example: CIP_PASSED
          description: If the status is present in the response, CIP has been performed
    Address:
      type: object
      required:
        - addressLine1
        - city
        - countryCode
        - postalCode
      properties:
        addressType:
          type: string
          example: Principal place of business
          description: Type of address e.g. 'Primary Residence' | 'Principal place of business'.
        addressLine1:
          type: string
          maxLength: 34
          example: 689 Main St
          description: addressLine1 must not be a PO Box and must begin with a number.addressLine1 has a maximum of 60 characters.
        addressLine2:
          type: string
          maxLength: 34
          example: Opposite St. Andrews Church
          description: addressLine2 has a maximum of 60 characters.
        addressLine3:
          type: string
          maxLength: 34
          example: Mini York
          description: addressLine3 has a maximum of 60 characters.
        city:
          type: string
          maxLength: 34
          example: Anchorage
          description: city has a maximum of 30 characters.
        state:
          type: string
          maxLength: 30
          example: AZ
          description: State code in alpha-2 format. State is mandatory for countries like United States.
        postalCode:
          type: string
          maxLength: 10
          example: "99501"
          description: Postal/ZIP code.
        countryCode:
          type: string
          example: US
          description: Country code in alpha-2 format.
    CreateUserRequest:
      type: object
      required:
        - clientId
      properties:
        firstName:
          type: string
          example: John
        middleName:
          type: string
          example: Pierpoint
        lastName:
          type: string
          example: Morgan
        emailAddress:
          type: string
          example: me@jpmchase.com
        clientId:
          type: string
          example: "1234567890"
        relatedPartyId:
          type: string
          example: d74434fb-2f3f-4762-b15f-c34fdbaab67d
          description: |
            The client party id to link the user to.
        forgerockId:
          type: string
        phone:
          $ref: "#/components/schemas/Phone"
        address:
          $ref: "#/components/schemas/Address"
    Status:
      type: string
      enum:
        - INVITED
        - REMOVED
        - ACTIVE
        - LOCKED
    UserResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/CreateUserRequest"
        - type: object
          required:
            - id
          properties:
            id:
              type: string
            status:
              $ref: "#/components/schemas/Status"
    UsersResponse:
      type: object
      properties:
        metadata:
          $ref: "#/components/schemas/PageMetaData"
        items:
          type: array
          items:
            $ref: "#/components/schemas/UserResponse"
    InternalUserResponse:
      allOf:
        - $ref: "#/components/schemas/CreateUserRequest"
        - type: object
          required:
            - id
          properties:
            id:
              type: string
            forgerockId:
              type: string
              example: testFrId
            createdAt:
              type: string
              format: dateTime
              example: 2021-11-17T10:04:37Z
            updatedAt:
              type: string
              format: dateTime
              example: 2021-11-17T10:04:37Z
            status:
              $ref: "#/components/schemas/Status"
    ListInternalUserResponse:
      type: array
      items:
        $ref: "#/components/schemas/InternalUserResponse"
    UpdateUserRequest:
      type: object
      required:
        - id
      properties:
        firstName:
          type: string
          example: John
        middleName:
          type: string
          example: Pierpoint
        lastName:
          type: string
          example: Morgan
        clientId:
          type: string
          description: Unique User ID that was assigned to the user during creation
        email:
          type: string
          example: me@jpmchase.com
        status:
          $ref: "#/components/schemas/Status"
        phone:
          $ref: "#/components/schemas/Phone"
        address:
          $ref: "#/components/schemas/Address"
    InternalUserResponseWithInteger:
      allOf:
        - $ref: "#/components/schemas/CreateUserRequest"
        - type: object
          required:
            - id
          properties:
            id:
              type: integer
            forgerockId:
              type: string
              example: testFrId
            createdAt:
              type: string
              format: dateTime
              example: 2021-11-17T10:04:37Z
            updatedAt:
              type: string
              format: dateTime
              example: 2021-11-17T10:04:37Z
            status:
              $ref: "#/components/schemas/Status"
    Action:
      type: string
      enum:
        - ADD
        - UPDATE
        - REMOVE
    ProductType:
      description: Product type identifies which domain the document is being uploaded to.
      type: string
      enum:
        - EB
        - EP
    ProductTypesArray:
      type: array
      items:
        $ref: "#/components/schemas/ProductType"
    DocumentMetadata:
      description: |
        - Additional information about the document in a key-value pair array.
        - The processing domain should only support the specific keys for thier relevant workflows.
        - The productType and documentType combination will determine the 
          list of allowed meta-data keys and the format of their values.
            - For productype = EB and documentType = ( PASSPORT | SSN_CARD | DRIVERS_LICENSE | GOV_ISSUED_ID_CARD ),

              Mandatory meta-data key list = ["partyId"] and allowed meta-data value format = ["uuid"].

              Example - {"key": "partyId", "value": "73bd1c1d-6635-43ff-a8e5-b252926bdd9e"} .
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          enum:
            - PARTY_ID
            - COUNTRY_CODE
          description: Key value can be PARTY_ID or COUNTRY_CODE
          example: PARTY_ID
        value:
          type: string
          minLength: 1
          maxLength: 50
          description: value can be UUID which represents a partyId or a ISO two characters country code e.g. US
          example: 73bd1c1d-6635-43ff-a8e5-b252926bdd9e
    DocumentsDetails:
      type: object
      properties:
        id:
          type: string
          example: 73bd1c1d-6635-43ff-a8e5-b252926bdd9e
        documentType:
          type: string
          example: TERMS_CONDITION
        productTypes:
          $ref: "#/components/schemas/ProductTypesArray"
        metadata:
          type: array
          items:
            $ref: "#/components/schemas/DocumentMetadata"
    DocumentsDetailsArray:
      type: array
      items:
        $ref: "#/components/schemas/DocumentsDetails"
    ListDocumentsDetailsResponse:
      type: object
      properties:
        metadata:
          $ref: "#/components/schemas/PageMetaData"
        items:
          $ref: "#/components/schemas/DocumentsDetailsArray"
    DocumentType:
      description: Supported document types.
      type: string
      enum:
        - IRS_DOCUMENT_TIN
        - ARTICLES_OF_INCORPORATION
        - MOA
        - MAA
        - CONSTITUTIONAL_DOCUMENT
        - TRUST_DEED
        - PARTNERSHIP_AGREEMENT
        - LLC_AGREEMENT
        - OPERATING_AGREEMENT
        - OFFERING_MEMO
        - BANKING_LICENSE
        - BUSINESS_LICENSE
        - BUSINESS_REGISTRATION_CERT
        - OTHER_GOV_REGISTRATION_DOCS
        - SEC_FILINGS_10K
        - PASSPORT
        - SSN_CARD
        - DRIVERS_LICENSE
        - GOV_ISSUED_ID_CARD
        - TERMS_CONDITION
        - DISCLOSURE_AND_CONSENT
    DocumentUploadData:
      type: object
      properties:
        documentType:
          $ref: "#/components/schemas/DocumentType"
        productType:
          $ref: "#/components/schemas/ProductType"
        metadata:
          type: array
          items:
            $ref: "#/components/schemas/DocumentMetadata"
          minItems: 0
          maxItems: 2
      required:
        - documentType
        - productType
    DocumentDetails:
      type: object
      properties:
        id:
          description: |
            The unique id generated by the system for the uploaded document,  which can be used for future retrieval.
          type: string
          format: uuid
          example: abcd1c1d-6635-43ff-a8e5-b252926bddef
        documentType:
          $ref: "#/components/schemas/DocumentType"
        productType:
          $ref: "#/components/schemas/ProductType"
        metadata:
          type: array
          items:
            $ref: "#/components/schemas/DocumentMetadata"
          minItems: 0
          maxItems: 2
    RequestTransactionType:
      description: The types of transaction that the client is allowed to search by.
      type: string
      enum:
        - PAYIN
        - PAYOUT
        - TRANSFER
        - REVERSAL
        - UNDEFINED
        - RETURN
        - CARD
        - FEE
      example: PAYIN
    RequestTransactionStatus:
      description: The statuses of the transaction that the client is allowed to search by.
      type: string
      enum:
        - PENDING
        - CANCELED
        - COMPLETED
        - COMPLETED_WITH_EXCEPTIONS
        - REJECTED
        - RETURNED
        - PARTIALLY_COMPLETED
        - UNDEFINED
      example: PENDING
    TransactionStatus:
      description: |
        The current status of the transaction as it is processed:
         * `PENDING` - The transaction is still being processed.
         * `CANCELED` - The transaction has been canceled.
         * `COMPLETED` - The transaction has been completed.
         * `COMPLETED_WITH_EXCEPTIONS` - The transaction has completed, but not all of the requested criteria has been fulfilled.
         * `REJECTED` - The transaction has been rejected and will not be completed.
[...]
