openapi: 3.0.3
info:
  title: Embedded Finance API
  version: 0.9.64
  description: Embedded Finance services from J.P. Morgan
  contact:
    name: JPMC Technical Services Support
servers:
  - url: https://apigateway.jpmorgan.com/tsapi/ef/v1
    description: JPM-PROD - Embedded Finance
    x-jpmc-deployment-type: prod
  - url: https://apigatewaycat.jpmorgan.com/tsapi/ef/v1
    description: JPM-PRE-PROD Embedded Finance Sandbox
    x-jpmc-deployment-type: cat
    x-jpmc-client-visible: false
  - url: https://apigatewayqaf.jpmorgan.com/tsapi/ef/v1
    description: JPM-UAT Embedded Finance Sandbox
    x-jpmc-deployment-type: uat
    x-jpmc-client-visible: false
  - url: https://api-mock.payments.jpmorgan.com/tsapi/ef/v1
    description: JPM-PROD - Embedded Finance Mock
    x-jpmc-server-url-type: mock
    x-jpmc-deployment-type: prod
    x-jpmc-client-visible: false
  - url: https://api-mock-payments.uat.aws.jpmchase.net/tsapi/ef/v1
    description: JPM-PRE-PROD Embedded Finance Mock
    x-jpmc-server-url-type: mock
    x-jpmc-deployment-type: preprod
    x-jpmc-client-visible: false
  - url: https://api-mock-payments.uat.aws.jpmchase.net/tsapi/ef/v1
    description: JPM-UAT Embedded Finance Mock
    x-jpmc-server-url-type: mock
    x-jpmc-deployment-type: uat
    x-jpmc-client-visible: false
  - url: https://api-mock-payments.dev.aws.jpmchase.net/tsapi/ef/v1
    description: JPM-SIT Embedded Finance Mock
    x-jpmc-server-url-type: mock
    x-jpmc-deployment-type: sit
    x-jpmc-client-visible: false
  - url: https://api-mock-payments.dev.aws.jpmchase.net/tsapi/ef/v1
    description: JPM-DEV Embedded Finance Mock
    x-jpmc-server-url-type: mock
    x-jpmc-deployment-type: dev
    x-jpmc-client-visible: false
security:
  - Certs: []
    Token: []
  - Certs: []
tags:
  - name: Clients EB
    x-eb-only: true
    description: Onboard and manage Embedded Banking clients.
  - name: Clients
    description: Onboard and manage Embedded Finance clients.
  - name: Parties
    description: Create and manage legal parties.
  - name: Questions
    description: Information on KYC questions.
  - name: Document requests
    description: View details of requests for documents.
  - name: Documents EB
    x-eb-only: true
    description: Manage document upload and retrieval.
  - name: Documents
    description: Manage document upload and retrieval.
  - name: Users
    description: Manage users of an Embedded Finance profile.
    x-eb-only: true
  - name: Accounts
    description: Create, organize and manage Embedded Finance accounts.
  - name: Debit Cards
    description: Request and manage Embedded Finance debit cards.
    x-eb-only: true
  - name: Recipients
    description: Set up and manage who can be paid through Embedded Finance transactions.
  - name: Transactions EB
    x-eb-only: true
    description: Initiate and track the movement of funds, including payments.
  - name: Transactions
    description: Initiate and track the movement of funds, including payments.
  - name: Statements
    description: Access monthly statements for Embedded Finance accounts.
    x-eb-only: true
  - name: Cases
    description: Create and manage support request cases for Embedded Finance users.
    x-eb-only: true
  - name: Webhooks
    description: Create and manage webhook subscriptions for your platform.
  - name: Faq
    description: Retrieve general FAQ content and FAQ content unique to your platform.
    x-eb-only: true
  - name: Reference Data
    description: Access reference data to populate Embedded Finance experiences, such as onboarding.
    x-eb-only: true
  - name: Roles
    description: Manage roles of Users.
    x-eb-only: true
paths:
  /ef/v1/clients:
    x-eb-only: true
    get:
      tags:
        - Clients EB
      summary: List clients
      description: Returns a list of Embedded Finance clients associated with your platform.
      operationId: getAllClients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClientInformationResponse"
              examples:
                ListClientInformationRes:
                  $ref: "#/components/examples/ListClientInformationRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Clients EB
      summary: Create client
      description: Creates a new client.
      operationId: postClients
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
            examples:
              CreateClientSolePropReq:
                $ref: "#/components/examples/CreateClientSolePropReq"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
              examples:
                CreateClientSolePropRes:
                  $ref: "#/components/examples/CreateClientSolePropRes"
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
              examples:
                CreateClientSolePropRes:
                  $ref: "#/components/examples/CreateClientSolePropRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/clients/{id}":
    x-eb-only: true
    get:
      tags:
        - Clients EB
      summary: Get client
      description: Returns details for a specific client using their unique identifier.
      operationId: getClientDetails
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
          example: "1000010400"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInformationResponse"
              examples:
                SkeletonClientClientShouldRetrieveItsOwnInformationRes:
                  $ref: "#/components/examples/SkeletonClientClientShouldRetrieveItsOwnInformationRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Clients EB
      summary: Update client
      description: Updates information about a specified client.
      operationId: updateClients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          example: "1000010400"
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequest"
            examples:
              UpdateClientReq:
                $ref: "#/components/examples/UpdateClientReq"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateClientResponse"
              examples:
                UpdateClientRes:
                  $ref: "#/components/examples/UpdateClientRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/clients/{id}/verifications":
    x-eb-only: true
    get:
      summary: Get client verifications
      description: Get current and outstanding verifications for a given client. These tell clients what is required to complete onboarding.
      tags:
        - Clients EB
      operationId: getClientVerification
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Unique identifier for a client.
          example: "1000010400"
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientVerificationsInformationResponse"
              examples:
                ClientSubmittedVerificationsSuccessfully:
                  $ref: "#/components/examples/ClientSubmittedVerificationsSuccessfully"
                ClientVerificationResponseWhenIdentityVerificationFailedForClient:
                  $ref: "#/components/examples/ClientVerificationResponseWhenIdentityVerificationFailedForClient"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Add client verifications
      description: Adds verification information provided by the client to continue onboarding.
      operationId: addClientVerification
      tags:
        - Clients EB
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Unique identifier for a client.
          schema:
            type: string
          required: true
          example: "1000011659"
      requestBody:
        description: Client verification to add to the system.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientVerificationsInformationRequest"
            examples:
              ClientShouldSuccessfullyPostVerificationAnswersReq:
                $ref: "#/components/examples/ClientShouldSuccessfullyPostVerificationAnswersReq"
        required: true
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientVerificationsInformationResponse"
              examples:
                ClientShouldSuccessfullyPostVerificationAnswersRes:
                  $ref: "#/components/examples/ClientShouldSuccessfullyPostVerificationAnswersRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/documents:
    x-eb-only: true
    get:
      summary: Get details of documents of a specified type
      description: Returns details of documents and their ids based on the product and jurisdiction for a client.
      operationId: documentsDetails
      tags:
        - Documents EB
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/documentType"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsDetailsResponse"
              examples:
                LatestClientDocumentDetailResponseByDocumentType:
                  $ref: "#/components/examples/LatestClientDocumentDetailResponseByDocumentType"
        "400":
          $ref: "#/components/responses/400_documents"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Upload document
      description: |
        - This end point allows the end user to upload document.
        - File types allowed are : heic, jpeg, jpg, pdf, png.
        - The maximum size allowed for the document through this API is 5MB.
      operationId: uploadDocument
      tags:
        - Documents EB
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        description: |
          This section allows the user to attach the binary file upload and meta-data associated with the document.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                documentData:
                  $ref: "#/components/schemas/DocumentUploadData"
              required:
                - file
                - documentData
            encoding:
              file:
                contentType: application/pdf, image/heic, image/jpeg, image/png
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/documents/{id}":
    x-eb-only: true
    get:
      summary: Retrieve details of a document
      description: Retrieves details of a document using the document unique identifier.
      operationId: getDocumentDetails
      tags:
        - Documents EB
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Document unique identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddef
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDetails"
              examples:
                GetDocumentDetailsByDocumentIdExampleForTermsAndConditions:
                  $ref: "#/components/examples/GetDocumentDetailsByDocumentIdExampleForTermsAndConditions"
                GetDocumentDetailsByDocumentIdExampleForCIPDocument:
                  $ref: "#/components/examples/GetDocumentDetailsByDocumentIdExampleForCIPDocument"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/documents/{id}/file":
    x-eb-only: true
    get:
      summary: Download a document
      description: Download a document using the document unique identifier.
      operationId: downloadDocument
      tags:
        - Documents EB
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Document unique identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddba
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
            image/png:
              schema:
                type: string
                format: byte
            image/jpeg:
              schema:
                type: string
                format: byte
            image/heic:
              schema:
                type: string
                format: byte
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/debit-cards:
    x-eb-only: true
    get:
      summary: List cards
      description: Returns a list of debit cards for a specific client.
      operationId: getDebitCards
      parameters:
        - $ref: "#/components/parameters/token"
        - in: query
          name: page
          description: Current page number.
          schema:
            type: integer
            default: 0
          required: false
          examples:
            Default:
              value: 0
        - in: query
          name: limit
          description: Number of records per page.
          schema:
            type: integer
            default: 25
          required: false
          examples:
            Default:
              value: 25
      responses:
        "200":
          description: List debit cards
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DebitCardsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          description: ERROR.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailsErrorResponse"
        "503":
          description: ERROR.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailsErrorResponse"
      tags:
        - Debit Cards
    post:
      summary: Create debit card
      description: Creates a new debit card.
      operationId: createDebitCard
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        description: Customer account details required to create a new debit card.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDebitCardRequest"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDebitCardResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
  "/ef/v1/debit-cards/{id}":
    x-eb-only: true
    get:
      summary: Get card
      description: Returns card ID and iFrame link for virtual card details for a specific card.
      operationId: getDebitCard
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Card Identifier
          required: true
          style: simple
          schema:
            type: string
          examples:
            ActiveCard:
              value: "100000983036"
            InactiveCard:
              value: "100000983037"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
    post:
      summary: Update card
      description: Updates card details, such as PIN reset or to lock a lost card.
      operationId: updateCard
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          example: "100000158367"
          in: path
          description: Unique identifier for the debit card.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: Card update info required to either set/reset PIN, lock/unlock card set card as replaced, or set card as cancelled.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardUpdateRequest"
            examples:
              setPinPayload:
                $ref: "#/components/examples/setPinPayload"
              setCardLockedPayload:
                $ref: "#/components/examples/setCardLockedPayload"
              setCardReplacedPayload:
                $ref: "#/components/examples/setCardReplacedPayload"
              setCardCancelledPayload:
                $ref: "#/components/examples/setCardCancelledPayload"
              setMaxSpendLimit:
                $ref: "#/components/examples/setMaxSpendLimit"
              setMaxCashWithdrawalLimit:
                $ref: "#/components/examples/setMaxCashWithdrawalLimit"
              clearCashWithdrawalAndDailySpendLimit:
                $ref: "#/components/examples/clearCashWithdrawalAndDailySpendLimit"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardUpdateResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
  /ef/v1/recipients:
    get:
      summary: List recipients
      description: Returns a list of all recipients for a given client profile.
      operationId: getAllRecipients
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdInQuery"
        - name: type
          in: query
          description: Recipient type to return
          required: false
          example: RECIPIENT
          schema:
            $ref: "#/components/schemas/RecipientType"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRecipientsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create recipient
      description: Creates a new recipient.
      operationId: createRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecipientRequest"
            examples:
              CreateRecipientReq:
                $ref: "#/components/examples/CreateRecipientReq"
      responses:
        "201":
          description: The recipient was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
              examples:
                CreateRecipientRes:
                  $ref: "#/components/examples/CreateRecipientRes"
        "400":
          $ref: "#/components/responses/400_recipients"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/recipients/{id}":
    get:
      summary: Get recipient
      description: Returns information about a specific recipient.
      operationId: getRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: 616d93a1-ce53-4c71-b03b-02a11396db28
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
              examples:
                GetRecipientRes:
                  $ref: "#/components/examples/GetRecipientRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Update recipient
      description: Updates details of a recipient, such as adding values for attributes related to payment types. All attributes must be provided in the same format as when creating a recipient. The value partyDetails.type cannot be amended after creation.
      operationId: amendRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRecipientRequest"
            examples:
              UpdateRecipientReq:
                $ref: "#/components/examples/UpdateRecipientReq"
      responses:
        "200":
          description: The recipient was amended successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
              examples:
                UpdateRecipientReq:
                  $ref: "#/components/examples/UpdateRecipientRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/recipients/{id}/verify-microdeposit":
    post:
      summary: Creates a microdeposits verification process.
      description: Creates a microdeposits verification process.
      operationId: recipientsVerification
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MicrodepositAmounts"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MicrodepositVerificationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/cases:
    x-eb-only: true
    get:
      tags:
        - Cases
      summary: Returns all cases for client profile.
      description: Get cases for client profile
      operationId: getCases
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/parameters-pageSize"
        - $ref: "#/components/parameters/parameters-pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CasesPaginationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Cases
      summary: Create a new case
      description: Raises a case for support with Embedded Finance.
      operationId: createCase
      requestBody:
        required: true
        description: Information needed to create a new case.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseCreateRequest"
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseCreateResponse"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/cases/{id}":
    x-eb-only: true
    get:
      tags:
        - Cases
      summary: Returns details of a case using the unique case ID.
      description: Get case details
      operationId: getCase
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Case identifier
          required: true
          schema:
            type: string
          style: simple
          example: "00001154"
    post:
      tags:
        - Cases
      summary: Update information on a specific case.
      description: Update case
      operationId: updateCase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseUpdateRequest"
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      parameters:
        - name: id
          in: path
          description: Case ID. The unique identifier for a case.
          required: true
          schema:
            type: string
          style: simple
          example: "00001154"
        - $ref: "#/components/parameters/token"
  /ef/v1/faqs:
    x-eb-only: true
    get:
      tags:
        - Faq
      summary: API to retrieve general FAQ content as well as C1 specific FAQ content
      description: Retrieve FAQs
      operationId: getFaq
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FAQResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      parameters:
        - $ref: "#/components/parameters/clientIdInQuery"
        - $ref: "#/components/parameters/token"
        - name: tags
          in: query
          description: Comma seperated tag values
          required: false
          example:
            - Payments
            - Banking
          schema:
            type: array
            items:
              type: string
  /ef/v1/webhooks:
    get:
      summary: List webhooks
      description: List all your webhooks
      operationId: listWebhooks
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/pageNo"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhookResponse"
              examples:
                ListWebhooks:
                  $ref: "#/components/examples/ListWebhooks"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create a webhook subscription.
      description: Create a webhook subscription
      operationId: createWebhook
      tags:
        - Webhooks
      parameters: []
      requestBody:
        required: true
        description: Create a new webhook request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRequest"
            examples:
              CreateAWebhookReq:
                $ref: "#/components/examples/CreateAWebhookReq"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
              examples:
                CreateAWebhookRes:
                  $ref: "#/components/examples/CreateAWebhookRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/webhooks/{id}":
    get:
      summary: Get a webhook subscription by ID.
      description: Get details of your subscription to a specific webhook.
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          description: Unique identifier for webhook subscription
          required: true
          example: 944803b0-f1c2-4b28-91ce-8985b1f317a7
          schema:
            type: string
          style: simple
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
              examples:
                GetWebhookByIdRes:
                  $ref: "#/components/examples/GetWebhookByIdRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Update a webhook by ID.
      description: Add or Remove webhook subscriptions and change a webhook status to ACTIVE or INACTIVE
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          example: 944803b0-f1c2-4b28-91ce-8985b1f317a7
          schema:
            type: string
          description: Unique identifier of the webhook to be updated
          required: true
      requestBody:
        required: true
        description: Update an existing webhook subscription.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
            examples:
              AddEventsToAWebhookSubscription:
                $ref: "#/components/examples/AddSubscriptionsToAWebhook"
              RemoveEventsToAWebhookSubscription:
                $ref: "#/components/examples/RemoveSubscriptionsFromAWebhook"
              ReplaceStatusOfAWebhookSubscription:
                $ref: "#/components/examples/ChangeStatusOfAWebhook"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
              examples:
                AddEventsToAWebhookSubscriptionRes:
                  $ref: "#/components/examples/AddSubscriptionsToAWebhookRes"
                RemoveEventsToAWebhookSubscriptionRes:
                  $ref: "#/components/examples/RemoveSubscriptionsFromAWebhookRes"
                ReplaceStatusOfAWebhookSubscriptionRes:
                  $ref: "#/components/examples/ChangeStatusOfAWebhookRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/countries:
    x-eb-only: true
    get:
      tags:
        - Reference Data
      summary: List available countries and country codes
      description: Retrieves a list of countries with their ISO 2-character codes.
      operationId: getAllCountries
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfCountries:
                  $ref: "#/components/examples/ListOfCountries"
              schema:
                $ref: "#/components/schemas/CountriesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/country-subdivision:
    x-eb-only: true
    get:
      summary: List available country subdivisions
      description: Retrieves a list of subdivisions within a country. For example, the states of the USA.
      operationId: getCountrySubdivision
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/countryCode"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfCountrySubdivision:
                  $ref: "#/components/examples/ListOfCountrySubdivision"
              schema:
                $ref: "#/components/schemas/CountrySubdivisionResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/legal-structures:
    x-eb-only: true
    get:
      summary: List legal structures
      description: Returns a list of legal structures of a business. To be used when onboarding business clients.
      operationId: getLegalStructures
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                LegalStructures:
                  $ref: "#/components/examples/LegalStructures"
              schema:
                $ref: "#/components/schemas/LegalStructureResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/document-types:
    x-eb-only: true
    get:
      summary: List supporting document-types
      description: Returns a list of supporting documents that may be required during onboarding and ongoing checks.
      operationId: getDocumentTypes
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/countryCode"
        - $ref: "#/components/parameters/documentCategory"
        - $ref: "#/components/parameters/legalStructure"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAllSupportingDocumentTypes:
                  $ref: "#/components/examples/ListOfAllSupportingDocumentTypes"
                ListOfSupportingDocumentTypesByLegalStructureAsSoleProprietorship:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsSoleProprietorship"
                ListOfSupportingDocumentTypesByLegalStructureAsCorporation:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsCorporation"
                ListOfSupportingDocumentTypesByLegalStructureAsLimitedPartnership:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesByLegalStructureAsLimitedPartnership"
                ListOfSupportingDocumentTypesWhenDocumentCategoryNotIdentityVerification:
                  $ref: "#/components/examples/ListOfSupportingDocumentTypesWhenDocumentCategoryNotIdentityVerification"
              schema:
                $ref: "#/components/schemas/DocumentTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/id-types:
    x-eb-only: true
    get:
      summary: List acceptable ID types
      description: Returns a list of acceptable types of ID that can be submitted for onboarding or other client checks.
      operationId: getIdTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfIdTypes:
                  $ref: "#/components/examples/ListOfIdTypes"
              schema:
                $ref: "#/components/schemas/IdentificationTypeResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/industry-categories:
    x-eb-only: true
    get:
      summary: List industry categories and industry types.
      description: Returns a list of all industry categories and industry types for business clients. To be used in onboarding and other client checks.
      operationId: getClientIndustryCategories
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                IndustryCategoriesAndIndustryTypes:
                  $ref: "#/components/examples/IndustryCategoriesAndIndustryTypes"
              schema:
                $ref: "#/components/schemas/IndustryCategoriesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/products:
    x-eb-only: true
    get:
      summary: List embedded finance products
      description: Returns a list of all available Embedded Finance products.
      operationId: getRefProducts
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfProducts:
                  $ref: "#/components/examples/ListOfProducts"
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/business-types:
    x-eb-only: true
    get:
      summary: List business types
      description: Returns a list of business types that can be used for client onboarding processes.
      operationId: getRefBusinessTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfBusinessTypes:
                  $ref: "#/components/examples/ListOfBusinessTypes"
              schema:
                $ref: "#/components/schemas/BusinessTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/job-titles:
    x-eb-only: true
    get:
      summary: List job titles
      description: Returns a list of job titles that can be used for client onboarding.
      operationId: getRefJobTitles
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfJobTitles:
                  $ref: "#/components/examples/ListOfJobTitles"
              schema:
                $ref: "#/components/schemas/JobTitlesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/party-roles:
    x-eb-only: true
    get:
      summary: List party roles
      description: Returns a list of accepted party roles.
      operationId: getRefPartyRoles
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfPartyRoles:
                  $ref: "#/components/examples/ListOfPartyRoles"
              schema:
                $ref: "#/components/schemas/PartyRolesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/address-types:
    x-eb-only: true
    get:
      summary: List address types
      description: Returns a list of accepted address types.
      operationId: getRefAddressTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAddressTypes:
                  $ref: "#/components/examples/ListOfAddressTypes"
              schema:
                $ref: "#/components/schemas/AddressTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/nature-of-ownerships:
    x-eb-only: true
    get:
      summary: List nature of ownership values
      description: Returns a list of accepted Nature Of Ownership values.
      operationId: getRefNatureOfOwnerships
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAcceptedNatureOfOwnershipValues:
                  $ref: "#/components/examples/ListOfAcceptedNatureOfOwnershipValues"
              schema:
                $ref: "#/components/schemas/NatureOfOwnershipsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  /ef/v1/party-types:
    x-eb-only: true
    get:
      summary: List party types
      description: Returns a list of accepted party types.
      operationId: getRefPartyTypes
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              examples:
                ListOfAcceptedPartyTypes:
                  $ref: "#/components/examples/ListOfAcceptedPartyTypes"
              schema:
                $ref: "#/components/schemas/PartyTypesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Reference Data
  "/ef/v1/statements/{id}":
    x-eb-only: true
    get:
      summary: Get a statement
      description: Get a statement document using its identifier
      operationId: getStatement
      parameters:
        - $ref: "#/components/parameters/token"
        - in: header
          name: client_id
          description: Unique client identifier.
          required: true
          example: "0030000131"
          schema:
            type: string
            pattern: ^\d{10}$
            minLength: 10
            maxLength: 10
        - in: path
          name: id
          required: true
          description: Statement identifier used to find the document.
          example: ZjNjMTJjOTctZTQyNy00MWI5LWJmNDAtMDMzYzZiNjliNWJl
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Statements
  /ef/v1/statements/search:
    x-eb-only: true
    get:
      summary: Search statements
      description: Returns statements filtered by search criteria.
      operationId: searchStatements
      parameters:
        - $ref: "#/components/parameters/token"
        - in: header
          name: client_id
          description: Unique client identifier.
          required: true
          example: "0030000131"
          schema:
            type: string
            pattern: ^\d{10}$
            minLength: 10
            maxLength: 10
        - in: query
          name: accountIds
          description: |
            Account identifiers used to represent client accounts.
          required: false
          example:
            - dc2eda9084bf40b7a1d8baa8c5e0ea0ax
          schema:
            type: array
            items:
              type: string
        - in: query
          name: dateFrom
          description: Earliest date in search range. Must be set at least one day earlier than dateTo.
          required: true
          example: 2022-12-31
          schema:
            type: string
        - in: query
          name: dateTo
          description: Latest date in search range. Must be set at least one day later than dateFrom.
          required: true
          example: 2022-12-31
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatementsResponse"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Statements
  /ef/v2/transactions:
    get:
      summary: List transactions
      description: Lists transactions for a specific client, which can be filtered using optional parameters.
      operationId: listTransactionsV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - in: query
          name: type
          schema:
            $ref: "#/components/schemas/RequestTransactionTypeV2"
          description: Filters by type of transaction.
          required: false
        - in: query
          name: status
          schema:
            $ref: "#/components/schemas/RequestTransactionStatus"
          description: Filters by transaction status.
          required: false
        - in: query
          name: accountId
          example: ae86b765e14741c5a44acc570af517ab
          schema:
            type: string
          description: Filters by the Embedded Finance account id connected to the transaction.
          required: false
        - in: query
          name: amountEquals
          example: "100"
          schema:
            type: string
          description: Filters by an exact amount.
          required: false
        - in: query
          name: amountGreaterThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts greater than a specified value.
          required: false
        - in: query
          name: amountLessThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts less than a specified value.
          required: false
        - in: query
          name: dateEquals
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
          description: Filters transactions by an exact date.
          required: false
        - in: query
          name: dateGreaterThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
          description: Filters for transactions made after this payment date.
          required: false
        - in: query
          name: dateLessThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
          description: Filters for transactions made before this payment date.
          required: false
        - in: query
          name: dateTimeGreaterThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions created after this date and time.
          required: false
        - in: query
          name: dateTimeLessThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions created before this date and time.
          required: false
        - in: query
          name: recipientId
          example: 616d93a1-ce53-4c71-b03b-02a11396db28
          schema:
            type: string
          description: Filters for transactions from/to this recipientId.
        - in: query
          name: transactionReferenceId
          example: inv-pay-1234
          schema:
            type: string
          description: Filters for a transaction that matches a specific transaction reference ID provided by the client.
          required: false
        - in: query
          name: clientId
          example: "0030000132"
          schema:
            type: string
          description: Filters for transactions from/to this clientId.
          required: false
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsSearchResponseV2"
              examples:
                GetTransactionsRes:
                  $ref: "#/components/examples/GetTransactionsRes"
        "400":
          $ref: "#/components/responses/responses-400V2"
        "401":
          $ref: "#/components/responses/responses-401V2"
        "403":
          $ref: "#/components/responses/responses-403V2"
        "404":
          $ref: "#/components/responses/responses-404V2"
        "500":
          $ref: "#/components/responses/responses-500V2"
        "503":
          $ref: "#/components/responses/responses-503V2"
    post:
      summary: Create transaction
      description: Creates a new transaction, such as a payment via ACH, Wire or Real Time Payments (RTP).
      operationId: createTransactionV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        description: Contains the required information to create a payment transaction.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostTransactionRequestV2"
            examples:
              CreateTransactionReq:
                $ref: "#/components/examples/CreateTransactionPayoutReq"
              CreateTransactionV2VReq:
                $ref: "#/components/examples/CreateTransactionV2VReq"
              CreateTransactionPayOutBookReq:
                $ref: "#/components/examples/CreateTransactionPayOutBookReq"
              CreateTransactionPayIntoReq:
                $ref: "#/components/examples/CreateTransactionPayIntoReq"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponseV2"
              examples:
                CreateTransactionRes:
                  $ref: "#/components/examples/CreateTransactionPayoutRes"
                CreateTransactionV2VRes:
                  $ref: "#/components/examples/CreateTransactionV2VRes"
                CreateTransactionPayOutBookRes:
                  $ref: "#/components/examples/CreateTransactionPayOutBookRes"
                CreateTransactionPayIntoRes:
                  $ref: "#/components/examples/CreateTransactionPayIntoRes"
        "400":
          $ref: "#/components/responses/responses-400V2"
        "401":
          $ref: "#/components/responses/responses-401V2"
        "403":
          $ref: "#/components/responses/responses-403V2"
        "404":
          $ref: "#/components/responses/responses-404V2"
        "500":
          $ref: "#/components/responses/responses-500V2"
        "503":
          $ref: "#/components/responses/responses-503V2"
  "/ef/v2/transactions/{id}":
    get:
      summary: Get transaction
      description: Returns details for a specific transaction using its unique identifier.
      operationId: getTransactionV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a transaction.
          required: true
          example: m6p8kqkk5hjne3
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionGetResponseV2"
              examples:
                GetTransactionByIdRes:
                  $ref: "#/components/examples/GetTransactionByIdRes"
        "400":
          $ref: "#/components/responses/responses-400V2"
        "401":
          $ref: "#/components/responses/responses-401V2"
        "403":
          $ref: "#/components/responses/responses-403V2"
        "404":
          $ref: "#/components/responses/responses-404V2"
        "500":
          $ref: "#/components/responses/responses-500V2"
        "503":
          $ref: "#/components/responses/responses-503V2"
  /ef/v1/transactions:
    x-eb-only: true
    post:
      summary: Create transaction
      description: Creates a new transaction, such as a payment via ACH, Wire or Real Time Payments (RTP).
      operationId: createTransaction
      tags:
        - Transactions EB
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        description: Contains the required information to create a payment transaction.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostTransactionRequest"
            examples:
              CreateTransactionPayoutReq:
                $ref: "#/components/examples/examples-CreateTransactionPayoutReq"
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
              examples:
                CreateTransactionPayoutRes:
                  $ref: "#/components/examples/examples-CreateTransactionPayoutRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    get:
      summary: List and filter transactions
      description: Lists transactions for a specific client, which can be filtered using optional parameters.
      operationId: listTransactions
      tags:
        - Transactions EB
      parameters:
        - $ref: "#/components/parameters/token"
        - in: query
          name: transactionType
          schema:
            $ref: "#/components/schemas/RequestTransactionType"
          description: Filters by type of transaction.
          required: false
        - in: query
          name: status
          schema:
            $ref: "#/components/schemas/RequestTransactionStatus"
          description: Filters by transaction status.
          required: false
        - in: query
          name: accountNumber
          example: "200293631511"
          schema:
            type: string
          description: Filters by the Embedded Banking client account number connected to the transaction.
          required: false
        - in: query
          name: amountEquals
          example: "100"
          schema:
            type: string
          description: Filters by an exact amount.
          required: false
        - in: query
          name: amountGreaterThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts greater than a specified value.
          required: false
        - in: query
          name: amountLessThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts less than a specified value.
          required: false
        - in: query
          name: dateEquals
          example: 01-01-2022
          schema:
            type: string
          description: Filters transactions by an exact date.
          required: false
        - in: query
          name: dateGreaterThan
          example: 01-01-2022
          schema:
            type: string
          description: Filters for transactions made after this date.
          required: false
        - in: query
          name: dateLessThan
          example: 01-01-2022
          schema:
            type: string
          description: Filters for transactions made before this date.
          required: false
        - in: query
          name: dateTimeGreaterThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions made after this date and time.
          required: false
        - in: query
          name: dateTimeLessThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions made before this date and time.
        - in: query
          name: recipientAccount
          example: "200293631511"
          schema:
            type: string
          description: Filters by the recipient's account number.
          required: false
        - in: query
          name: transactionId
          example: 2451821d-e6f9-450d-b041-a20ae9d08f14
          schema:
            type: string
          description: Filters for a transaction that matches a specific transaction ID. The transaction ID is generated by Embedded Banking when a transaction is created or received.
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsSearchResponse"
              examples:
                GetTransactionsRes:
                  $ref: "#/components/examples/examples-GetTransactionsRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/transactions/{id}":
    x-eb-only: true
    get:
      summary: Get transaction
      description: Returns details for a specific transaction using its unique identifier.
      operationId: getTransaction
      tags:
        - Transactions EB
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientId"
        - name: id
          in: path
          description: Unique identifier for a transaction.
          required: true
          example: ellr6md9wmndjg
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionGetResponse"
              examples:
                GetTransactionByIdRes:
                  $ref: "#/components/examples/examples-GetTransactionByIdRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/accounts:
    get:
      summary: List accounts
      description: Returns a list of accounts for a specific client.
      operationId: getAccounts
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdParam"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo1"
      tags:
        - Accounts
      responses:
        "200":
          description: List of accounts for a specific client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
              examples:
                ListAccountsResponse:
                  $ref: "#/components/examples/ListAccountsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create account
      description: Create an account for a specific client
      operationId: postAccounts
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
            examples:
              CreateAccountRequest:
                $ref: "#/components/examples/CreateAccountRequest"
      tags:
        - Accounts
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
              examples:
                CreateAccountResponse:
                  $ref: "#/components/examples/CreateAccountResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/accounts/{id}":
    get:
      summary: Get account
      description: Look up a single account by account ID
      operationId: getAccount
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
              examples:
                GetLimitedDdaAccountResponse:
                  $ref: "#/components/examples/GetLimitedDdaAccountResponse"
                GetEmbeddedDdaAccountResponse:
                  $ref: "#/components/examples/GetEmbeddedDdaAccountResponse"
                GetDdaAccountResponse:
                  $ref: "#/components/examples/GetDdaAccountResponse"
                GetProcessingAccountResponse:
                  $ref: "#/components/examples/GetProcessingAccountResponse"
                GetManagementAccountResponse:
                  $ref: "#/components/examples/GetManagementAccountResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/ef/v1/accounts/{id}/balances":
    get:
      summary: Get an account balance
      description: Get the balance details for an account
      operationId: getAccountBalance
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Account balance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceResponse"
              examples:
                GetAccountBalanceResponse:
                  $ref: "#/components/examples/GetAccountBalanceResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /ef/v1/users:
    x-eb-only: true
    get:
      tags:
        - Users
      summary: List users
      description: Retrieves list of users for a client. The API by default retrieves a lighter version of data.
      operationId: getAllUsers
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userPageSize"
        - $ref: "#/components/parameters/userPageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserResponse"
              examples:
                ListUsersWithResources:
                  $ref: "#/components/examples/ListUsersWithResources"
        "400":
          $ref: "#/components/responses/user400ClientId"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
    post:
      tags:
        - Users
      summary: Create user
      description: Creates a new user. This API is developed to enable clients to create a user for accessing and managing resources for that client. The payload has a property partyId. This partyId is used to add an existing party as a user. Phone field is optional when partyId is provided. When partyId is not provided, then phone field should be populated. When providing a role, if the role is a DEBIT_CARD_HOLDER then the resourceType and resourceId and action should be provided.
      operationId: postUsers
      parameters:
        - $ref: "#/components/parameters/userToken"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
            examples:
              CreateUserExistingParty:
                $ref: "#/components/examples/CreateUserExistingParty"
              CreateUserNewParty:
                $ref: "#/components/examples/CreateUserNewParty"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
              examples:
                GetUser:
                  $ref: "#/components/examples/GetUser"
        "400":
          $ref: "#/components/responses/user400"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
  "/ef/v1/users/{id}":
    x-eb-only: true
    get:
      tags:
        - Users
      summary: Get user
      description: Retrieves details for a specific user.
      operationId: getUserDetails
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
              examples:
                GetUser:
                  $ref: "#/components/examples/GetUser"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "404":
          $ref: "#/components/responses/user404"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
    post:
      tags:
        - Users
      summary: Update user
      description: Updates information about user. For additional users only, full details like name, email, address phone and role can be updated.
      operationId: updateUserById
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/user400"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
  /ef/v1/roles:
    x-eb-only: true
    get:
      tags:
        - Roles
      summary: List all roles
      description: Retrieves a list of roles
      operationId: getAllRoles
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userPageSize"
        - $ref: "#/components/parameters/userPageNo"
        - $ref: "#/components/parameters/userRole"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRoleResponse"
              examples:
                ListAllRoles:
                  $ref: "#/components/examples/ListAllRoles"
                FetchRolByRoleName:
                  $ref: "#/components/examples/FetchRolByRoleName"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-ApiError"
              example:
                error: BAD_REQUEST
                message: Error in Request Formatting
                reasons:
                  - reason: INVALID_HEADER_CLIENT_ID
                    field: client_id
                    rejectedValue: "003000013"
                    message: clientId must be an integer, min and max length of 10 and must not start with 000
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
  /ef/do/v1/clients:
    x-ep-only: true
    get:
      summary: List clients
      description: Returns a list of Embedded Finance clients associated with your platform.
      operationId: smbdo-listClients
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientListResponse"
              examples:
                ClientListResponse:
                  $ref: "#/components/examples/ClientListResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
    post:
      summary: Create client
      description: Creates a client.
      operationId: smbdo-postClients
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequestSmbdo"
            examples:
              CreateClient:
                $ref: "#/components/examples/CreateClient"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                CreateClientResponse:
                  $ref: "#/components/examples/CreateClientResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/clients/{id}":
    x-ep-only: true
    get:
      summary: Get client
      description: Retrieve client details by its ID.
      operationId: smbdo-getClient
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                GetClientResponse:
                  $ref: "#/components/examples/GetClientResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
    post:
      summary: Update client
      description: Updates a client.
      operationId: smbdo-updateClient
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequestSmbdo"
            examples:
              UpdateClient:
                $ref: "#/components/examples/UpdateClient"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                UpdateClientResponse:
                  $ref: "#/components/examples/UpdateClientResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/clients/{id}/verifications":
    x-ep-only: true
    post:
      summary: Perform client verifications
      description: Performs client verifications
      operationId: smbdo-postClientVerifications
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      responses:
        "202":
          description: Accepted.
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "422":
          $ref: "#/components/responses/422"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  /ef/do/v1/parties:
    x-ep-only: true
    get:
      summary: List parties
      description: Retrieves a list of parties.
      operationId: smbdo-listParties
      tags:
        - Parties
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
        - $ref: "#/components/parameters/parentPartyId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyListResponse"
              examples:
                PartyListResponse:
                  $ref: "#/components/examples/PartyListResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
    post:
      summary: Create party
      description: Creates a new party.
      operationId: smbdo-postParties
      tags:
        - Parties
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePartyRequest"
            examples:
              CreateOrganizationParty:
                $ref: "#/components/examples/CreateOrganizationParty"
              CreateIndividualParty:
                $ref: "#/components/examples/CreateIndividualParty"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                OrganizationPartyResponse:
                  $ref: "#/components/examples/OrganizationPartyResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/parties/{id}":
    x-ep-only: true
    get:
      tags:
        - Parties
      summary: Get party
      description: Details a party by its unique identifier.
      operationId: smbdo-getParty
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a party.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "2000011675"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                OrganizationPartyResponse:
                  $ref: "#/components/examples/OrganizationPartyResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
    post:
      tags:
        - Parties
      summary: Update party
      description: Updates a party.
      operationId: smbdo-updateParty
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a party.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "2000011675"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePartyRequest"
            examples:
              UpdateOrganizationParty:
                $ref: "#/components/examples/UpdateOrganizationParty"
              UpdateIndividualParty:
                $ref: "#/components/examples/UpdateIndividualParty"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                OrganizationPartyResponse:
                  $ref: "#/components/examples/OrganizationPartyResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  /ef/do/v1/questions:
    x-ep-only: true
    get:
      tags:
        - Questions
      summary: List questions
      description: |
        Lists customer due diligence questions.
      operationId: smbdo-listQuestions
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/questionIdListInQuery"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestionListResponse"
              examples:
                QuestionListResponse:
                  $ref: "#/components/examples/QuestionListResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/questions/{id}":
    x-ep-only: true
    get:
      tags:
        - Questions
      summary: Get question
      description: |
        Get a customer due diligence question.
      operationId: smbdo-getQuestion
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique Question identifier.
          required: true
          schema:
            type: string
            maxLength: 10
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-QuestionResponse"
              examples:
                QuestionResponse:
                  $ref: "#/components/examples/QuestionResponse"
                DependentQuestionResponse:
                  $ref: "#/components/examples/DependentQuestionResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  /ef/do/v1/document-requests:
    x-ep-only: true
    get:
      tags:
        - Document requests
      summary: List document requests
      description: |
        Get a list of document requests.
      operationId: smbdo-listDocumentRequests
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdQuery"
        - $ref: "#/components/parameters/partyIdQuery"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRequestListResponse"
              examples:
                DocumentRequestListResponse:
                  $ref: "#/components/examples/DocumentRequestListResponse"
        "400":
          $ref: "#/components/responses/responses-400"
        "401":
          $ref: "#/components/responses/responses-401"
        "403":
          $ref: "#/components/responses/responses-403"
        "404":
          $ref: "#/components/responses/responses-404"
        "500":
          $ref: "#/components/responses/responses-500"
        "503":
          $ref: "#/components/responses/responses-503"
  "/ef/do/v1/document-requests/{id}":
    x-ep-only: true
    get:
      tags:
        - Document requests
      summary: Get document request
      description: Returns details for a document request using its unique identifier.
      operationId: smbdo-getDocumentRequest
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a document request.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "3000011675"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRequestResponse"
              examples:
[...]
