openapi: 3.0.3
info:
  title: Embedded Banking Solutions API
  version: 2.0.3
  description: Embedded Banking Solutions services from J.P. Morgan
  contact:
    name: JPMC Technical Services Support
servers:
  - url: https://apigateway.jpmorgan.com/tsapi/ef/v2
    description: JPM-PROD - Embedded Banking Solutions
    x-jpmc-deployment-type: prod
  - url: https://apigatewaycat.jpmorgan.com/tsapi/ef/v2
    description: JPM-CAT - Embedded Banking Solutions
    x-jpmc-deployment-type: prod
security:
  - Certs: []
    Token: []
  - Certs: []
tags:
  - name: Clients
    description: Onboard and manage clients.
  - name: Parties
    description: Create and manage legal parties.
  - name: Questions
    description: Information on KYC questions.
  - name: Documents
    description: Onboard and manage clients.
  - name: Document requests
    description: View details of requests for documents.
  - name: Accounts
    description: Create, organize and manage accounts.
  - name: Recipients
    description: Set up and manage who can be paid through transactions.
  - name: Transactions
    description: Initiate and track the movement of funds, including payments.
  - name: Statements
    description: Access monthly statements for accounts.
  - name: Cases
    description: Create and manage support request cases for users.
  - name: Debit Cards
    description: Request and manage Embedded Finance debit cards.
  - name: Users
    description: Manage users of an Embedded Finance profile.
  - name: Webhooks
    description: Create and manage webhook subscriptions for your platform.
paths:
  /clients:
    x-ep-only: true
    get:
      summary: List clients
      description: Returns a list of clients associated with your platform.
      operationId: smbdo-listClients
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientListResponse"
              examples:
                ClientListResponse:
                  $ref: "#/components/examples/ClientListResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
    post:
      summary: Create client
      description: Creates a client.
      operationId: smbdo-postClients
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequestSmbdo"
            examples:
              CreateClient:
                $ref: "#/components/examples/CreateClient"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                CreateClientResponse:
                  $ref: "#/components/examples/CreateClientResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  "/clients/{id}":
    x-ep-only: true
    get:
      summary: Get client
      description: Retrieve client details by its ID.
      operationId: smbdo-getClient
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                GetClientResponse:
                  $ref: "#/components/examples/GetClientResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
    post:
      summary: Update client
      description: Updates a client.
      operationId: smbdo-updateClient
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequestSmbdo"
            examples:
              UpdateClient:
                $ref: "#/components/examples/UpdateClient"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
              examples:
                UpdateClientResponse:
                  $ref: "#/components/examples/UpdateClientResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  "/clients/{id}/verifications":
    x-ep-only: true
    post:
      summary: Perform client verifications
      description: Performs client verifications
      operationId: smbdo-postClientVerifications
      tags:
        - Clients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a client.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "1000011675"
      responses:
        "202":
          description: Accepted.
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "422":
          $ref: "#/components/responses/422_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  /parties:
    x-ep-only: true
    get:
      summary: List parties
      description: Retrieves a list of parties.
      operationId: smbdo-listParties
      tags:
        - Parties
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
        - $ref: "#/components/parameters/parentPartyId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyListResponse"
              examples:
                PartyListResponse:
                  $ref: "#/components/examples/PartyListResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
    post:
      summary: Create party
      description: Creates a new party.
      operationId: smbdo-postParties
      tags:
        - Parties
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePartyRequest"
            examples:
              CreateOrganizationParty:
                $ref: "#/components/examples/CreateOrganizationParty"
              CreateIndividualParty:
                $ref: "#/components/examples/CreateIndividualParty"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                OrganizationPartyResponse:
                  $ref: "#/components/examples/OrganizationPartyResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  "/parties/{id}":
    x-ep-only: true
    get:
      tags:
        - Parties
      summary: Get party
      description: Details a party by its unique identifier.
      operationId: smbdo-getParty
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a party.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "2000000112"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                OrganizationPartyResponse:
                  $ref: "#/components/examples/OrganizationPartyResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
    post:
      tags:
        - Parties
      summary: Update party
      description: Updates a party.
      operationId: smbdo-updateParty
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a party.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "2000000111"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePartyRequest"
            examples:
              UpdateOrganizationParty:
                $ref: "#/components/examples/UpdateOrganizationParty"
              UpdateIndividualParty:
                $ref: "#/components/examples/UpdateIndividualParty"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyResponse"
              examples:
                IndividualPartyControllerResponse:
                  $ref: "#/components/examples/IndividualPartyControllerResponse"
                OrganizationPartyResponse:
                  $ref: "#/components/examples/OrganizationPartyResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  /questions:
    x-ep-only: true
    get:
      tags:
        - Questions
      summary: List questions
      description: |
        Lists customer due diligence questions.
      operationId: smbdo-listQuestions
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/questionIdListInQuery"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestionListResponse"
              examples:
                QuestionListResponse:
                  $ref: "#/components/examples/QuestionListResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  "/questions/{id}":
    x-ep-only: true
    get:
      tags:
        - Questions
      summary: Get question
      description: |
        Get a customer due diligence question.
      operationId: smbdo-getQuestion
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique Question identifier.
          required: true
          schema:
            type: string
            maxLength: 10
          example: "300001"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schemas-QuestionResponse"
              examples:
                QuestionResponse:
                  $ref: "#/components/examples/QuestionResponse"
                DependentQuestionResponse:
                  $ref: "#/components/examples/DependentQuestionResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  /documents:
    x-ep-only: true
    get:
      tags:
        - Documents
      summary: List document details
      description: |
        Retrieves a list of document details.
      operationId: smbdo-getAllDocumentDetails
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdInQuery"
        - $ref: "#/components/parameters/partyIdQuery"
        - $ref: "#/components/parameters/platformIdInQuery"
        - $ref: "#/components/parameters/pageNo"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsResponse"
              examples:
                ListDocumentsRes:
                  $ref: "#/components/examples/ListDocumentsRes"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  "/documents/{id}":
    x-ep-only: true
    get:
      tags:
        - Documents
      summary: Get document details
      description: |
        Retrieve details of a document.
      operationId: smbdo-getDocumentDetail
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Unique document identifier.
          example: 62d29548-f55a-458e-b9bb-ed32a6a05a1b
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDocumentsResponse"
              examples:
                ListDocumentsRes:
                  $ref: "#/components/examples/ListDocumentsRes"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  "/documents/{id}/file":
    x-ep-only: true
    get:
      tags:
        - Documents
      summary: Download a document
      description: Download a document using its unique identifier.
      operationId: smbdo-downloadDocument
      parameters:
        - $ref: "#/components/parameters/token"
        - in: path
          name: id
          description: Unique Document identifier.
          example: 73bd1c1d-6635-43ff-a8e5-b252926bddef
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
            image/png:
              schema:
                type: string
                format: byte
            image/jpeg:
              schema:
                type: string
                format: byte
            image/heic:
              schema:
                type: string
                format: byte
            application/csv:
              schema:
                type: string
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  /document-requests:
    x-ep-only: true
    get:
      tags:
        - Document requests
      summary: List document requests
      description: |
        Get a list of document requests.
      operationId: smbdo-listDocumentRequests
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdQuery"
        - $ref: "#/components/parameters/partyIdQuery"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRequestListResponse"
              examples:
                DocumentRequestListResponse:
                  $ref: "#/components/examples/DocumentRequestListResponse"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  "/document-requests/{id}":
    x-ep-only: true
    get:
      tags:
        - Document requests
      summary: Get document request
      description: Returns details for a document request using its unique identifier.
      operationId: smbdo-getDocumentRequest
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a document request.
          required: true
          style: simple
          schema:
            type: string
            maxLength: 10
          example: "3000011675"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRequestResponse"
              examples:
                DocumentRequestDriversLicenseUs:
                  $ref: "#/components/examples/DocumentRequestDriversLicenseUs"
        "400":
          $ref: "#/components/responses/400_DO"
        "401":
          $ref: "#/components/responses/401_DO"
        "403":
          $ref: "#/components/responses/403_DO"
        "404":
          $ref: "#/components/responses/404_DO"
        "500":
          $ref: "#/components/responses/500_DO"
        "503":
          $ref: "#/components/responses/503_DO"
  /accounts:
    get:
      summary: List accounts
      description: Returns a list of accounts for a specific client.
      operationId: getAccounts
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdParam"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/parameters-pageNo"
      tags:
        - Accounts
      responses:
        "200":
          description: List of accounts for a specific client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
              examples:
                ListAccountsResponse:
                  $ref: "#/components/examples/ListAccountsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create account
      description: Create an account for a specific client
      operationId: postAccounts
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
            examples:
              CreateAccountRequest:
                $ref: "#/components/examples/CreateAccountRequest"
      tags:
        - Accounts
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
              examples:
                CreateAccountResponse:
                  $ref: "#/components/examples/CreateAccountResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/accounts/{id}":
    get:
      summary: Get account
      description: Look up a single account by account ID
      operationId: getAccount
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseWithStatus"
              examples:
                GetLimitedDdaAccountResponse:
                  $ref: "#/components/examples/GetLimitedDdaAccountResponse"
                GetEmbeddedDdaAccountResponse:
                  $ref: "#/components/examples/GetEmbeddedDdaAccountResponse"
                GetDdaAccountResponse:
                  $ref: "#/components/examples/GetDdaAccountResponse"
                GetProcessingAccountResponse:
                  $ref: "#/components/examples/GetProcessingAccountResponse"
                GetManagementAccountResponse:
                  $ref: "#/components/examples/GetManagementAccountResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/accounts/{id}/balances":
    get:
      summary: Get an account balance
      description: Get the balance details for an account
      operationId: getAccountBalance
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/token"
      responses:
        "200":
          description: Account balance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceResponse"
              examples:
                GetAccountBalanceResponse:
                  $ref: "#/components/examples/GetAccountBalanceResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /recipients:
    get:
      summary: List recipients
      description: Returns a list of all recipients for a given client profile.
      operationId: getAllRecipients
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/clientIdInQuery"
        - name: type
          in: query
          description: Recipient type to return
          required: false
          example: RECIPIENT
          schema:
            $ref: "#/components/schemas/RecipientType"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRecipientsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create recipient
      description: Creates a new recipient.
      operationId: createRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecipientRequest"
            examples:
              CreateRecipientReq:
                $ref: "#/components/examples/CreateRecipientReq"
      responses:
        "201":
          description: The recipient was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
              examples:
                CreateRecipientRes:
                  $ref: "#/components/examples/CreateRecipientRes"
        "400":
          $ref: "#/components/responses/400_recipients"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/recipients/{id}":
    get:
      summary: Get recipient
      description: Returns information about a specific recipient.
      operationId: getRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: 616d93a1-ce53-4c71-b03b-02a11396db28
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
              examples:
                GetRecipientRes:
                  $ref: "#/components/examples/GetRecipientRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Update recipient
      description: Updates details of a recipient, such as adding values for attributes related to payment types. All attributes must be provided in the same format as when creating a recipient. The value partyDetails.type cannot be amended after creation.
      operationId: amendRecipient
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: 616d93a1-ce53-4c71-b03b-02a11396db28
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRecipientRequest"
            examples:
              UpdateRecipientReq:
                $ref: "#/components/examples/UpdateRecipientReq"
      responses:
        "200":
          description: The recipient was amended successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipient"
              examples:
                UpdateRecipientReq:
                  $ref: "#/components/examples/UpdateRecipientRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/recipients/{id}/verify-microdeposit":
    post:
      summary: Creates a microdeposits verification process.
      description: Creates a microdeposits verification process.
      operationId: recipientsVerification
      tags:
        - Recipients
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Recipient ID. A unique identifier for a recipient.
          required: true
          schema:
            type: string
          example: dea21834-f876-404b-a240-9977e598da5e
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MicrodepositAmounts"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MicrodepositVerificationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /transactions:
    get:
      summary: List transactions
      description: Lists transactions for a specific client, which can be filtered using optional parameters.
      operationId: listTransactionsV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - in: query
          name: type
          schema:
            $ref: "#/components/schemas/RequestTransactionTypeV2"
          description: Filters by type of transaction.
          required: false
        - in: query
          name: status
          schema:
            $ref: "#/components/schemas/RequestTransactionStatus"
          description: Filters by transaction status.
          required: false
        - in: query
          name: accountId
          example: ae86b765e14741c5a44acc570af517ab
          schema:
            type: string
          description: Filters by the Embedded Finance account id connected to the transaction.
          required: false
        - in: query
          name: amountEquals
          example: "100"
          schema:
            type: string
          description: Filters by an exact amount.
          required: false
        - in: query
          name: amountGreaterThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts greater than a specified value.
          required: false
        - in: query
          name: amountLessThan
          example: "100"
          schema:
            type: string
          description: Filters by amounts less than a specified value.
          required: false
        - in: query
          name: dateEquals
          example: 2022-01-01
          schema:
            type: string
          description: Filters transactions by an exact date.
          required: false
        - in: query
          name: dateGreaterThan
          example: 2022-01-01
          schema:
            type: string
          description: Filters for transactions made after this payment date.
          required: false
        - in: query
          name: dateLessThan
          example: 2022-01-01
          schema:
            type: string
          description: Filters for transactions made before this payment date.
          required: false
        - in: query
          name: dateTimeGreaterThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions created after this date and time.
          required: false
        - in: query
          name: dateTimeLessThan
          example: 2022-01-01T00:00:00.000Z
          schema:
            type: string
            format: date-time
          description: Filters for transactions created before this date and time.
          required: false
        - in: query
          name: recipientId
          example: 616d93a1-ce53-4c71-b03b-02a11396db28
          schema:
            type: string
          description: Filters for transactions from/to this recipientId.
        - in: query
          name: transactionReferenceId
          example: inv-pay-1234
          schema:
            type: string
          description: Filters for a transaction that matches a specific transaction reference ID provided by the client.
          required: false
        - in: query
          name: clientId
          example: "0030000132"
          schema:
            type: string
          description: Filters for transactions from/to this clientId.
          required: false
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTransactionsSearchResponseV2"
              examples:
                GetTransactionsRes:
                  $ref: "#/components/examples/GetTransactionsRes"
        "400":
          $ref: "#/components/responses/400V2"
        "401":
          $ref: "#/components/responses/401V2"
        "403":
          $ref: "#/components/responses/403V2"
        "404":
          $ref: "#/components/responses/404V2"
        "500":
          $ref: "#/components/responses/500V2"
        "503":
          $ref: "#/components/responses/503V2"
    post:
      summary: Create transaction
      description: Creates a new transaction, such as a payment via ACH, Wire or Real Time Payments (RTP).
      operationId: createTransactionV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        description: Contains the required information to create a payment transaction.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostTransactionRequestV2"
            examples:
              CreateTransactionReq:
                $ref: "#/components/examples/CreateTransactionPayoutReq"
              CreateTransactionPayoutRecipientDetailsReq:
                $ref: "#/components/examples/CreateTransactionPayoutRecipientDetailsReq"
              CreateTransactionV2VReq:
                $ref: "#/components/examples/CreateTransactionV2VReq"
              CreateTransactionPayOutBookReq:
                $ref: "#/components/examples/CreateTransactionPayOutBookReq"
              CreateTransactionPayIntoReq:
                $ref: "#/components/examples/CreateTransactionPayIntoReq"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponseV2"
              examples:
                CreateTransactionRes:
                  $ref: "#/components/examples/CreateTransactionPayoutRes"
                CreateTransactionV2VRes:
                  $ref: "#/components/examples/CreateTransactionV2VRes"
                CreateTransactionPayOutBookRes:
                  $ref: "#/components/examples/CreateTransactionPayOutBookRes"
                CreateTransactionPayIntoRes:
                  $ref: "#/components/examples/CreateTransactionPayIntoRes"
        "400":
          $ref: "#/components/responses/400V2"
        "401":
          $ref: "#/components/responses/401V2"
        "403":
          $ref: "#/components/responses/403V2"
        "404":
          $ref: "#/components/responses/404V2"
        "500":
          $ref: "#/components/responses/500V2"
        "503":
          $ref: "#/components/responses/503V2"
  "/transactions/{id}":
    get:
      summary: Get transaction
      description: Returns details for a specific transaction using its unique identifier.
      operationId: getTransactionV2
      tags:
        - Transactions
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Unique identifier for a transaction.
          required: true
          example: m6p8kqkk5hjne3
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionGetResponseV2"
              examples:
                GetTransactionByIdRes:
                  $ref: "#/components/examples/GetTransactionByIdRes"
        "400":
          $ref: "#/components/responses/400V2"
        "401":
          $ref: "#/components/responses/401V2"
        "403":
          $ref: "#/components/responses/403V2"
        "404":
          $ref: "#/components/responses/404V2"
        "500":
          $ref: "#/components/responses/500V2"
        "503":
          $ref: "#/components/responses/503V2"
  "/statements/{id}":
    x-eb-only: true
    get:
      summary: Get a statement
      description: Get a statement document using its identifier
      operationId: getStatement
      parameters:
        - $ref: "#/components/parameters/token"
        - in: header
          name: client_id
          description: Unique client identifier.
          required: true
          example: "0030000131"
          schema:
            type: string
            pattern: ^\d{10}$
            minLength: 10
            maxLength: 10
        - in: path
          name: id
          required: true
          description: Statement identifier used to find the document.
          example: ZjNjMTJjOTctZTQyNy00MWI5LWJmNDAtMDMzYzZiNjliNWJl
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Statements
  /statements/search:
    x-eb-only: true
    get:
      summary: Search statements
      description: Returns statements filtered by search criteria.
      operationId: searchStatements
      parameters:
        - $ref: "#/components/parameters/token"
        - in: header
          name: client_id
          description: Unique client identifier.
          required: true
          example: "0030000131"
          schema:
            type: string
            pattern: ^\d{10}$
            minLength: 10
            maxLength: 10
        - in: query
          name: accountIds
          description: |
            Account identifiers used to represent client accounts.
          required: false
          example:
            - dc2eda9084bf40b7a1d8baa8c5e0ea0ax
          schema:
            type: array
            items:
              type: string
        - in: query
          name: dateFrom
          description: Earliest date in search range. Must be set at least one day earlier than dateTo.
          required: true
          example: 2022-12-31
          schema:
            type: string
        - in: query
          name: dateTo
          description: Latest date in search range. Must be set at least one day later than dateFrom.
          required: true
          example: 2022-12-31
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatementsResponse"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Statements
  /cases:
    x-eb-only: true
    get:
      tags:
        - Cases
      summary: Returns all cases for client profile.
      description: Get cases for client profile
      operationId: getCases
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/parameters-pageSize"
        - $ref: "#/components/parameters/components-parameters-pageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CasesPaginationResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      tags:
        - Cases
      summary: Create a new case
      description: Raises a case for support with Embedded Finance.
      operationId: createCase
      requestBody:
        required: true
        description: Information needed to create a new case.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseCreateRequest"
      parameters:
        - $ref: "#/components/parameters/token"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseCreateResponse"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/cases/{id}":
    x-eb-only: true
    get:
      tags:
        - Cases
      summary: Returns details of a case using the unique case ID.
      description: Get case details
      operationId: getCase
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Case identifier
          required: true
          schema:
            type: string
          style: simple
          example: "00001154"
    post:
      tags:
        - Cases
      summary: Update information on a specific case.
      description: Update case
      operationId: updateCase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseUpdateRequest"
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseDetails"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      parameters:
        - name: id
          in: path
          description: Case ID. The unique identifier for a case.
          required: true
          schema:
            type: string
          style: simple
          example: "00001154"
        - $ref: "#/components/parameters/token"
  /debit-cards:
    x-eb-only: true
    get:
      summary: List cards
      description: Returns a list of debit cards for a specific client.
      operationId: getDebitCards
      parameters:
        - $ref: "#/components/parameters/token"
        - in: query
          name: page
          description: Current page number.
          schema:
            type: integer
            default: 0
          required: false
          examples:
            Default:
              value: 0
        - in: query
          name: limit
          description: Number of records per page.
          schema:
            type: integer
            default: 25
          required: false
          examples:
            Default:
              value: 25
      responses:
        "200":
          description: List debit cards
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DebitCardsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          description: ERROR.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailsErrorResponse"
        "503":
          description: ERROR.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailsErrorResponse"
      tags:
        - Debit Cards
    post:
      summary: Create debit card
      description: Creates a new debit card.
      operationId: createDebitCard
      parameters:
        - $ref: "#/components/parameters/token"
      requestBody:
        description: Customer account details required to create a new debit card.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDebitCardRequest"
            examples:
              createDebitCardPayload:
                $ref: "#/components/examples/createDebitCardRequestPayload"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDebitCardResponse"
              examples:
                createDebitCardResponsePayload:
                  $ref: "#/components/examples/createDebitCardResponsePayload"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
  "/debit-cards/{id}":
    x-eb-only: true
    get:
      summary: Get card
      description: Returns card ID and iFrame link for virtual card details for a specific card.
      operationId: getDebitCard
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          in: path
          description: Card Identifier
          required: true
          style: simple
          schema:
            type: string
          examples:
            ActiveCard:
              value: "100000983036"
            InactiveCard:
              value: "100000983037"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardDetailResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
    post:
      summary: Update card
      description: Updates card details, such as PIN reset or to lock a lost card.
      operationId: updateCard
      parameters:
        - $ref: "#/components/parameters/token"
        - name: id
          example: "100000160987"
          in: path
          description: Unique identifier for the debit card.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: Card update info required to either set/reset PIN, lock/unlock card set card as replaced, or set card as cancelled.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardUpdateRequest"
            examples:
              setPinPayload:
                $ref: "#/components/examples/setPinPayload"
              setCardLockedPayload:
                $ref: "#/components/examples/setCardLockedPayload"
              setCardReplacedPayload:
                $ref: "#/components/examples/setCardReplacedPayload"
              setCardCancelledPayload:
                $ref: "#/components/examples/setCardCancelledPayload"
              setMaxSpendLimit:
                $ref: "#/components/examples/setMaxSpendLimit"
              setMaxCashWithdrawalLimit:
                $ref: "#/components/examples/setMaxCashWithdrawalLimit"
              clearCashWithdrawalAndDailySpendLimit:
                $ref: "#/components/examples/clearCashWithdrawalAndDailySpendLimit"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardUpdateResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
      tags:
        - Debit Cards
  /users:
    x-eb-only: true
    get:
      tags:
        - Users
      summary: List users
      description: Retrieves list of users for a client. The API by default retrieves a lighter version of data.
      operationId: getAllUsers
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userPageSize"
        - $ref: "#/components/parameters/userPageNo"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserResponse"
              examples:
                ListUsersWithResources:
                  $ref: "#/components/examples/ListUsersWithResources"
        "400":
          $ref: "#/components/responses/user400ClientId"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
    post:
      tags:
        - Users
      summary: Create user
      description: Creates a new user. This API is developed to enable clients to create a user for accessing and managing resources for that client. The payload has a property partyId. This partyId is used to add an existing party as a user. Phone field is optional when partyId is provided. When partyId is not provided, then phone field should be populated. When providing a role, if the role is a DEBIT_CARD_HOLDER then the resourceType and resourceId and action should be provided.
      operationId: postUsers
      parameters:
        - $ref: "#/components/parameters/userToken"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
            examples:
              CreateUserExistingParty:
                $ref: "#/components/examples/CreateUserExistingParty"
              CreateUserNewParty:
                $ref: "#/components/examples/CreateUserNewParty"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
              examples:
                GetUser:
                  $ref: "#/components/examples/GetUser"
        "400":
          $ref: "#/components/responses/user400"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
  "/users/{id}":
    x-eb-only: true
    get:
      tags:
        - Users
      summary: Get user
      description: Retrieves details for a specific user.
      operationId: getUserDetails
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
              examples:
                GetUser:
                  $ref: "#/components/examples/GetUser"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "404":
          $ref: "#/components/responses/user404"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
    post:
      tags:
        - Users
      summary: Update user
      description: Updates information about user. For additional users only, full details like name, email, address phone and role can be updated.
      operationId: updateUserById
      parameters:
        - $ref: "#/components/parameters/userToken"
        - $ref: "#/components/parameters/userId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
            examples:
              UpdateUserResponse:
                $ref: "#/components/examples/UpdateUserResponse"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/user400"
        "401":
          $ref: "#/components/responses/user401"
        "403":
          $ref: "#/components/responses/user403"
        "500":
          $ref: "#/components/responses/user500"
        "503":
          $ref: "#/components/responses/user503"
  /webhooks:
    get:
      summary: List webhooks
      description: List all your webhooks
      operationId: listWebhooks
      tags:
        - Webhooks
      parameters:
        - $ref: "#/components/parameters/pageNo"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhookResponse"
              examples:
                ListWebhooks:
                  $ref: "#/components/examples/ListWebhooks"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Create a webhook subscription.
      description: Create a webhook subscription
      operationId: createWebhook
      tags:
        - Webhooks
      parameters: []
      requestBody:
        required: true
        description: Create a new webhook request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRequest"
            examples:
              CreateAWebhookReq:
                $ref: "#/components/examples/CreateAWebhookReq"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
              examples:
                CreateAWebhookRes:
                  $ref: "#/components/examples/CreateAWebhookRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  "/webhooks/{id}":
    get:
      summary: Get a webhook subscription by ID.
      description: Get details of your subscription to a specific webhook.
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          description: Unique identifier for webhook subscription
          required: true
          example: 944803b0-f1c2-4b28-91ce-8985b1f317a7
          schema:
            type: string
          style: simple
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
              examples:
                GetWebhookByIdRes:
                  $ref: "#/components/examples/GetWebhookByIdRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
    post:
      summary: Update a webhook by ID.
      description: Add or Remove webhook subscriptions and change a webhook status to ACTIVE or INACTIVE
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          example: 944803b0-f1c2-4b28-91ce-8985b1f317a7
          schema:
            type: string
          description: Unique identifier of the webhook to be updated
          required: true
      requestBody:
        required: true
        description: Update an existing webhook subscription.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
            examples:
              AddEventsToAWebhookSubscription:
                $ref: "#/components/examples/AddSubscriptionsToAWebhook"
              RemoveEventsToAWebhookSubscription:
                $ref: "#/components/examples/RemoveSubscriptionsFromAWebhook"
              ReplaceStatusOfAWebhookSubscription:
                $ref: "#/components/examples/ChangeStatusOfAWebhook"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
              examples:
                AddEventsToAWebhookSubscriptionRes:
                  $ref: "#/components/examples/AddSubscriptionsToAWebhookRes"
                RemoveEventsToAWebhookSubscriptionRes:
                  $ref: "#/components/examples/RemoveSubscriptionsFromAWebhookRes"
                ReplaceStatusOfAWebhookSubscriptionRes:
                  $ref: "#/components/examples/ChangeStatusOfAWebhookRes"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
x-webhooks:
  events:
    post:
      summary: Embedded Finance Event posted
      tags:
        - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/TransactionCallbackEvent"
                - $ref: "#/components/schemas/ClientCallbackEvent"
                - $ref: "#/components/schemas/PartyCallbackEvent"
                - $ref: "#/components/schemas/RemittanceCallbackEvent"
            examples:
              ClosedAccountTransactionEvent:
                $ref: "#/components/examples/ClosedAccountTransactionEvent"
              InsufficientFundsTransactionEvent:
                $ref: "#/components/examples/InsufficientFundsTransactionEvent"
              FatalClearingErrorTransactionEvent:
                $ref: "#/components/examples/FatalClearingErrorTransactionEvent"
              CompletedTransactionEvent:
                $ref: "#/components/examples/CompletedTransactionEvent"
              CompletedOnboardingClientEvent:
                $ref: "#/components/examples/CompletedOnboardingClientEvent"
              CustomerIdentityVerifiedOnboardingClientEvent:
                $ref: "#/components/examples/CustomerIdentityVerifiedOnboardingClientEvent"
              CustomerIdentityNotVerifiedOnboardingClientEvent:
                $ref: "#/components/examples/CustomerIdentityNotVerifiedOnboardingClientEvent"
              PartyNetworkScreeningEvent:
                $ref: "#/components/examples/PartyNetworkScreeningEvent"
              RemittanceAckNackEvent:
                $ref: "#/components/examples/RemittanceAckNackEvent"
              RemittanceTSREvent:
                $ref: "#/components/examples/RemittanceTSREvent"
      responses:
        "200":
          description: Your server returns this code if it accepts the callback
components:
  parameters:
    token:
      name: token
      in: header
      description: JWT Client token
      required: false
      schema:
        type: string
    pageSize:
      name: limit
      in: query
      description: Number of records per page.
      schema:
        type: integer
        minimum: 1
        maximum: 25
        default: 25
    pageNo:
      name: page
      in: query
      description: Page Number
      schema:
        type: integer
        default: 0
        minimum: 0
    parentPartyId:
      name: parentPartyId
      in: query
      description: ID of the parent party.
      required: false
      schema:
        type: string
        maxLength: 10
      example: "2000000555"
    questionIdListInQuery:
      name: questionIds
      in: query
      description: Comma-separated list of Question IDs.
      example: 30001,30002,30003
      required: false
      schema:
        type: string
        pattern: ^[0-9]{1,19}(,[0-9]{1,19})*$
        maxLength: 4096
    clientIdInQuery:
      name: clientId
      in: query
      description: Unique Client identifier
      required: false
      example: "9000000001"
      schema:
        type: string
        maxLength: 10
    partyIdQuery:
      name: partyId
      in: query
      description: Unique Party identifier.
      required: false
      example: "2000000555"
      schema:
        type: string
        maxLength: 10
    platformIdInQuery:
      name: platformId
      in: query
      description: Unique identifier for the platform.
      required: false
      example: "1000000000"
      schema:
        type: string
        maxLength: 10
    clientIdQuery:
      name: clientId
      in: query
      description: Unique Client identifier.
      required: false
      example: "9000000555"
      schema:
        type: string
        maxLength: 10
    clientIdHeader:
      name: client_id
      in: header
      description: Unique client identifier
      example: "1000010400"
      required: false
      schema:
        type: string
        pattern: ^\d{10}$
    clientIdParam:
      name: clientId
      in: query
      description: Unique client identifier
      example: "0030000131"
      required: false
      schema:
        type: string
        pattern: ^\d{10}$
    parameters-pageNo:
      name: page
      in: query
      description: Page Number
      schema:
        type: integer
        default: 0
    accountId:
      name: id
      in: path
      description: Unique account identifier
      schema:
        type: string
      required: true
      example: ablim765e14741c5a44acc570af517ab
    clientId:
      name: client_id
      in: header
      description: Unique identifier for a client.
      required: false
      example: "0030000131"
      schema:
        type: string
        pattern: ^\d{10}$
    parameters-pageSize:
      name: limit
      in: query
      description: Number of records per page.
      schema:
        type: integer
        minimum: 1
    components-parameters-pageNo:
      name: page
      in: query
      description: Page Number
      schema:
        type: integer
        minimum: 1
    userToken:
      x-eb-only: true
      name: token
      in: header
      description: JWT Client token
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 3000
    userPageSize:
      x-eb-only: true
      name: limit
      in: query
      description: Number of records per page.
      schema:
        type: integer
        minimum: 0
        maximum: 25
        default: 25
        format: int32
    userPageNo:
      x-eb-only: true
      name: page
      in: query
      description: Page Number
      schema:
        type: integer
        minimum: 0
        maximum: 2000
        default: 0
        format: int32
    userId:
      x-eb-only: true
      name: id
      in: path
      description: Identifier of the user record.
      style: simple
      schema:
        type: string
        minLength: 1
        maxLength: 50
      required: true
      example: 94c3a2a3-db3a-4850-a36a-3d27d8a05db0
  schemas:
    PageMetaDataSmbdo:
      type: object
      properties:
        page:
          type: integer
          example: 2
          description: |
            Page Number.
        limit:
          type: integer
          example: 30
          description: |
            Number of records per page.
        total:
          type: integer
          example: 340
          description: |
            Total number of items.
    ClientId:
      description: A client's unique ID
      example: "9000000333"
      type: string
      maxLength: 10
    PartyId:
      type: string
      maxLength: 10
      example: "2000005555"
      description: |
        Organization/Individual party id, that uniquely identifies the party.
    ClientProduct:
      description: A product available for a client in a jurisdiction.
      type: string
    ProductList:
      description: A list of product selections.
      type: array
      items:
        $ref: "#/components/schemas/ClientProduct"
      minItems: 1
      maxItems: 50
    DocumentId:
      description: |
        The unique id generated by the system for the uploaded document,  which can be used for future retrieval.
      type: string
      format: uuid
      example: abcd1c1d-6635-43ff-a8e5-b252926bddef
    DocumentIdList:
      description: A list of document IDs.
      type: array
      items:
        $ref: "#/components/schemas/DocumentId"
      minItems: 0
      maxItems: 10
    DocumentRequestIdList:
      description: A list of document request IDs.
      type: array
      items:
        example: "1000001"
        type: string
        maxLength: 10
      minItems: 0
      maxItems: 10
    QuestionIdList:
      description: A list of question IDs.
      type: array
      items:
        example: "30001"
        type: string
        maxLength: 10
      minItems: 0
      maxItems: 200
    PartyIdList:
      description: A list of party IDs.
      type: array
      items:
        $ref: "#/components/schemas/PartyId"
      minItems: 0
      maxItems: 10
    PartyRoleList:
      description: A list of party roles.
      type: array
      items:
        type: string
        enum:
          - AUTHORIZED_USER
          - BENEFICIAL_OWNER
          - CLIENT
          - CONTROLLER
          - DECISION_MAKER
          - PRIMARY_CONTACT
      minItems: 0
      maxItems: 10
    ClientStatus:
      description: The client's status.
      type: string
      enum:
        - APPROVED
        - DECLINED
        - INFORMATION_REQUESTED
        - NEW
        - REVIEW_IN_PROGRESS
        - SUSPENDED
        - TERMINATED
    ClientSummaryResponse:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ClientId"
        partyId:
          $ref: "#/components/schemas/PartyId"
        products:
          $ref: "#/components/schemas/ProductList"
        outstanding:
          type: object
          properties:
            attestationDocumentIds:
              $ref: "#/components/schemas/DocumentIdList"
            documentRequestIds:
              $ref: "#/components/schemas/DocumentRequestIdList"
            questionIds:
              $ref: "#/components/schemas/QuestionIdList"
            partyIds:
              $ref: "#/components/schemas/PartyIdList"
            partyRoles:
              $ref: "#/components/schemas/PartyRoleList"
        status:
          $ref: "#/components/schemas/ClientStatus"
      required:
        - id
        - partyId
        - products
        - outstanding
        - status
    ClientListResponse:
      description: Collection of clients.
      type: object
      properties:
        metadata:
          $ref: "#/components/schemas/PageMetaDataSmbdo"
        clients:
          type: array
          items:
            $ref: "#/components/schemas/ClientSummaryResponse"
          minItems: 0
          maxItems: 100
      required:
        - metadata
        - clients
    ApiErrorReasonV2:
      type: object
      required:
        - message
      properties:
        code:
          type: string
          example: "11000"
          description: Short code that identifies the error - publicly cataloged and documented
        location:
          type: string
          enum:
            - BODY
            - QUERY
            - PATH
            - HEADER
          example: BODY
          description: Part of the request which is responsible for the reason
        field:
          type: string
          description: The location of the property or parameter in error
        message:
          type: string
          example: Client with ID 0031234567 does not exist.
          description: Message describing the reason. This message can typically be displayed to your platform's users, except in cases specified otherwise
    ApiErrorV2:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: Short humanly-readable title of the error
          example: BAD_REQUEST
        httpStatus:
          type: integer
          description: HTTP status code
          example: 422
        traceId:
          type: string
          description: Internal assigned traced identifier
        requestId:
          type: string
          description: Client provided request identifier
        context:
          type: array
          items:
            $ref: "#/components/schemas/ApiErrorReasonV2"
          description: Provides additional context and detail on the validation errors
          minItems: 0
          maxItems: 100
    Attestation:
      type: object
      properties:
        attesterFullName:
          description: The full name of an individual.
          type: string
        attestationTime:
          type: string
          format: date-time
          example: 2017-07-21T17:32:28.000Z
        documentId:
          $ref: "#/components/schemas/DocumentId"
        ipAddress:
          description: IPv4 Address.
          type: string
          format: ipv4
    AccessList:
      description: List of user access descriptors.
      type: array
      items:
        type: string
      minItems: 0
      maxItems: 10
    Email:
      type: string
      example: client@company.com
      description: Email of the party.
    ExternalId:
      type: string
      minLength: 1
      maxLength: 20
      description: Id in external system.
    ParentPartyId:
      type: string
      maxLength: 10
      description: |
        The Parent Party Id.
    PartyTypeSmbdo:
      type: string
      description: The party type
      enum:
        - INDIVIDUAL
        - ORGANIZATION
    Role:
      type: string
      enum:
        - AUTHORIZED_USER
        - BENEFICIAL_OWNER
        - CLIENT
        - CONTROLLER
        - DECISION_MAKER
        - PRIMARY_CONTACT
    AddressDtoSmbdo:
      type: object
      required:
        - addressLines
        - city
        - country
        - postalCode
      properties:
        addressType:
          type: string
          enum:
            - LEGAL_ADDRESS
            - MAILING_ADDRESS
            - BUSINESS_ADDRESS
            - RESIDENTIAL_ADDRESS
          example: BUSINESS_ADDRESS
          description: Type of address.
        addressLines:
          description: The first line must not be a PO Box and must begin with a number. Each line has a maximum of 60 characters.
          type: array
          minItems: 1
          maxItems: 5
          items:
            type: string
            description: Address line items
            minLength: 1
            maxLength: 60
          example:
            - 689 Main St
            - Opposite St. Andrews Church
            - Mini York
        city:
          type: string
          maxLength: 34
          example: Anchorage
          description: city has a maximum of 30 characters.
        state:
          type: string
          maxLength: 30
          example: AZ
          description: State code in alpha-2 format. State is mandatory for countries like United States.
        postalCode:
          type: string
          maxLength: 10
          example: "99501"
          description: Postal/ZIP code.
        country:
          type: string
          example: US
          description: Country code in alpha-2 format.
    BirthDate:
      type: string
      example: 1983-02-08
      description: |
        The date of birth (yyyy-MM-dd) of the individual in case of party type being an individual. This field is not required for the party type Organization.
    CountryCodeIsoAlpha2:
      type: string
      example: US
      description: Country code in ISO alpha-2 format.
      minLength: 2
      maxLength: 2
    FirstName:
      type: string
      minLength: 2
      maxLength: 30
      example: Lenna
      description: |
        First name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
    MiddleName:
      type: string
      maxLength: 30
      example: More
      description: |
        Middle name of the individual in case of party type being an individual.
    LastName:
      type: string
      minLength: 2
      maxLength: 30
      example: Paprocki
      description: |
        Last name of the individual in case of party type being an individual like Owners, Controllers and Decision Makers.
    NameSuffix:
      type: string
      minLength: 1
      maxLength: 5
      description: The name suffix used by the party
    IndividualIdentityDTO:
      type: object
      required:
        - idType
        - value
        - issuer
      properties:
        description:
          description: Description of the ID.
          type: string
        expiryDate:
          type: string
          format: date
        idType:
          type: string
          example: SSN
          enum:
            - SSN
            - ITIN
          description: |
            `idType` denotes the type of taxpayer identification number (e.g. Social Security Number or Individual Taxpayer Identification Number). A Social Security Number or Individual Taxpayer Identification Number is accepted for an owner or controller individual. Decision makers do not require any tax identifier.
        issuer:
          type: string
          example: US
          description: Identification issuer country code e.g. US
        value:
          type: string
          example: "999999999"
          description: Value of the identification type. EIN/SSN/ITIN must be of 9 digits.
          minLength: 1
          maxLength: 20
    IndividualJobTitle:
      type: string
      example: CEO
      description: |
        Job title in the case of party type being an `INDIVIDUAL`. Job title is a required field for Controllers. Also, If Privately Owned Business is selected as the business type, Job Title should be a required field for Decision Makers. e.g. CEO|CFO|COO|President|Chairman|Senior Branch Manager|Other
    IndividualJobTitleDescription:
      type: string
      example: Acting CEO
      maxLength: 50
      description: |
        If `jobTitle` is Other, then job title description is required.
    PhoneSmbdo:
      type: object
      required:
        - phoneType
        - countryCode
        - phoneNumber
      properties:
        phoneType:
          type: string
          enum:
            - BUSINESS_PHONE
            - MOBILE_PHONE
            - ALTERNATE_PHONE
        countryCode:
          type: string
          example: "+1"
        phoneNumber:
          type: string
          example: "7785462944"
      description: |
        Phone Number Information of the account
    NatureOfOwnership:
      type: string
      example: Direct
      description: |
        Nature of ownership e.g. Direct|Indirect
    SoleOwner:
      type: boolean
    IndividualDetails:
      type: object
      properties:
        addresses:
          type: array
          items:
            $ref: "#/components/schemas/AddressDtoSmbdo"
          minItems: 1
          maxItems: 5
        birthDate:
          $ref: "#/components/schemas/BirthDate"
        countryOfResidence:
          $ref: "#/components/schemas/CountryCodeIsoAlpha2"
        firstName:
          $ref: "#/components/schemas/FirstName"
        middleName:
          $ref: "#/components/schemas/MiddleName"
        lastName:
          $ref: "#/components/schemas/LastName"
        nameSuffix:
          $ref: "#/components/schemas/NameSuffix"
        individualIds:
          type: array
          items:
            $ref: "#/components/schemas/IndividualIdentityDTO"
          minItems: 0
          maxItems: 16
        jobTitle:
          $ref: "#/components/schemas/IndividualJobTitle"
        jobTitleDescription:
          $ref: "#/components/schemas/IndividualJobTitleDescription"
        phone:
          $ref: "#/components/schemas/PhoneSmbdo"
        natureOfOwnership:
          $ref: "#/components/schemas/NatureOfOwnership"
        soleOwner:
          $ref: "#/components/schemas/SoleOwner"
    IndividualDetailsRequired:
      allOf:
        - $ref: "#/components/schemas/IndividualDetails"
      required:
        - firstName
        - lastName
    DbaName:
      type: string
      minLength: 1
      maxLength: 100
    EntitiesInOwnership:
      description: |
        Entities in ownership means that one or more businesses own part of the business connected to the client. Always required for a Privately Owned Business.
      type: boolean
    OrganizationIndustryCategory:
      type: string
      example: Accommodation and Food Services
      description: |
        The industry category of the business connected to the client. For example, Accommodation and Food Services. You can use the Reference Data resource to get a list of acceptable values.
    OrganizationIndustryType:
      type: string
      example: Bed And Breakfast Inns
      description: |
        The industry type of the business connected to the client. You can use the Reference Data resource to get a list of acceptable values.
    OrganizationName:
      type: string
      example: Feltz Printing Service
      description: |
        The organization’s legal name. It is the official name of the person or entity that owns a company. Must be the name used on the legal party's government forms and business paperwork
    OrganizationDescription:
      type: string
      example: Printing Service of New York
      description: |
        The organization’s description.
    OrganizationType:
      type: string
      enum:
        - LIMITED_LIABILITY_COMPANY
        - C_CORPORATION
        - S_CORPORATION
        - PARTNERSHIP
        - PUBLICLY_TRADED_COMPANY
        - NON_PROFIT_CORPORATION
        - GOVERNMENT_ENTITY
        - SOLE_PROPRIETORSHIP
        - UNINCORPORATED_ASSOCIATION
    OrganizationIdentityDto:
      type: object
      description: The tax ID of the organization.
      properties:
        description:
          description: Description of the ID.
          type: string
        idType:
          description: The ID type
          type: string
          enum:
            - EIN
            - BUSINESS_REGISTRATION_ID
        value:
          description: ID value
          type: string
          minLength: 1
          maxLength: 100
        issuer:
          type: string
          description: Issuing authority
          minLength: 1
          maxLength: 500
        expiryDate:
          type: string
          format: date
      required:
        - idType
        - value
        - issuer
    SignificantOwnership:
      description: |
        Significant ownership means there individuals who own 25% or more of the client's business. Always required for a Privately Owned Business. If Significant Ownership is selected as `true`, at least one related party should have the role of owner.
      type: boolean
    TradeOverInternet:
      type: boolean
    Website:
      type: string
      description: Name/URL of the website
      minLength: 1
      maxLength: 500
      example: https://example.com
    WebsiteAvailable:
      description: Whether the party has a website. False if opted out.
      type: boolean
    YearOfFormation:
      description: Year of company formation.
      type: string
      pattern: \d{4}
      minLength: 4
      maxLength: 4
    OrganizationDetails:
      type: object
      properties:
        addresses:
          type: array
          items:
            $ref: "#/components/schemas/AddressDtoSmbdo"
          minItems: 1
          maxItems: 5
        associatedCountries:
          type: array
          items:
            $ref: "#/components/schemas/CountryCodeIsoAlpha2"
          minItems: 0
          maxItems: 100
        countryOfFormation:
          $ref: "#/components/schemas/CountryCodeIsoAlpha2"
        dbaName:
          $ref: "#/components/schemas/DbaName"
        entitiesInOwnership:
          $ref: "#/components/schemas/EntitiesInOwnership"
        industryCategory:
          $ref: "#/components/schemas/OrganizationIndustryCategory"
        industryType:
          $ref: "#/components/schemas/OrganizationIndustryType"
        jurisdiction:
          $ref: "#/components/schemas/CountryCodeIsoAlpha2"
        organizationName:
          $ref: "#/components/schemas/OrganizationName"
        organizationDescription:
          $ref: "#/components/schemas/OrganizationDescription"
        organizationType:
          $ref: "#/components/schemas/OrganizationType"
        organizationIds:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationIdentityDto"
          minItems: 0
          maxItems: 6
        phone:
          $ref: "#/components/schemas/PhoneSmbdo"
        significantOwnership:
          $ref: "#/components/schemas/SignificantOwnership"
        tradeOverInternet:
          $ref: "#/components/schemas/TradeOverInternet"
        website:
          $ref: "#/components/schemas/Website"
        websiteAvailable:
          $ref: "#/components/schemas/WebsiteAvailable"
        yearOfFormation:
          $ref: "#/components/schemas/YearOfFormation"
    OrganizationDetailsRequired:
      allOf:
        - $ref: "#/components/schemas/OrganizationDetails"
      required:
        - organizationName
        - organizationType
    CreatePartyRequestInline:
      description: Create a party within the clients payload.
      type: object
      properties:
        access:
          $ref: "#/components/schemas/AccessList"
        email:
          $ref: "#/components/schemas/Email"
        externalId:
          $ref: "#/components/schemas/ExternalId"
        parentPartyId:
          $ref: "#/components/schemas/ParentPartyId"
        partyType:
          $ref: "#/components/schemas/PartyTypeSmbdo"
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
          minItems: 1
          maxItems: 10
        individualDetails:
          $ref: "#/components/schemas/IndividualDetailsRequired"
        organizationDetails:
          $ref: "#/components/schemas/OrganizationDetailsRequired"
    CreatePartyRequestInlineRequired:
      description: Create a party within the clients payload.
      allOf:
        - $ref: "#/components/schemas/CreatePartyRequestInline"
      required:
        - partyType
        - roles
    CreateClientRequestSmbdo:
      type: object
      properties:
        attestations:
          type: array
          items:
            $ref: "#/components/schemas/Attestation"
          minItems: 1
          maxItems: 10
        parties:
          type: array
          items:
            $ref: "#/components/schemas/CreatePartyRequestInlineRequired"
          minItems: 1
          maxItems: 10
        partyId:
          $ref: "#/components/schemas/PartyId"
        products:
          $ref: "#/components/schemas/ProductList"
      required:
        - products
    ProfileStatus:
      type: string
      enum:
        - NEW
        - REVIEW_IN_PROGRESS
        - INFORMATION_REQUESTED
        - APPROVED
        - DECLINED
        - SUSPENDED
        - TERMINATED
    PartyStatus:
      type: string
      enum:
        - ACTIVE
        - INACTIVE
    ValidationStatus:
      type: string
      description: |
        Status of a party validation. Missing fields result in `NEEDS_INFO`.
      enum:
        - NOT_STARTED
        - IN_PROGRESS
        - NOT_VALIDATED
        - NEEDS_INFO
        - NEEDS_REVIEW
        - VALIDATED
    ValidationType:
      type: string
      enum:
        - ENTITY_VALIDATION
    PartyField:
      description: A party field. It refers to either a missing field or a field that needs to be updated.
      type: object
      properties:
        name:
          type: string
          description: Name of the field.
          example: addresses
        type:
          type: string
          description: Type of the field.
          example: address
        displayName:
          type: string
          description: Display name of the field.
    ValidationResponse:
      description: List of validation info.
      type: array
      items:
        type: object
        properties:
          validationStatus:
            $ref: "#/components/schemas/ValidationStatus"
          validationType:
            $ref: "#/components/schemas/ValidationType"
          comments:
            type: string
            description: Comments/basic response related to the workflow step of validation response.
          fields:
            type: array
            items:
              $ref: "#/components/schemas/PartyField"
            minItems: 0
            maxItems: 100
          identities:
            type: array
            items:
              type: string
            minItems: 0
            maxItems: 10
          documentRequestIds:
            type: array
            items:
              type: string
              maxLength: 10
              description: The id of the document request.
            minItems: 0
            maxItems: 10
      minItems: 0
      maxItems: 10
    PartyResponse:
      type: object
      properties:
        access:
          $ref: "#/components/schemas/AccessList"
        id:
          $ref: "#/components/schemas/PartyId"
        createdAt:
          type: string
          format: date-time
          example: 2017-07-21T17:32:28.000Z
        email:
          $ref: "#/components/schemas/Email"
        externalId:
          $ref: "#/components/schemas/ExternalId"
        partyType:
          $ref: "#/components/schemas/PartyTypeSmbdo"
        parentPartyId:
          $ref: "#/components/schemas/ParentPartyId"
        parentExternalId:
          $ref: "#/components/schemas/ExternalId"
        profileStatus:
          $ref: "#/components/schemas/ProfileStatus"
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
          minItems: 0
          maxItems: 10
        status:
          $ref: "#/components/schemas/PartyStatus"
        validationResponse:
          $ref: "#/components/schemas/ValidationResponse"
        individualDetails:
          $ref: "#/components/schemas/IndividualDetails"
        organizationDetails:
          $ref: "#/components/schemas/OrganizationDetails"
    ResponseValueList:
      description: |
        The values of a question response. Each item is a string that will be validated according to the question's responseSchema.
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 20
    QuestionResponse:
      description: The client's response to a question.
      type: object
      properties:
        questionId:
          example: "30001"
          type: string
          maxLength: 10
        values:
          $ref: "#/components/schemas/ResponseValueList"
    ClientResponse:
      type: object
      properties:
        attestations:
          type: array
          items:
            $ref: "#/components/schemas/Attestation"
          minItems: 0
          maxItems: 10
        id:
          $ref: "#/components/schemas/ClientId"
        parties:
          type: array
          items:
            $ref: "#/components/schemas/PartyResponse"
          minItems: 0
        partyId:
          $ref: "#/components/schemas/PartyId"
        products:
          $ref: "#/components/schemas/ProductList"
        outstanding:
          type: object
          properties:
            attestationDocumentIds:
              $ref: "#/components/schemas/DocumentIdList"
            documentRequestIds:
              $ref: "#/components/schemas/DocumentRequestIdList"
            questionIds:
              $ref: "#/components/schemas/QuestionIdList"
            partyIds:
              $ref: "#/components/schemas/PartyIdList"
            partyRoles:
              $ref: "#/components/schemas/PartyRoleList"
        questionResponses:
          type: array
          items:
            $ref: "#/components/schemas/QuestionResponse"
          minItems: 0
          maxItems: 200
        status:
          $ref: "#/components/schemas/ClientStatus"
      required:
        - id
        - partyId
        - products
        - outstanding
        - status
    UpdatePartyRequestInline:
      description: Update a party inline within the clients API by supplying its ID.
      type: object
      properties:
        access:
          $ref: "#/components/schemas/AccessList"
        id:
          $ref: "#/components/schemas/PartyId"
        email:
          $ref: "#/components/schemas/Email"
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
          minItems: 1
          maxItems: 10
        individualDetails:
          $ref: "#/components/schemas/IndividualDetails"
        organizationDetails:
          $ref: "#/components/schemas/OrganizationDetails"
    AttestationRemoval:
      description: Describes which attestation to remove. An existing attestation with a matching `documentId` will be removed.
      type: object
      properties:
        documentId:
          $ref: "#/components/schemas/DocumentId"
      required:
        - documentId
    UpdateClientRequestSmbdo:
      type: object
      properties:
        addAttestations:
          type: array
          items:
            $ref: "#/components/schemas/Attestation"
          minItems: 1
          maxItems: 10
        addProducts:
          $ref: "#/components/schemas/ProductList"
        addParties:
          description: |
            Update a party by specifying its ID in the object. Create a party by setting `parentPartyId` to the client's root party. `partyType` and `roles` are required when creating a new party.
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/CreatePartyRequestInline"
              - $ref: "#/components/schemas/UpdatePartyRequestInline"
          minItems: 0
          minLength: 1
          maxLength: 10
        questionResponses:
          type: array
          items:
            $ref: "#/components/schemas/QuestionResponse"
          minItems: 0
          maxItems: 200
        removeAttestations:
          type: array
          items:
            $ref: "#/components/schemas/AttestationRemoval"
          minItems: 1
          maxItems: 10
    Name:
      type: string
      minLength: 1
      maxLength: 500
      description: The name of the party. A party can be an individual or an organization.
    PartySummaryResponse:
      type: object
      properties:
        country:
          $ref: "#/components/schemas/CountryCodeIsoAlpha2"
        createdAt:
          type: string
          format: date-time
          example: 2017-07-21T17:32:28.000Z
        externalId:
          $ref: "#/components/schemas/ExternalId"
        id:
          $ref: "#/components/schemas/PartyId"
        parentPartyId:
          $ref: "#/components/schemas/ParentPartyId"
        partyType:
          $ref: "#/components/schemas/PartyTypeSmbdo"
        profileStatus:
          $ref: "#/components/schemas/ProfileStatus"
        name:
          $ref: "#/components/schemas/Name"
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
          minItems: 0
          maxItems: 10
        status:
          $ref: "#/components/schemas/PartyStatus"
    PartyListResponse:
      type: object
      properties:
        metadata:
          $ref: "#/components/schemas/PageMetaDataSmbdo"
        parties:
          type: array
          items:
            $ref: "#/components/schemas/PartySummaryResponse"
          minItems: 0
          maxItems: 100
    CreatePartyRequest:
      type: object
      properties:
        access:
          $ref: "#/components/schemas/AccessList"
        email:
          $ref: "#/components/schemas/Email"
        externalId:
          $ref: "#/components/schemas/ExternalId"
        parentPartyId:
          $ref: "#/components/schemas/ParentPartyId"
        parentExternalId:
          $ref: "#/components/schemas/ExternalId"
        partyType:
          $ref: "#/components/schemas/PartyTypeSmbdo"
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
          minItems: 1
          maxItems: 10
        individualDetails:
          $ref: "#/components/schemas/IndividualDetailsRequired"
        organizationDetails:
          $ref: "#/components/schemas/OrganizationDetailsRequired"
      required:
        - partyType
        - roles
    UpdatePartyRequest:
      type: object
[...]
